ul.c-tag-list
    li.c-tag
        span.c-tag__label Tag 1
        a(href='#')
            +icon('close')
    li.c-tag
        span.c-tag__label Tag 2
        a(href='#')
            +icon('close')
    li.c-tag
        span.c-tag__label Tag 3
        a(href='#')
            +icon('close')
