nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item
                a.nav-link.disabled(href='#') Disabled
        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-secondary.my-2.my-sm-0(type='submit') Search
