.grid.grid--is-stacked
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .info-tile
            header.info-tile__header
                .info-tile__header__wrapper
                    h3.info-tile__header__title Info tile
                    p.info-tile__header__subtitle
                        | uw zoon (19.05.2005) 
                        br
                        |                     niet verwant aan referentiepersoon
    // end component
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .info-tile
            header.info-tile__header
                .info-tile__badge__wrapper
                    .badge.badge--m
                        img(src="https://placehold.it/140x140" alt="badge example")
                .info-tile__header__wrapper
                    h3.info-tile__header__title Info tile met een badge
                    p.info-tile__header__subtitle
                        | uw zoon (19.05.2005) 
                        br
                        |                     niet verwant aan referentiepersoon
    // end component
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        a.info-tile.info-tile--clickable(href="#")
            .info-tile__header
                .info-tile__header__wrapper
                    h3.info-tile__header__title Info tile is een clickable
                    p.info-tile__header__subtitle
                        | uw zoon (19.05.2005) 
                        br
                        |                     niet verwant aan referentiepersoon
    // end component
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .info-tile.info-tile--badge-bottom
            header.info-tile__header
                .info-tile__badge__wrapper
                    .badge.badge--m.badge--icon.badge--accent
                        i.badge__icon.vi.vi-document-small(aria-hidden="true")
                        span.u-visually-hidden Type: Document
                .info-tile__header__wrapper
                    h3.info-tile__header__title Info tile met een badge, inhoud en badges onderaan
                    p.info-tile__header__subtitle 7 maart 2017
            .info-tile__content
                .info-tile__content__wrapper
                    p
                        strong Beslissingsbrief Studietoelage
                    p De studietoelage voor Broos Deprez werd toegekend.
                .info-tile__badges
                    .info-tile__badges__badge.badge.badge--s
                        img(src="https://placehold.it/140x140" alt="badge example")
                    .info-tile__badges__badge.badge.badge--s
                        img(src="https://placehold.it/140x140" alt="badge example")
    // end component
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .info-tile.info-tile--badge-bottom
            header.info-tile__header
                .info-tile__badge__wrapper
                    .badge.badge--m.badge--icon.badge--accent
                        i.badge__icon.vi.vi-document-small(aria-hidden="true")
                        span.u-visually-hidden Type: Document
                .info-tile__header__wrapper
                    h3.info-tile__header__title Info tile met een badge en inhoud
                    p.info-tile__header__subtitle 7 maart 2017
            .info-tile__content
                .info-tile__content__wrapper
                    p
                        strong Beslissingsbrief Studietoelage
                    p De studietoelage voor Broos Deprez werd toegekend.
    // end component
