.grid.grid--is-stacked
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .info-tile.info-tile--date.info-tile--badge-bottom
            .info-tile__date
                p.info-tile__date__main 09
                p.info-tile__date__sub Maa
            .info-tile__date__wrapper
                header.info-tile__header
                    .info-tile__header__wrapper
                        h3.info-tile__header__title
                            | Afspraak Kind en Gezin:
                            br
                            | Elise Deprez
                .info-tile__content
                    .info-tile__content__wrapper
                        p
                            strong Herinnering
                        p bij Kind en Gezin in Mechelen om 15u.
                    .info-tile__badges
                        .info-tile__badges__badge.badge.badge--s.badge--initials.badge--accent
                            span ED
    // end component
    // component
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        a.info-tile.info-tile--date.info-tile--clickable.info-tile--badge-bottom(href="#")
            .info-tile__date
                p.info-tile__date__main 09
                p.info-tile__date__sub Maa
            .info-tile__date__wrapper
                header.info-tile__header
                    .info-tile__header__wrapper
                        h3.info-tile__header__title
                            | Afspraak Kind en Gezin:
                            br
                            | Elise Deprez
                .info-tile__content
                    .info-tile__content__wrapper
                        p
                            strong Herinnering
                        p bij Kind en Gezin in Mechelen om 15u.
                    .info-tile__badges
                        .info-tile__badges__badge.badge.badge--s.badge--initials.badge--accent
                            span ED
    // end component
