extends /templates/_layouts/master

block body

    if error
        p(style="color: red") 
            span(data-lang="langEn") Hey! Some fields were marked as invalid.
            span(data-lang="langFr") Oups! Certain champs sont invalides.

    p
        label
            span(data-lang="langEn") First Name
            span(data-lang="langFr") Nom
        input(type="text")
    p
        label
            span(data-lang="langEn") Last Name
            span(data-lang="langFr") Prénom
        input(type="text")
    p
        label
            span(data-lang="langEn") Message
            span(data-lang="langFr") Message
        textarea

    input(type="submit")
