extends /templates/_layouts/master

block body

    if error
        p(style="color: red") Hey! Some fields were marked as invalid.

    p
        label First Name
        input(type="text")
    p
        label Last Name
        input(type="text")
    p
        label Message
        textarea

    input(type="submit")
