include ../mixins/render-page-tree

#__prototype-nav.br-prototype-nav
    .br-prototype-nav-inner
        h3.br-prototype-nav-main-heading Prototype navigation
        p.br-prototype-nav-text Press Ctrl + M to toggle this navigation.
        +renderPageTree
        +renderPageTree
        +renderPageTree
        +renderPageTree
        +renderPageTree
        +renderPageTree
        +renderPageTree
