.br-styleguide-navigation-holder
    each docsCategoryName in config.styleguide.categoryOrder
        if docsCategoryName === 'Components'
            h4.br-bordered-list-title Components
            each category, categoryName in patterns.byCategory
                if Object.keys(patterns.byCategory).length > 1
                    h4.br-bordered-list-title= categoryName
                ul.br-bordered-list
                    each group in category
                        - var groupName = group.docs ? group.docs.attributes.title || group.group.id : group.group.id
                        li
                            a(href="/styleguide/#{group.group.id}.html")= groupName

        if docs.byCategory[docsCategoryName]
            h4.br-bordered-list-title= docsCategoryName
            ul.br-bordered-list
                each doc in docs.byCategory[docsCategoryName]
                    li: a(href="/styleguide/docs/#{doc.attributes.filename}.html")= doc.attributes.title

