extends ../../layouts/master

block body

    h1 Icons: icon font method

    p This page shows icons that come from the icon font.

    i.glyphicon.glyphicon-add
    i.glyphicon.glyphicon-arrow-down
    i.glyphicon.glyphicon-remove
