div(style="margin-bottom: 150px;")
    .c-navbar.c-navbar--bordered-bottom
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    h2.c-toolbar__title Toolbar title
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--default
                            .c-button__content
                                .c-button__label Button content
                        button.c-button.c-button--default(data-dropdown="dropdownMenu" data-dropdown-autosize="true")
                            .c-button__content
                                .c-button__label Open dropdown
                                +icon('arrows/caret-down')
                        .c-menu(id="dropdownMenu")
                            a.c-menu__item(href="#")
                                .c-menu__label Item A
                            a.c-menu__item(href="#")
                                .c-menu__label Item B
                            a.c-menu__item(href="#")
                                .c-menu__label Item C
                            .c-menu__divider
                            a.c-menu__item(href="#")
                                .c-menu__label Extra Item
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--icon.c-button--default
                            .c-button__content
                                +icon('add')
                                .u-sr-accessible Button label
                        button.c-button.c-button--icon.c-button--default
                            .c-button__content
                                +icon('edit')
                                .u-sr-accessible Button label