.c-navbar.c-navbar--double-spaced.c-navbar--bordered-bottom.c-navbar--auto.c-navbar--gray-50
    .c-toolbar.c-toolbar--small
        .c-toolbar__left
            .c-toolbar__item
                .c-toolbar__title.c-toolbar__title--small Gegevens
        .c-toolbar__right
            .c-toolbar__item
                a(href="#") Bekijk alle gegevens
