i.material-icons.mdc-button__icon(aria-hidden="true") 3d_rotation
i.material-icons.mdc-button__icon(aria-hidden="true") accessibility
i.material-icons.mdc-button__icon(aria-hidden="true") accessible
i.material-icons.mdc-button__icon(aria-hidden="true") account_balance
i.material-icons.mdc-button__icon(aria-hidden="true") account_balance_wallet
i.material-icons.mdc-button__icon(aria-hidden="true") account_box
i.material-icons.mdc-button__icon(aria-hidden="true") account_circle
i.material-icons.mdc-button__icon(aria-hidden="true") add_shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") alarm
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_add
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_off
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_on
i.material-icons.mdc-button__icon(aria-hidden="true") all_out
i.material-icons.mdc-button__icon(aria-hidden="true") android
i.material-icons.mdc-button__icon(aria-hidden="true") announcement
i.material-icons.mdc-button__icon(aria-hidden="true") aspect_ratio
i.material-icons.mdc-button__icon(aria-hidden="true") assessment
i.material-icons.mdc-button__icon(aria-hidden="true") assignment
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_ind
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_late
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_return
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_returned
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_turned_in
i.material-icons.mdc-button__icon(aria-hidden="true") autorenew
i.material-icons.mdc-button__icon(aria-hidden="true") backup
i.material-icons.mdc-button__icon(aria-hidden="true") book
i.material-icons.mdc-button__icon(aria-hidden="true") bookmark
i.material-icons.mdc-button__icon(aria-hidden="true") bookmark_border
i.material-icons.mdc-button__icon(aria-hidden="true") bug_report
i.material-icons.mdc-button__icon(aria-hidden="true") build
i.material-icons.mdc-button__icon(aria-hidden="true") cached
i.material-icons.mdc-button__icon(aria-hidden="true") camera_enhance
i.material-icons.mdc-button__icon(aria-hidden="true") card_giftcard
i.material-icons.mdc-button__icon(aria-hidden="true") card_membership
i.material-icons.mdc-button__icon(aria-hidden="true") card_travel
i.material-icons.mdc-button__icon(aria-hidden="true") change_history
i.material-icons.mdc-button__icon(aria-hidden="true") check_circle
i.material-icons.mdc-button__icon(aria-hidden="true") chrome_reader_mode
i.material-icons.mdc-button__icon(aria-hidden="true") class
i.material-icons.mdc-button__icon(aria-hidden="true") code
i.material-icons.mdc-button__icon(aria-hidden="true") compare_arrows
i.material-icons.mdc-button__icon(aria-hidden="true") copyright
i.material-icons.mdc-button__icon(aria-hidden="true") credit_card
i.material-icons.mdc-button__icon(aria-hidden="true") dashboard
i.material-icons.mdc-button__icon(aria-hidden="true") date_range
i.material-icons.mdc-button__icon(aria-hidden="true") delete
i.material-icons.mdc-button__icon(aria-hidden="true") delete_forever
i.material-icons.mdc-button__icon(aria-hidden="true") description
i.material-icons.mdc-button__icon(aria-hidden="true") dns
i.material-icons.mdc-button__icon(aria-hidden="true") done
i.material-icons.mdc-button__icon(aria-hidden="true") done_all
i.material-icons.mdc-button__icon(aria-hidden="true") donut_large
i.material-icons.mdc-button__icon(aria-hidden="true") donut_small
i.material-icons.mdc-button__icon(aria-hidden="true") eject
i.material-icons.mdc-button__icon(aria-hidden="true") euro_symbol
i.material-icons.mdc-button__icon(aria-hidden="true") event
i.material-icons.mdc-button__icon(aria-hidden="true") event_seat
i.material-icons.mdc-button__icon(aria-hidden="true") exit_to_app
i.material-icons.mdc-button__icon(aria-hidden="true") explore
i.material-icons.mdc-button__icon(aria-hidden="true") extension
i.material-icons.mdc-button__icon(aria-hidden="true") face
i.material-icons.mdc-button__icon(aria-hidden="true") favorite
i.material-icons.mdc-button__icon(aria-hidden="true") favorite_border
i.material-icons.mdc-button__icon(aria-hidden="true") feedback
i.material-icons.mdc-button__icon(aria-hidden="true") find_in_page
i.material-icons.mdc-button__icon(aria-hidden="true") find_replace
i.material-icons.mdc-button__icon(aria-hidden="true") fingerprint
i.material-icons.mdc-button__icon(aria-hidden="true") flight_land
i.material-icons.mdc-button__icon(aria-hidden="true") flight_takeoff
i.material-icons.mdc-button__icon(aria-hidden="true") flip_to_back
i.material-icons.mdc-button__icon(aria-hidden="true") flip_to_front
i.material-icons.mdc-button__icon(aria-hidden="true") g_translate
i.material-icons.mdc-button__icon(aria-hidden="true") gavel
i.material-icons.mdc-button__icon(aria-hidden="true") get_app
i.material-icons.mdc-button__icon(aria-hidden="true") gif
i.material-icons.mdc-button__icon(aria-hidden="true") grade
i.material-icons.mdc-button__icon(aria-hidden="true") group_work
i.material-icons.mdc-button__icon(aria-hidden="true") help
i.material-icons.mdc-button__icon(aria-hidden="true") help_outline
i.material-icons.mdc-button__icon(aria-hidden="true") highlight_off
i.material-icons.mdc-button__icon(aria-hidden="true") history
i.material-icons.mdc-button__icon(aria-hidden="true") home
i.material-icons.mdc-button__icon(aria-hidden="true") hourglass_empty
i.material-icons.mdc-button__icon(aria-hidden="true") hourglass_full
i.material-icons.mdc-button__icon(aria-hidden="true") http
i.material-icons.mdc-button__icon(aria-hidden="true") https
i.material-icons.mdc-button__icon(aria-hidden="true") important_devices
i.material-icons.mdc-button__icon(aria-hidden="true") info
i.material-icons.mdc-button__icon(aria-hidden="true") info_outline
i.material-icons.mdc-button__icon(aria-hidden="true") input
i.material-icons.mdc-button__icon(aria-hidden="true") invert_colors
i.material-icons.mdc-button__icon(aria-hidden="true") label
i.material-icons.mdc-button__icon(aria-hidden="true") label_outline
i.material-icons.mdc-button__icon(aria-hidden="true") language
i.material-icons.mdc-button__icon(aria-hidden="true") launch
i.material-icons.mdc-button__icon(aria-hidden="true") lightbulb_outline
i.material-icons.mdc-button__icon(aria-hidden="true") line_style
i.material-icons.mdc-button__icon(aria-hidden="true") line_weight
i.material-icons.mdc-button__icon(aria-hidden="true") list
i.material-icons.mdc-button__icon(aria-hidden="true") lock
i.material-icons.mdc-button__icon(aria-hidden="true") lock_open
i.material-icons.mdc-button__icon(aria-hidden="true") lock_outline
i.material-icons.mdc-button__icon(aria-hidden="true") loyalty
i.material-icons.mdc-button__icon(aria-hidden="true") markunread_mailbox
i.material-icons.mdc-button__icon(aria-hidden="true") motorcycle
i.material-icons.mdc-button__icon(aria-hidden="true") note_add
i.material-icons.mdc-button__icon(aria-hidden="true") offline_pin
i.material-icons.mdc-button__icon(aria-hidden="true") opacity
i.material-icons.mdc-button__icon(aria-hidden="true") open_in_browser
i.material-icons.mdc-button__icon(aria-hidden="true") open_in_new
i.material-icons.mdc-button__icon(aria-hidden="true") open_with
i.material-icons.mdc-button__icon(aria-hidden="true") pageview
i.material-icons.mdc-button__icon(aria-hidden="true") pan_tool
i.material-icons.mdc-button__icon(aria-hidden="true") payment
i.material-icons.mdc-button__icon(aria-hidden="true") perm_camera_mic
i.material-icons.mdc-button__icon(aria-hidden="true") perm_contact_calendar
i.material-icons.mdc-button__icon(aria-hidden="true") perm_data_setting
i.material-icons.mdc-button__icon(aria-hidden="true") perm_device_information
i.material-icons.mdc-button__icon(aria-hidden="true") perm_identity
i.material-icons.mdc-button__icon(aria-hidden="true") perm_media
i.material-icons.mdc-button__icon(aria-hidden="true") perm_phone_msg
i.material-icons.mdc-button__icon(aria-hidden="true") perm_scan_wifi
i.material-icons.mdc-button__icon(aria-hidden="true") pets
i.material-icons.mdc-button__icon(aria-hidden="true") picture_in_picture
i.material-icons.mdc-button__icon(aria-hidden="true") picture_in_picture_alt
i.material-icons.mdc-button__icon(aria-hidden="true") play_for_work
i.material-icons.mdc-button__icon(aria-hidden="true") polymer
i.material-icons.mdc-button__icon(aria-hidden="true") power_settings_new
i.material-icons.mdc-button__icon(aria-hidden="true") pregnant_woman
i.material-icons.mdc-button__icon(aria-hidden="true") print
i.material-icons.mdc-button__icon(aria-hidden="true") query_builder
i.material-icons.mdc-button__icon(aria-hidden="true") question_answer
i.material-icons.mdc-button__icon(aria-hidden="true") receipt
i.material-icons.mdc-button__icon(aria-hidden="true") record_voice_over
i.material-icons.mdc-button__icon(aria-hidden="true") redeem
i.material-icons.mdc-button__icon(aria-hidden="true") remove_shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") reorder
i.material-icons.mdc-button__icon(aria-hidden="true") report_problem
i.material-icons.mdc-button__icon(aria-hidden="true") restore
i.material-icons.mdc-button__icon(aria-hidden="true") restore_page
i.material-icons.mdc-button__icon(aria-hidden="true") room
i.material-icons.mdc-button__icon(aria-hidden="true") rounded_corner
i.material-icons.mdc-button__icon(aria-hidden="true") rowing
i.material-icons.mdc-button__icon(aria-hidden="true") schedule
i.material-icons.mdc-button__icon(aria-hidden="true") search
i.material-icons.mdc-button__icon(aria-hidden="true") settings
i.material-icons.mdc-button__icon(aria-hidden="true") settings_applications
i.material-icons.mdc-button__icon(aria-hidden="true") settings_backup_restore
i.material-icons.mdc-button__icon(aria-hidden="true") settings_bluetooth
i.material-icons.mdc-button__icon(aria-hidden="true") settings_brightness
i.material-icons.mdc-button__icon(aria-hidden="true") settings_cell
i.material-icons.mdc-button__icon(aria-hidden="true") settings_ethernet
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_antenna
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_component
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_composite
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_hdmi
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_svideo
i.material-icons.mdc-button__icon(aria-hidden="true") settings_overscan
i.material-icons.mdc-button__icon(aria-hidden="true") settings_phone
i.material-icons.mdc-button__icon(aria-hidden="true") settings_power
i.material-icons.mdc-button__icon(aria-hidden="true") settings_remote
i.material-icons.mdc-button__icon(aria-hidden="true") settings_voice
i.material-icons.mdc-button__icon(aria-hidden="true") shop
i.material-icons.mdc-button__icon(aria-hidden="true") shop_two
i.material-icons.mdc-button__icon(aria-hidden="true") shopping_basket
i.material-icons.mdc-button__icon(aria-hidden="true") shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_notes
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_notes_off
i.material-icons.mdc-button__icon(aria-hidden="true") spellcheck
i.material-icons.mdc-button__icon(aria-hidden="true") stars
i.material-icons.mdc-button__icon(aria-hidden="true") store
i.material-icons.mdc-button__icon(aria-hidden="true") subject
i.material-icons.mdc-button__icon(aria-hidden="true") supervisor_account
i.material-icons.mdc-button__icon(aria-hidden="true") swap_horiz
i.material-icons.mdc-button__icon(aria-hidden="true") swap_vert
i.material-icons.mdc-button__icon(aria-hidden="true") swap_vertical_circle
i.material-icons.mdc-button__icon(aria-hidden="true") system_update_alt
i.material-icons.mdc-button__icon(aria-hidden="true") tab
i.material-icons.mdc-button__icon(aria-hidden="true") tab_unselected
i.material-icons.mdc-button__icon(aria-hidden="true") theaters
i.material-icons.mdc-button__icon(aria-hidden="true") thumb_down
i.material-icons.mdc-button__icon(aria-hidden="true") thumb_up
i.material-icons.mdc-button__icon(aria-hidden="true") thumbs_up_down
i.material-icons.mdc-button__icon(aria-hidden="true") timeline
i.material-icons.mdc-button__icon(aria-hidden="true") toc
i.material-icons.mdc-button__icon(aria-hidden="true") today
i.material-icons.mdc-button__icon(aria-hidden="true") toll
i.material-icons.mdc-button__icon(aria-hidden="true") touch_app
i.material-icons.mdc-button__icon(aria-hidden="true") track_changes
i.material-icons.mdc-button__icon(aria-hidden="true") translate
i.material-icons.mdc-button__icon(aria-hidden="true") trending_down
i.material-icons.mdc-button__icon(aria-hidden="true") trending_flat
i.material-icons.mdc-button__icon(aria-hidden="true") trending_up
i.material-icons.mdc-button__icon(aria-hidden="true") turned_in
i.material-icons.mdc-button__icon(aria-hidden="true") turned_in_not
i.material-icons.mdc-button__icon(aria-hidden="true") update
i.material-icons.mdc-button__icon(aria-hidden="true") verified_user
i.material-icons.mdc-button__icon(aria-hidden="true") view_agenda
i.material-icons.mdc-button__icon(aria-hidden="true") view_array
i.material-icons.mdc-button__icon(aria-hidden="true") view_carousel
i.material-icons.mdc-button__icon(aria-hidden="true") view_column
i.material-icons.mdc-button__icon(aria-hidden="true") view_day
i.material-icons.mdc-button__icon(aria-hidden="true") view_headline
i.material-icons.mdc-button__icon(aria-hidden="true") view_list
i.material-icons.mdc-button__icon(aria-hidden="true") view_module
i.material-icons.mdc-button__icon(aria-hidden="true") view_quilt
i.material-icons.mdc-button__icon(aria-hidden="true") view_stream
i.material-icons.mdc-button__icon(aria-hidden="true") view_week
i.material-icons.mdc-button__icon(aria-hidden="true") visibility
i.material-icons.mdc-button__icon(aria-hidden="true") visibility_off
i.material-icons.mdc-button__icon(aria-hidden="true") watch_later
i.material-icons.mdc-button__icon(aria-hidden="true") work
i.material-icons.mdc-button__icon(aria-hidden="true") youtube_searched_for
i.material-icons.mdc-button__icon(aria-hidden="true") zoom_in
i.material-icons.mdc-button__icon(aria-hidden="true") zoom_out


