h3 Action

i.material-icons.mdc-button__icon(aria-hidden="true") 3d_rotation
i.material-icons.mdc-button__icon(aria-hidden="true") accessibility
i.material-icons.mdc-button__icon(aria-hidden="true") accessible
i.material-icons.mdc-button__icon(aria-hidden="true") account_balance
i.material-icons.mdc-button__icon(aria-hidden="true") account_balance_wallet
i.material-icons.mdc-button__icon(aria-hidden="true") account_box
i.material-icons.mdc-button__icon(aria-hidden="true") account_circle
i.material-icons.mdc-button__icon(aria-hidden="true") add_shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") alarm
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_add
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_off
i.material-icons.mdc-button__icon(aria-hidden="true") alarm_on
i.material-icons.mdc-button__icon(aria-hidden="true") all_out
i.material-icons.mdc-button__icon(aria-hidden="true") android
i.material-icons.mdc-button__icon(aria-hidden="true") announcement
i.material-icons.mdc-button__icon(aria-hidden="true") aspect_ratio
i.material-icons.mdc-button__icon(aria-hidden="true") assessment
i.material-icons.mdc-button__icon(aria-hidden="true") assignment
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_ind
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_late
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_return
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_returned
i.material-icons.mdc-button__icon(aria-hidden="true") assignment_turned_in
i.material-icons.mdc-button__icon(aria-hidden="true") autorenew
i.material-icons.mdc-button__icon(aria-hidden="true") backup
i.material-icons.mdc-button__icon(aria-hidden="true") book
i.material-icons.mdc-button__icon(aria-hidden="true") bookmark
i.material-icons.mdc-button__icon(aria-hidden="true") bookmark_border
i.material-icons.mdc-button__icon(aria-hidden="true") bug_report
i.material-icons.mdc-button__icon(aria-hidden="true") build
i.material-icons.mdc-button__icon(aria-hidden="true") cached
i.material-icons.mdc-button__icon(aria-hidden="true") camera_enhance
i.material-icons.mdc-button__icon(aria-hidden="true") card_giftcard
i.material-icons.mdc-button__icon(aria-hidden="true") card_membership
i.material-icons.mdc-button__icon(aria-hidden="true") card_travel
i.material-icons.mdc-button__icon(aria-hidden="true") change_history
i.material-icons.mdc-button__icon(aria-hidden="true") check_circle
i.material-icons.mdc-button__icon(aria-hidden="true") chrome_reader_mode
i.material-icons.mdc-button__icon(aria-hidden="true") class
i.material-icons.mdc-button__icon(aria-hidden="true") code
i.material-icons.mdc-button__icon(aria-hidden="true") compare_arrows
i.material-icons.mdc-button__icon(aria-hidden="true") copyright
i.material-icons.mdc-button__icon(aria-hidden="true") credit_card
i.material-icons.mdc-button__icon(aria-hidden="true") dashboard
i.material-icons.mdc-button__icon(aria-hidden="true") date_range
i.material-icons.mdc-button__icon(aria-hidden="true") delete
i.material-icons.mdc-button__icon(aria-hidden="true") delete_forever
i.material-icons.mdc-button__icon(aria-hidden="true") description
i.material-icons.mdc-button__icon(aria-hidden="true") dns
i.material-icons.mdc-button__icon(aria-hidden="true") done
i.material-icons.mdc-button__icon(aria-hidden="true") done_all
i.material-icons.mdc-button__icon(aria-hidden="true") donut_large
i.material-icons.mdc-button__icon(aria-hidden="true") donut_small
i.material-icons.mdc-button__icon(aria-hidden="true") eject
i.material-icons.mdc-button__icon(aria-hidden="true") euro_symbol
i.material-icons.mdc-button__icon(aria-hidden="true") event
i.material-icons.mdc-button__icon(aria-hidden="true") event_seat
i.material-icons.mdc-button__icon(aria-hidden="true") exit_to_app
i.material-icons.mdc-button__icon(aria-hidden="true") explore
i.material-icons.mdc-button__icon(aria-hidden="true") extension
i.material-icons.mdc-button__icon(aria-hidden="true") face
i.material-icons.mdc-button__icon(aria-hidden="true") favorite
i.material-icons.mdc-button__icon(aria-hidden="true") favorite_border
i.material-icons.mdc-button__icon(aria-hidden="true") feedback
i.material-icons.mdc-button__icon(aria-hidden="true") find_in_page
i.material-icons.mdc-button__icon(aria-hidden="true") find_replace
i.material-icons.mdc-button__icon(aria-hidden="true") fingerprint
i.material-icons.mdc-button__icon(aria-hidden="true") flight_land
i.material-icons.mdc-button__icon(aria-hidden="true") flight_takeoff
i.material-icons.mdc-button__icon(aria-hidden="true") flip_to_back
i.material-icons.mdc-button__icon(aria-hidden="true") flip_to_front
i.material-icons.mdc-button__icon(aria-hidden="true") g_translate
i.material-icons.mdc-button__icon(aria-hidden="true") gavel
i.material-icons.mdc-button__icon(aria-hidden="true") get_app
i.material-icons.mdc-button__icon(aria-hidden="true") gif
i.material-icons.mdc-button__icon(aria-hidden="true") grade
i.material-icons.mdc-button__icon(aria-hidden="true") group_work
i.material-icons.mdc-button__icon(aria-hidden="true") help
i.material-icons.mdc-button__icon(aria-hidden="true") help_outline
i.material-icons.mdc-button__icon(aria-hidden="true") highlight_off
i.material-icons.mdc-button__icon(aria-hidden="true") history
i.material-icons.mdc-button__icon(aria-hidden="true") home
i.material-icons.mdc-button__icon(aria-hidden="true") hourglass_empty
i.material-icons.mdc-button__icon(aria-hidden="true") hourglass_full
i.material-icons.mdc-button__icon(aria-hidden="true") http
i.material-icons.mdc-button__icon(aria-hidden="true") https
i.material-icons.mdc-button__icon(aria-hidden="true") important_devices
i.material-icons.mdc-button__icon(aria-hidden="true") info
i.material-icons.mdc-button__icon(aria-hidden="true") info_outline
i.material-icons.mdc-button__icon(aria-hidden="true") input
i.material-icons.mdc-button__icon(aria-hidden="true") invert_colors
i.material-icons.mdc-button__icon(aria-hidden="true") label
i.material-icons.mdc-button__icon(aria-hidden="true") label_outline
i.material-icons.mdc-button__icon(aria-hidden="true") language
i.material-icons.mdc-button__icon(aria-hidden="true") launch
i.material-icons.mdc-button__icon(aria-hidden="true") lightbulb_outline
i.material-icons.mdc-button__icon(aria-hidden="true") line_style
i.material-icons.mdc-button__icon(aria-hidden="true") line_weight
i.material-icons.mdc-button__icon(aria-hidden="true") list
i.material-icons.mdc-button__icon(aria-hidden="true") lock
i.material-icons.mdc-button__icon(aria-hidden="true") lock_open
i.material-icons.mdc-button__icon(aria-hidden="true") lock_outline
i.material-icons.mdc-button__icon(aria-hidden="true") loyalty
i.material-icons.mdc-button__icon(aria-hidden="true") markunread_mailbox
i.material-icons.mdc-button__icon(aria-hidden="true") motorcycle
i.material-icons.mdc-button__icon(aria-hidden="true") note_add
i.material-icons.mdc-button__icon(aria-hidden="true") offline_pin
i.material-icons.mdc-button__icon(aria-hidden="true") opacity
i.material-icons.mdc-button__icon(aria-hidden="true") open_in_browser
i.material-icons.mdc-button__icon(aria-hidden="true") open_in_new
i.material-icons.mdc-button__icon(aria-hidden="true") open_with
i.material-icons.mdc-button__icon(aria-hidden="true") pageview
i.material-icons.mdc-button__icon(aria-hidden="true") pan_tool
i.material-icons.mdc-button__icon(aria-hidden="true") payment
i.material-icons.mdc-button__icon(aria-hidden="true") perm_camera_mic
i.material-icons.mdc-button__icon(aria-hidden="true") perm_contact_calendar
i.material-icons.mdc-button__icon(aria-hidden="true") perm_data_setting
i.material-icons.mdc-button__icon(aria-hidden="true") perm_device_information
i.material-icons.mdc-button__icon(aria-hidden="true") perm_identity
i.material-icons.mdc-button__icon(aria-hidden="true") perm_media
i.material-icons.mdc-button__icon(aria-hidden="true") perm_phone_msg
i.material-icons.mdc-button__icon(aria-hidden="true") perm_scan_wifi
i.material-icons.mdc-button__icon(aria-hidden="true") pets
i.material-icons.mdc-button__icon(aria-hidden="true") picture_in_picture
i.material-icons.mdc-button__icon(aria-hidden="true") picture_in_picture_alt
i.material-icons.mdc-button__icon(aria-hidden="true") play_for_work
i.material-icons.mdc-button__icon(aria-hidden="true") polymer
i.material-icons.mdc-button__icon(aria-hidden="true") power_settings_new
i.material-icons.mdc-button__icon(aria-hidden="true") pregnant_woman
i.material-icons.mdc-button__icon(aria-hidden="true") print
i.material-icons.mdc-button__icon(aria-hidden="true") query_builder
i.material-icons.mdc-button__icon(aria-hidden="true") question_answer
i.material-icons.mdc-button__icon(aria-hidden="true") receipt
i.material-icons.mdc-button__icon(aria-hidden="true") record_voice_over
i.material-icons.mdc-button__icon(aria-hidden="true") redeem
i.material-icons.mdc-button__icon(aria-hidden="true") remove_shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") reorder
i.material-icons.mdc-button__icon(aria-hidden="true") report_problem
i.material-icons.mdc-button__icon(aria-hidden="true") restore
i.material-icons.mdc-button__icon(aria-hidden="true") restore_page
i.material-icons.mdc-button__icon(aria-hidden="true") room
i.material-icons.mdc-button__icon(aria-hidden="true") rounded_corner
i.material-icons.mdc-button__icon(aria-hidden="true") rowing
i.material-icons.mdc-button__icon(aria-hidden="true") schedule
i.material-icons.mdc-button__icon(aria-hidden="true") search
i.material-icons.mdc-button__icon(aria-hidden="true") settings
i.material-icons.mdc-button__icon(aria-hidden="true") settings_applications
i.material-icons.mdc-button__icon(aria-hidden="true") settings_backup_restore
i.material-icons.mdc-button__icon(aria-hidden="true") settings_bluetooth
i.material-icons.mdc-button__icon(aria-hidden="true") settings_brightness
i.material-icons.mdc-button__icon(aria-hidden="true") settings_cell
i.material-icons.mdc-button__icon(aria-hidden="true") settings_ethernet
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_antenna
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_component
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_composite
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_hdmi
i.material-icons.mdc-button__icon(aria-hidden="true") settings_input_svideo
i.material-icons.mdc-button__icon(aria-hidden="true") settings_overscan
i.material-icons.mdc-button__icon(aria-hidden="true") settings_phone
i.material-icons.mdc-button__icon(aria-hidden="true") settings_power
i.material-icons.mdc-button__icon(aria-hidden="true") settings_remote
i.material-icons.mdc-button__icon(aria-hidden="true") settings_voice
i.material-icons.mdc-button__icon(aria-hidden="true") shop
i.material-icons.mdc-button__icon(aria-hidden="true") shop_two
i.material-icons.mdc-button__icon(aria-hidden="true") shopping_basket
i.material-icons.mdc-button__icon(aria-hidden="true") shopping_cart
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_notes
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_notes_off
i.material-icons.mdc-button__icon(aria-hidden="true") spellcheck
i.material-icons.mdc-button__icon(aria-hidden="true") stars
i.material-icons.mdc-button__icon(aria-hidden="true") store
i.material-icons.mdc-button__icon(aria-hidden="true") subject
i.material-icons.mdc-button__icon(aria-hidden="true") supervisor_account
i.material-icons.mdc-button__icon(aria-hidden="true") swap_horiz
i.material-icons.mdc-button__icon(aria-hidden="true") swap_vert
i.material-icons.mdc-button__icon(aria-hidden="true") swap_vertical_circle
i.material-icons.mdc-button__icon(aria-hidden="true") system_update_alt
i.material-icons.mdc-button__icon(aria-hidden="true") tab
i.material-icons.mdc-button__icon(aria-hidden="true") tab_unselected
i.material-icons.mdc-button__icon(aria-hidden="true") theaters
i.material-icons.mdc-button__icon(aria-hidden="true") thumb_down
i.material-icons.mdc-button__icon(aria-hidden="true") thumb_up
i.material-icons.mdc-button__icon(aria-hidden="true") thumbs_up_down
i.material-icons.mdc-button__icon(aria-hidden="true") timeline
i.material-icons.mdc-button__icon(aria-hidden="true") toc
i.material-icons.mdc-button__icon(aria-hidden="true") today
i.material-icons.mdc-button__icon(aria-hidden="true") toll
i.material-icons.mdc-button__icon(aria-hidden="true") touch_app
i.material-icons.mdc-button__icon(aria-hidden="true") track_changes
i.material-icons.mdc-button__icon(aria-hidden="true") translate
i.material-icons.mdc-button__icon(aria-hidden="true") trending_down
i.material-icons.mdc-button__icon(aria-hidden="true") trending_flat
i.material-icons.mdc-button__icon(aria-hidden="true") trending_up
i.material-icons.mdc-button__icon(aria-hidden="true") turned_in
i.material-icons.mdc-button__icon(aria-hidden="true") turned_in_not
i.material-icons.mdc-button__icon(aria-hidden="true") update
i.material-icons.mdc-button__icon(aria-hidden="true") verified_user
i.material-icons.mdc-button__icon(aria-hidden="true") view_agenda
i.material-icons.mdc-button__icon(aria-hidden="true") view_array
i.material-icons.mdc-button__icon(aria-hidden="true") view_carousel
i.material-icons.mdc-button__icon(aria-hidden="true") view_column
i.material-icons.mdc-button__icon(aria-hidden="true") view_day
i.material-icons.mdc-button__icon(aria-hidden="true") view_headline
i.material-icons.mdc-button__icon(aria-hidden="true") view_list
i.material-icons.mdc-button__icon(aria-hidden="true") view_module
i.material-icons.mdc-button__icon(aria-hidden="true") view_quilt
i.material-icons.mdc-button__icon(aria-hidden="true") view_stream
i.material-icons.mdc-button__icon(aria-hidden="true") view_week
i.material-icons.mdc-button__icon(aria-hidden="true") visibility
i.material-icons.mdc-button__icon(aria-hidden="true") visibility_off
i.material-icons.mdc-button__icon(aria-hidden="true") watch_later
i.material-icons.mdc-button__icon(aria-hidden="true") work
i.material-icons.mdc-button__icon(aria-hidden="true") youtube_searched_for
i.material-icons.mdc-button__icon(aria-hidden="true") zoom_in
i.material-icons.mdc-button__icon(aria-hidden="true") zoom_out


h3 Alert

i.material-icons.mdc-button__icon(aria-hidden="true") add_alert
i.material-icons.mdc-button__icon(aria-hidden="true") error
i.material-icons.mdc-button__icon(aria-hidden="true") error_outline
i.material-icons.mdc-button__icon(aria-hidden="true") warning

h3 Av

i.material-icons.mdc-button__icon(aria-hidden="true") add_to_queue
i.material-icons.mdc-button__icon(aria-hidden="true") airplay
i.material-icons.mdc-button__icon(aria-hidden="true") album
i.material-icons.mdc-button__icon(aria-hidden="true") art_track
i.material-icons.mdc-button__icon(aria-hidden="true") av_timer
i.material-icons.mdc-button__icon(aria-hidden="true") branding_watermark
i.material-icons.mdc-button__icon(aria-hidden="true") call_to_action
i.material-icons.mdc-button__icon(aria-hidden="true") closed_caption
i.material-icons.mdc-button__icon(aria-hidden="true") equalizer
i.material-icons.mdc-button__icon(aria-hidden="true") explicit
i.material-icons.mdc-button__icon(aria-hidden="true") fast_forward
i.material-icons.mdc-button__icon(aria-hidden="true") fast_rewind
i.material-icons.mdc-button__icon(aria-hidden="true") featured_play_list
i.material-icons.mdc-button__icon(aria-hidden="true") featured_video
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_dvr
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_manual_record
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_new
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_pin
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_smart_record
i.material-icons.mdc-button__icon(aria-hidden="true") forward_5
i.material-icons.mdc-button__icon(aria-hidden="true") forward_10
i.material-icons.mdc-button__icon(aria-hidden="true") forward_30
i.material-icons.mdc-button__icon(aria-hidden="true") games
i.material-icons.mdc-button__icon(aria-hidden="true") hd
i.material-icons.mdc-button__icon(aria-hidden="true") hearing
i.material-icons.mdc-button__icon(aria-hidden="true") high_quality
i.material-icons.mdc-button__icon(aria-hidden="true") library_add
i.material-icons.mdc-button__icon(aria-hidden="true") library_books
i.material-icons.mdc-button__icon(aria-hidden="true") library_music
i.material-icons.mdc-button__icon(aria-hidden="true") loop
i.material-icons.mdc-button__icon(aria-hidden="true") mic
i.material-icons.mdc-button__icon(aria-hidden="true") mic_none
i.material-icons.mdc-button__icon(aria-hidden="true") mic_off
i.material-icons.mdc-button__icon(aria-hidden="true") movie
i.material-icons.mdc-button__icon(aria-hidden="true") music_video
i.material-icons.mdc-button__icon(aria-hidden="true") new_releases
i.material-icons.mdc-button__icon(aria-hidden="true") not_interested
i.material-icons.mdc-button__icon(aria-hidden="true") note
i.material-icons.mdc-button__icon(aria-hidden="true") pause
i.material-icons.mdc-button__icon(aria-hidden="true") pause_circle_filled
i.material-icons.mdc-button__icon(aria-hidden="true") pause_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") play_arrow
i.material-icons.mdc-button__icon(aria-hidden="true") play_circle_filled
i.material-icons.mdc-button__icon(aria-hidden="true") play_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_add
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_add_check
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_play
i.material-icons.mdc-button__icon(aria-hidden="true") queue
i.material-icons.mdc-button__icon(aria-hidden="true") queue_music
i.material-icons.mdc-button__icon(aria-hidden="true") queue_play_next
i.material-icons.mdc-button__icon(aria-hidden="true") radio
i.material-icons.mdc-button__icon(aria-hidden="true") recent_actors
i.material-icons.mdc-button__icon(aria-hidden="true") remove_from_queue
i.material-icons.mdc-button__icon(aria-hidden="true") repeat
i.material-icons.mdc-button__icon(aria-hidden="true") repeat_one
i.material-icons.mdc-button__icon(aria-hidden="true") replay_5
i.material-icons.mdc-button__icon(aria-hidden="true") replay_10
i.material-icons.mdc-button__icon(aria-hidden="true") replay
i.material-icons.mdc-button__icon(aria-hidden="true") replay_30
i.material-icons.mdc-button__icon(aria-hidden="true") shuffle
i.material-icons.mdc-button__icon(aria-hidden="true") skip_next
i.material-icons.mdc-button__icon(aria-hidden="true") skip_previous
i.material-icons.mdc-button__icon(aria-hidden="true") slow_motion_video
i.material-icons.mdc-button__icon(aria-hidden="true") snooze
i.material-icons.mdc-button__icon(aria-hidden="true") sort_by_alpha
i.material-icons.mdc-button__icon(aria-hidden="true") stop
i.material-icons.mdc-button__icon(aria-hidden="true") subscriptions
i.material-icons.mdc-button__icon(aria-hidden="true") subtitles
i.material-icons.mdc-button__icon(aria-hidden="true") surround_sound
i.material-icons.mdc-button__icon(aria-hidden="true") video_call
i.material-icons.mdc-button__icon(aria-hidden="true") video_label
i.material-icons.mdc-button__icon(aria-hidden="true") video_library
i.material-icons.mdc-button__icon(aria-hidden="true") videocam
i.material-icons.mdc-button__icon(aria-hidden="true") videocam_off
i.material-icons.mdc-button__icon(aria-hidden="true") volume_down
i.material-icons.mdc-button__icon(aria-hidden="true") volume_mute
i.material-icons.mdc-button__icon(aria-hidden="true") volume_off
i.material-icons.mdc-button__icon(aria-hidden="true") volume_up
i.material-icons.mdc-button__icon(aria-hidden="true") web
i.material-icons.mdc-button__icon(aria-hidden="true") web_asset

h3 Communication

i.material-icons.mdc-button__icon(aria-hidden="true") business
i.material-icons.mdc-button__icon(aria-hidden="true") call
i.material-icons.mdc-button__icon(aria-hidden="true") call_end
i.material-icons.mdc-button__icon(aria-hidden="true") call_made
i.material-icons.mdc-button__icon(aria-hidden="true") call_merge
i.material-icons.mdc-button__icon(aria-hidden="true") call_missed
i.material-icons.mdc-button__icon(aria-hidden="true") call_missed_outgoing
i.material-icons.mdc-button__icon(aria-hidden="true") call_received
i.material-icons.mdc-button__icon(aria-hidden="true") call_split
i.material-icons.mdc-button__icon(aria-hidden="true") chat
i.material-icons.mdc-button__icon(aria-hidden="true") chat_bubble
i.material-icons.mdc-button__icon(aria-hidden="true") chat_bubble_outline
i.material-icons.mdc-button__icon(aria-hidden="true") clear_all
i.material-icons.mdc-button__icon(aria-hidden="true") comment
i.material-icons.mdc-button__icon(aria-hidden="true") contact_mail
i.material-icons.mdc-button__icon(aria-hidden="true") contact_phone
i.material-icons.mdc-button__icon(aria-hidden="true") contacts
i.material-icons.mdc-button__icon(aria-hidden="true") dialer_sip
i.material-icons.mdc-button__icon(aria-hidden="true") dialpad
i.material-icons.mdc-button__icon(aria-hidden="true") email
i.material-icons.mdc-button__icon(aria-hidden="true") forum
i.material-icons.mdc-button__icon(aria-hidden="true") import_contacts
i.material-icons.mdc-button__icon(aria-hidden="true") import_export
i.material-icons.mdc-button__icon(aria-hidden="true") invert_colors_off
i.material-icons.mdc-button__icon(aria-hidden="true") live_help
i.material-icons.mdc-button__icon(aria-hidden="true") location_off
i.material-icons.mdc-button__icon(aria-hidden="true") location_on
i.material-icons.mdc-button__icon(aria-hidden="true") mail_outline
i.material-icons.mdc-button__icon(aria-hidden="true") message
i.material-icons.mdc-button__icon(aria-hidden="true") no_sim
i.material-icons.mdc-button__icon(aria-hidden="true") phone
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_erase
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_lock
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_ring
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_setup
i.material-icons.mdc-button__icon(aria-hidden="true") portable_wifi_off
i.material-icons.mdc-button__icon(aria-hidden="true") present_to_all
i.material-icons.mdc-button__icon(aria-hidden="true") ring_volume
i.material-icons.mdc-button__icon(aria-hidden="true") rss_feed
i.material-icons.mdc-button__icon(aria-hidden="true") screen_share
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_phone
i.material-icons.mdc-button__icon(aria-hidden="true") stay_current_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") stay_current_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") stay_primary_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") stay_primary_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") stop_screen_share
i.material-icons.mdc-button__icon(aria-hidden="true") swap_calls
i.material-icons.mdc-button__icon(aria-hidden="true") textsms
i.material-icons.mdc-button__icon(aria-hidden="true") voicemail
i.material-icons.mdc-button__icon(aria-hidden="true") vpn_key

h3 Content

i.material-icons.mdc-button__icon(aria-hidden="true") add
i.material-icons.mdc-button__icon(aria-hidden="true") add_box
i.material-icons.mdc-button__icon(aria-hidden="true") add_circle
i.material-icons.mdc-button__icon(aria-hidden="true") add_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") archive
i.material-icons.mdc-button__icon(aria-hidden="true") backspace
i.material-icons.mdc-button__icon(aria-hidden="true") block
i.material-icons.mdc-button__icon(aria-hidden="true") clear
i.material-icons.mdc-button__icon(aria-hidden="true") content_copy
i.material-icons.mdc-button__icon(aria-hidden="true") content_cut
i.material-icons.mdc-button__icon(aria-hidden="true") content_paste
i.material-icons.mdc-button__icon(aria-hidden="true") create
i.material-icons.mdc-button__icon(aria-hidden="true") delete_sweep
i.material-icons.mdc-button__icon(aria-hidden="true") drafts
i.material-icons.mdc-button__icon(aria-hidden="true") filter_list
i.material-icons.mdc-button__icon(aria-hidden="true") flag
i.material-icons.mdc-button__icon(aria-hidden="true") font_download
i.material-icons.mdc-button__icon(aria-hidden="true") forward
i.material-icons.mdc-button__icon(aria-hidden="true") gesture
i.material-icons.mdc-button__icon(aria-hidden="true") inbox
i.material-icons.mdc-button__icon(aria-hidden="true") link
i.material-icons.mdc-button__icon(aria-hidden="true") low_priority
i.material-icons.mdc-button__icon(aria-hidden="true") mail
i.material-icons.mdc-button__icon(aria-hidden="true") markunread
i.material-icons.mdc-button__icon(aria-hidden="true") move_to_inbox
i.material-icons.mdc-button__icon(aria-hidden="true") next_week
i.material-icons.mdc-button__icon(aria-hidden="true") redo
i.material-icons.mdc-button__icon(aria-hidden="true") remove
i.material-icons.mdc-button__icon(aria-hidden="true") remove_circle
i.material-icons.mdc-button__icon(aria-hidden="true") remove_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") reply
i.material-icons.mdc-button__icon(aria-hidden="true") reply_all
i.material-icons.mdc-button__icon(aria-hidden="true") report
i.material-icons.mdc-button__icon(aria-hidden="true") save
i.material-icons.mdc-button__icon(aria-hidden="true") select_all
i.material-icons.mdc-button__icon(aria-hidden="true") send
i.material-icons.mdc-button__icon(aria-hidden="true") sort
i.material-icons.mdc-button__icon(aria-hidden="true") text_format
i.material-icons.mdc-button__icon(aria-hidden="true") unarchive
i.material-icons.mdc-button__icon(aria-hidden="true") undo
i.material-icons.mdc-button__icon(aria-hidden="true") weekend

h3 Editor

i.material-icons.mdc-button__icon(aria-hidden="true") attach_file
i.material-icons.mdc-button__icon(aria-hidden="true") attach_money
i.material-icons.mdc-button__icon(aria-hidden="true") border_all
i.material-icons.mdc-button__icon(aria-hidden="true") border_bottom
i.material-icons.mdc-button__icon(aria-hidden="true") border_clear
i.material-icons.mdc-button__icon(aria-hidden="true") border_color
i.material-icons.mdc-button__icon(aria-hidden="true") border_horizontal
i.material-icons.mdc-button__icon(aria-hidden="true") border_inner
i.material-icons.mdc-button__icon(aria-hidden="true") border_left
i.material-icons.mdc-button__icon(aria-hidden="true") border_outer
i.material-icons.mdc-button__icon(aria-hidden="true") border_right
i.material-icons.mdc-button__icon(aria-hidden="true") border_style
i.material-icons.mdc-button__icon(aria-hidden="true") border_top
i.material-icons.mdc-button__icon(aria-hidden="true") border_vertical
i.material-icons.mdc-button__icon(aria-hidden="true") bubble_chart
i.material-icons.mdc-button__icon(aria-hidden="true") drag_handle
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_center
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_justify
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_left
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_right
i.material-icons.mdc-button__icon(aria-hidden="true") format_bold
i.material-icons.mdc-button__icon(aria-hidden="true") format_clear
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_fill
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_reset
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_text
i.material-icons.mdc-button__icon(aria-hidden="true") format_indent_decrease
i.material-icons.mdc-button__icon(aria-hidden="true") format_indent_increase
i.material-icons.mdc-button__icon(aria-hidden="true") format_italic
i.material-icons.mdc-button__icon(aria-hidden="true") format_line_spacing
i.material-icons.mdc-button__icon(aria-hidden="true") format_list_bulleted
i.material-icons.mdc-button__icon(aria-hidden="true") format_list_numbered
i.material-icons.mdc-button__icon(aria-hidden="true") format_paint
i.material-icons.mdc-button__icon(aria-hidden="true") format_quote
i.material-icons.mdc-button__icon(aria-hidden="true") format_shapes
i.material-icons.mdc-button__icon(aria-hidden="true") format_size
i.material-icons.mdc-button__icon(aria-hidden="true") format_strikethrough
i.material-icons.mdc-button__icon(aria-hidden="true") format_textdirection_l_to_r
i.material-icons.mdc-button__icon(aria-hidden="true") format_textdirection_r_to_l
i.material-icons.mdc-button__icon(aria-hidden="true") format_underlined
i.material-icons.mdc-button__icon(aria-hidden="true") functions
i.material-icons.mdc-button__icon(aria-hidden="true") highlight
i.material-icons.mdc-button__icon(aria-hidden="true") insert_chart
i.material-icons.mdc-button__icon(aria-hidden="true") insert_comment
i.material-icons.mdc-button__icon(aria-hidden="true") insert_drive_file
i.material-icons.mdc-button__icon(aria-hidden="true") insert_emoticon
i.material-icons.mdc-button__icon(aria-hidden="true") insert_invitation
i.material-icons.mdc-button__icon(aria-hidden="true") insert_link
i.material-icons.mdc-button__icon(aria-hidden="true") insert_photo
i.material-icons.mdc-button__icon(aria-hidden="true") linear_scale
i.material-icons.mdc-button__icon(aria-hidden="true") merge_type
i.material-icons.mdc-button__icon(aria-hidden="true") mode_comment
i.material-icons.mdc-button__icon(aria-hidden="true") mode_edit
i.material-icons.mdc-button__icon(aria-hidden="true") monetization_on
i.material-icons.mdc-button__icon(aria-hidden="true") money_off
i.material-icons.mdc-button__icon(aria-hidden="true") multiline_chart
i.material-icons.mdc-button__icon(aria-hidden="true") pie_chart
i.material-icons.mdc-button__icon(aria-hidden="true") pie_chart_outlined
i.material-icons.mdc-button__icon(aria-hidden="true") publish
i.material-icons.mdc-button__icon(aria-hidden="true") short_text
i.material-icons.mdc-button__icon(aria-hidden="true") show_chart
i.material-icons.mdc-button__icon(aria-hidden="true") space_bar
i.material-icons.mdc-button__icon(aria-hidden="true") strikethrough_s
i.material-icons.mdc-button__icon(aria-hidden="true") text_fields
i.material-icons.mdc-button__icon(aria-hidden="true") title
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_bottom
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_center
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_top
i.material-icons.mdc-button__icon(aria-hidden="true") wrap_text

h3 File

i.material-icons.mdc-button__icon(aria-hidden="true") attachment
i.material-icons.mdc-button__icon(aria-hidden="true") cloud
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_circle
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_done
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_download
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_off
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_queue
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_upload
i.material-icons.mdc-button__icon(aria-hidden="true") create_new_folder
i.material-icons.mdc-button__icon(aria-hidden="true") file_download
i.material-icons.mdc-button__icon(aria-hidden="true") file_upload
i.material-icons.mdc-button__icon(aria-hidden="true") folder
i.material-icons.mdc-button__icon(aria-hidden="true") folder_open
i.material-icons.mdc-button__icon(aria-hidden="true") folder_shared

h3 Hardware

i.material-icons.mdc-button__icon(aria-hidden="true") cast
i.material-icons.mdc-button__icon(aria-hidden="true") cast_connected
i.material-icons.mdc-button__icon(aria-hidden="true") computer
i.material-icons.mdc-button__icon(aria-hidden="true") desktop_mac
i.material-icons.mdc-button__icon(aria-hidden="true") desktop_windows
i.material-icons.mdc-button__icon(aria-hidden="true") developer_board
i.material-icons.mdc-button__icon(aria-hidden="true") device_hub
i.material-icons.mdc-button__icon(aria-hidden="true") devices_other
i.material-icons.mdc-button__icon(aria-hidden="true") dock
i.material-icons.mdc-button__icon(aria-hidden="true") gamepad
i.material-icons.mdc-button__icon(aria-hidden="true") headset
i.material-icons.mdc-button__icon(aria-hidden="true") headset_mic
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_arrow_down
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_arrow_left
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_arrow_right
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_arrow_up
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_backspace
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_capslock
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_hide
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_return
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_tab
i.material-icons.mdc-button__icon(aria-hidden="true") keyboard_voice
i.material-icons.mdc-button__icon(aria-hidden="true") laptop
i.material-icons.mdc-button__icon(aria-hidden="true") laptop_chromebook
i.material-icons.mdc-button__icon(aria-hidden="true") laptop_mac
i.material-icons.mdc-button__icon(aria-hidden="true") laptop_windows
i.material-icons.mdc-button__icon(aria-hidden="true") memory
i.material-icons.mdc-button__icon(aria-hidden="true") mouse
i.material-icons.mdc-button__icon(aria-hidden="true") phone_android
i.material-icons.mdc-button__icon(aria-hidden="true") phone_iphone
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_off
i.material-icons.mdc-button__icon(aria-hidden="true") power_input
i.material-icons.mdc-button__icon(aria-hidden="true") router
i.material-icons.mdc-button__icon(aria-hidden="true") scanner
i.material-icons.mdc-button__icon(aria-hidden="true") security
i.material-icons.mdc-button__icon(aria-hidden="true") sim_card
i.material-icons.mdc-button__icon(aria-hidden="true") smartphone
i.material-icons.mdc-button__icon(aria-hidden="true") speaker
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_group
i.material-icons.mdc-button__icon(aria-hidden="true") tablet
i.material-icons.mdc-button__icon(aria-hidden="true") tablet_android
i.material-icons.mdc-button__icon(aria-hidden="true") tablet_mac
i.material-icons.mdc-button__icon(aria-hidden="true") toys
i.material-icons.mdc-button__icon(aria-hidden="true") tv
i.material-icons.mdc-button__icon(aria-hidden="true") videogame_asset
i.material-icons.mdc-button__icon(aria-hidden="true") watch

h3 Image

i.material-icons.mdc-button__icon(aria-hidden="true") add_a_photo
i.material-icons.mdc-button__icon(aria-hidden="true") add_to_photos
i.material-icons.mdc-button__icon(aria-hidden="true") adjust
i.material-icons.mdc-button__icon(aria-hidden="true") assistant
i.material-icons.mdc-button__icon(aria-hidden="true") assistant_photo
i.material-icons.mdc-button__icon(aria-hidden="true") audiotrack
i.material-icons.mdc-button__icon(aria-hidden="true") blur_circular
i.material-icons.mdc-button__icon(aria-hidden="true") blur_linear
i.material-icons.mdc-button__icon(aria-hidden="true") blur_off
i.material-icons.mdc-button__icon(aria-hidden="true") blur_on
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_1
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_2
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_3
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_4
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_5
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_6
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_7
i.material-icons.mdc-button__icon(aria-hidden="true") broken_image
i.material-icons.mdc-button__icon(aria-hidden="true") brush
i.material-icons.mdc-button__icon(aria-hidden="true") burst_mode
i.material-icons.mdc-button__icon(aria-hidden="true") camera
i.material-icons.mdc-button__icon(aria-hidden="true") camera_alt
i.material-icons.mdc-button__icon(aria-hidden="true") camera_front
i.material-icons.mdc-button__icon(aria-hidden="true") camera_rear
i.material-icons.mdc-button__icon(aria-hidden="true") camera_roll
i.material-icons.mdc-button__icon(aria-hidden="true") center_focus_strong
i.material-icons.mdc-button__icon(aria-hidden="true") center_focus_weak
i.material-icons.mdc-button__icon(aria-hidden="true") collections
i.material-icons.mdc-button__icon(aria-hidden="true") collections_bookmark
i.material-icons.mdc-button__icon(aria-hidden="true") color_lens
i.material-icons.mdc-button__icon(aria-hidden="true") colorize
i.material-icons.mdc-button__icon(aria-hidden="true") compare
i.material-icons.mdc-button__icon(aria-hidden="true") control_point
i.material-icons.mdc-button__icon(aria-hidden="true") control_point_duplicate
i.material-icons.mdc-button__icon(aria-hidden="true") crop_3_2
i.material-icons.mdc-button__icon(aria-hidden="true") crop_5_4
i.material-icons.mdc-button__icon(aria-hidden="true") crop_7_5
i.material-icons.mdc-button__icon(aria-hidden="true") crop_16_9
i.material-icons.mdc-button__icon(aria-hidden="true") crop
i.material-icons.mdc-button__icon(aria-hidden="true") crop_din
i.material-icons.mdc-button__icon(aria-hidden="true") crop_free
i.material-icons.mdc-button__icon(aria-hidden="true") crop_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") crop_original
i.material-icons.mdc-button__icon(aria-hidden="true") crop_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") crop_rotate
i.material-icons.mdc-button__icon(aria-hidden="true") crop_square
i.material-icons.mdc-button__icon(aria-hidden="true") dehaze
i.material-icons.mdc-button__icon(aria-hidden="true") details
i.material-icons.mdc-button__icon(aria-hidden="true") edit
i.material-icons.mdc-button__icon(aria-hidden="true") exposure
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_neg_1
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_neg_2
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_plus_1
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_plus_2
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_zero
i.material-icons.mdc-button__icon(aria-hidden="true") filter_1
i.material-icons.mdc-button__icon(aria-hidden="true") filter_2
i.material-icons.mdc-button__icon(aria-hidden="true") filter_3
i.material-icons.mdc-button__icon(aria-hidden="true") filter_4
i.material-icons.mdc-button__icon(aria-hidden="true") filter_5
i.material-icons.mdc-button__icon(aria-hidden="true") filter_6
i.material-icons.mdc-button__icon(aria-hidden="true") filter_7
i.material-icons.mdc-button__icon(aria-hidden="true") filter_8
i.material-icons.mdc-button__icon(aria-hidden="true") filter_9
i.material-icons.mdc-button__icon(aria-hidden="true") filter_9_plus
i.material-icons.mdc-button__icon(aria-hidden="true") filter
i.material-icons.mdc-button__icon(aria-hidden="true") filter_b_and_w
i.material-icons.mdc-button__icon(aria-hidden="true") filter_center_focus
i.material-icons.mdc-button__icon(aria-hidden="true") filter_drama
i.material-icons.mdc-button__icon(aria-hidden="true") filter_frames
i.material-icons.mdc-button__icon(aria-hidden="true") filter_hdr
i.material-icons.mdc-button__icon(aria-hidden="true") filter_none
i.material-icons.mdc-button__icon(aria-hidden="true") filter_tilt_shift
i.material-icons.mdc-button__icon(aria-hidden="true") filter_vintage
i.material-icons.mdc-button__icon(aria-hidden="true") flare
i.material-icons.mdc-button__icon(aria-hidden="true") flash_auto
i.material-icons.mdc-button__icon(aria-hidden="true") flash_off
i.material-icons.mdc-button__icon(aria-hidden="true") flash_on
i.material-icons.mdc-button__icon(aria-hidden="true") flip
i.material-icons.mdc-button__icon(aria-hidden="true") gradient
i.material-icons.mdc-button__icon(aria-hidden="true") grain
i.material-icons.mdc-button__icon(aria-hidden="true") grid_off
i.material-icons.mdc-button__icon(aria-hidden="true") grid_on
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_off
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_on
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_strong
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_weak
i.material-icons.mdc-button__icon(aria-hidden="true") healing
i.material-icons.mdc-button__icon(aria-hidden="true") image
i.material-icons.mdc-button__icon(aria-hidden="true") image_aspect_ratio
i.material-icons.mdc-button__icon(aria-hidden="true") iso
i.material-icons.mdc-button__icon(aria-hidden="true") landscape
i.material-icons.mdc-button__icon(aria-hidden="true") leak_add
i.material-icons.mdc-button__icon(aria-hidden="true") leak_remove
i.material-icons.mdc-button__icon(aria-hidden="true") lens
i.material-icons.mdc-button__icon(aria-hidden="true") linked_camera
i.material-icons.mdc-button__icon(aria-hidden="true") looks_3
i.material-icons.mdc-button__icon(aria-hidden="true") looks_4
i.material-icons.mdc-button__icon(aria-hidden="true") looks_5
i.material-icons.mdc-button__icon(aria-hidden="true") looks_6
i.material-icons.mdc-button__icon(aria-hidden="true") looks
i.material-icons.mdc-button__icon(aria-hidden="true") looks_one
i.material-icons.mdc-button__icon(aria-hidden="true") looks_two
i.material-icons.mdc-button__icon(aria-hidden="true") loupe
i.material-icons.mdc-button__icon(aria-hidden="true") monochrome_photos
i.material-icons.mdc-button__icon(aria-hidden="true") movie_creation
i.material-icons.mdc-button__icon(aria-hidden="true") movie_filter
i.material-icons.mdc-button__icon(aria-hidden="true") music_note
i.material-icons.mdc-button__icon(aria-hidden="true") nature
i.material-icons.mdc-button__icon(aria-hidden="true") nature_people
i.material-icons.mdc-button__icon(aria-hidden="true") navigate_before
i.material-icons.mdc-button__icon(aria-hidden="true") navigate_next
i.material-icons.mdc-button__icon(aria-hidden="true") palette
i.material-icons.mdc-button__icon(aria-hidden="true") panorama
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_fish_eye
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_horizontal
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_vertical
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_wide_angle
i.material-icons.mdc-button__icon(aria-hidden="true") photo
i.material-icons.mdc-button__icon(aria-hidden="true") photo_album
i.material-icons.mdc-button__icon(aria-hidden="true") photo_camera
i.material-icons.mdc-button__icon(aria-hidden="true") photo_filter
i.material-icons.mdc-button__icon(aria-hidden="true") photo_library
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_actual
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_large
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_small
i.material-icons.mdc-button__icon(aria-hidden="true") picture_as_pdf
i.material-icons.mdc-button__icon(aria-hidden="true") portrait
i.material-icons.mdc-button__icon(aria-hidden="true") remove_red_eye
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_90_degrees_ccw
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_left
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_right
i.material-icons.mdc-button__icon(aria-hidden="true") slideshow
i.material-icons.mdc-button__icon(aria-hidden="true") straighten
i.material-icons.mdc-button__icon(aria-hidden="true") style
i.material-icons.mdc-button__icon(aria-hidden="true") switch_camera
i.material-icons.mdc-button__icon(aria-hidden="true") switch_video
i.material-icons.mdc-button__icon(aria-hidden="true") tag_faces
i.material-icons.mdc-button__icon(aria-hidden="true") texture
i.material-icons.mdc-button__icon(aria-hidden="true") timelapse
i.material-icons.mdc-button__icon(aria-hidden="true") timer_3
i.material-icons.mdc-button__icon(aria-hidden="true") timer_10
i.material-icons.mdc-button__icon(aria-hidden="true") timer
i.material-icons.mdc-button__icon(aria-hidden="true") timer_off
i.material-icons.mdc-button__icon(aria-hidden="true") tonality
i.material-icons.mdc-button__icon(aria-hidden="true") transform
i.material-icons.mdc-button__icon(aria-hidden="true") tune
i.material-icons.mdc-button__icon(aria-hidden="true") view_comfy
i.material-icons.mdc-button__icon(aria-hidden="true") view_compact
i.material-icons.mdc-button__icon(aria-hidden="true") vignette
i.material-icons.mdc-button__icon(aria-hidden="true") wb_auto
i.material-icons.mdc-button__icon(aria-hidden="true") wb_cloudy
i.material-icons.mdc-button__icon(aria-hidden="true") wb_incandescent
i.material-icons.mdc-button__icon(aria-hidden="true") wb_iridescent
i.material-icons.mdc-button__icon(aria-hidden="true") wb_sunny

h3 Maps

i.material-icons.mdc-button__icon(aria-hidden="true") add_location
i.material-icons.mdc-button__icon(aria-hidden="true") beenhere
i.material-icons.mdc-button__icon(aria-hidden="true") directions
i.material-icons.mdc-button__icon(aria-hidden="true") directions_bike
i.material-icons.mdc-button__icon(aria-hidden="true") directions_boat
i.material-icons.mdc-button__icon(aria-hidden="true") directions_bus
i.material-icons.mdc-button__icon(aria-hidden="true") directions_car
i.material-icons.mdc-button__icon(aria-hidden="true") directions_railway
i.material-icons.mdc-button__icon(aria-hidden="true") directions_run
i.material-icons.mdc-button__icon(aria-hidden="true") directions_subway
i.material-icons.mdc-button__icon(aria-hidden="true") directions_transit
i.material-icons.mdc-button__icon(aria-hidden="true") directions_walk
i.material-icons.mdc-button__icon(aria-hidden="true") edit_location
i.material-icons.mdc-button__icon(aria-hidden="true") ev_station
i.material-icons.mdc-button__icon(aria-hidden="true") flight
i.material-icons.mdc-button__icon(aria-hidden="true") hotel
i.material-icons.mdc-button__icon(aria-hidden="true") layers
i.material-icons.mdc-button__icon(aria-hidden="true") layers_clear
i.material-icons.mdc-button__icon(aria-hidden="true") local_activity
i.material-icons.mdc-button__icon(aria-hidden="true") local_airport
i.material-icons.mdc-button__icon(aria-hidden="true") local_atm
i.material-icons.mdc-button__icon(aria-hidden="true") local_bar
i.material-icons.mdc-button__icon(aria-hidden="true") local_cafe
i.material-icons.mdc-button__icon(aria-hidden="true") local_car_wash
i.material-icons.mdc-button__icon(aria-hidden="true") local_convenience_store
i.material-icons.mdc-button__icon(aria-hidden="true") local_dining
i.material-icons.mdc-button__icon(aria-hidden="true") local_drink
i.material-icons.mdc-button__icon(aria-hidden="true") local_florist
i.material-icons.mdc-button__icon(aria-hidden="true") local_gas_station
i.material-icons.mdc-button__icon(aria-hidden="true") local_grocery_store
i.material-icons.mdc-button__icon(aria-hidden="true") local_hospital
i.material-icons.mdc-button__icon(aria-hidden="true") local_hotel
i.material-icons.mdc-button__icon(aria-hidden="true") local_laundry_service
i.material-icons.mdc-button__icon(aria-hidden="true") local_library
i.material-icons.mdc-button__icon(aria-hidden="true") local_mall
i.material-icons.mdc-button__icon(aria-hidden="true") local_movies
i.material-icons.mdc-button__icon(aria-hidden="true") local_offer
i.material-icons.mdc-button__icon(aria-hidden="true") local_parking
i.material-icons.mdc-button__icon(aria-hidden="true") local_pharmacy
i.material-icons.mdc-button__icon(aria-hidden="true") local_phone
i.material-icons.mdc-button__icon(aria-hidden="true") local_pizza
i.material-icons.mdc-button__icon(aria-hidden="true") local_play
i.material-icons.mdc-button__icon(aria-hidden="true") local_post_office
i.material-icons.mdc-button__icon(aria-hidden="true") local_printshop
i.material-icons.mdc-button__icon(aria-hidden="true") local_see
i.material-icons.mdc-button__icon(aria-hidden="true") local_shipping
i.material-icons.mdc-button__icon(aria-hidden="true") local_taxi
i.material-icons.mdc-button__icon(aria-hidden="true") map
i.material-icons.mdc-button__icon(aria-hidden="true") my_location
i.material-icons.mdc-button__icon(aria-hidden="true") navigation
i.material-icons.mdc-button__icon(aria-hidden="true") near_me
i.material-icons.mdc-button__icon(aria-hidden="true") person_pin
i.material-icons.mdc-button__icon(aria-hidden="true") person_pin_circle
i.material-icons.mdc-button__icon(aria-hidden="true") pin_drop
i.material-icons.mdc-button__icon(aria-hidden="true") place
i.material-icons.mdc-button__icon(aria-hidden="true") rate_review
i.material-icons.mdc-button__icon(aria-hidden="true") restaurant
i.material-icons.mdc-button__icon(aria-hidden="true") restaurant_menu
i.material-icons.mdc-button__icon(aria-hidden="true") satellite
i.material-icons.mdc-button__icon(aria-hidden="true") store_mall_directory
i.material-icons.mdc-button__icon(aria-hidden="true") streetview
i.material-icons.mdc-button__icon(aria-hidden="true") subway
i.material-icons.mdc-button__icon(aria-hidden="true") terrain
i.material-icons.mdc-button__icon(aria-hidden="true") traffic
i.material-icons.mdc-button__icon(aria-hidden="true") train
i.material-icons.mdc-button__icon(aria-hidden="true") tram
i.material-icons.mdc-button__icon(aria-hidden="true") transfer_within_a_station
i.material-icons.mdc-button__icon(aria-hidden="true") zoom_out_map

h3 Navigation

i.material-icons.mdc-button__icon(aria-hidden="true") apps
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_back
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_downward
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_down
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_down_circle
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_up
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_forward
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_upward
i.material-icons.mdc-button__icon(aria-hidden="true") cancel
i.material-icons.mdc-button__icon(aria-hidden="true") check
i.material-icons.mdc-button__icon(aria-hidden="true") chevron_left
i.material-icons.mdc-button__icon(aria-hidden="true") chevron_right
i.material-icons.mdc-button__icon(aria-hidden="true") close
i.material-icons.mdc-button__icon(aria-hidden="true") expand_less
i.material-icons.mdc-button__icon(aria-hidden="true") expand_more
i.material-icons.mdc-button__icon(aria-hidden="true") first_page
i.material-icons.mdc-button__icon(aria-hidden="true") fullscreen
i.material-icons.mdc-button__icon(aria-hidden="true") fullscreen_exit
i.material-icons.mdc-button__icon(aria-hidden="true") last_page
i.material-icons.mdc-button__icon(aria-hidden="true") menu
i.material-icons.mdc-button__icon(aria-hidden="true") more_horiz
i.material-icons.mdc-button__icon(aria-hidden="true") more_vert
i.material-icons.mdc-button__icon(aria-hidden="true") refresh
i.material-icons.mdc-button__icon(aria-hidden="true") subdirectory_arrow_left
i.material-icons.mdc-button__icon(aria-hidden="true") subdirectory_arrow_right
i.material-icons.mdc-button__icon(aria-hidden="true") unfold_less
i.material-icons.mdc-button__icon(aria-hidden="true") unfold_more

h3 Notification

i.material-icons.mdc-button__icon(aria-hidden="true") adb
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_flat
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_flat_angled
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_individual_suite
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_extra
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_normal
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_reduced
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_recline_extra
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_recline_normal
i.material-icons.mdc-button__icon(aria-hidden="true") bluetooth_audio
i.material-icons.mdc-button__icon(aria-hidden="true") confirmation_number
i.material-icons.mdc-button__icon(aria-hidden="true") disc_full
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_alt
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_off
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_on
i.material-icons.mdc-button__icon(aria-hidden="true") drive_eta
i.material-icons.mdc-button__icon(aria-hidden="true") enhanced_encryption
i.material-icons.mdc-button__icon(aria-hidden="true") event_available
i.material-icons.mdc-button__icon(aria-hidden="true") event_busy
i.material-icons.mdc-button__icon(aria-hidden="true") event_note
i.material-icons.mdc-button__icon(aria-hidden="true") folder_special
i.material-icons.mdc-button__icon(aria-hidden="true") live_tv
i.material-icons.mdc-button__icon(aria-hidden="true") mms
i.material-icons.mdc-button__icon(aria-hidden="true") more
i.material-icons.mdc-button__icon(aria-hidden="true") network_check
i.material-icons.mdc-button__icon(aria-hidden="true") network_locked
i.material-icons.mdc-button__icon(aria-hidden="true") no_encryption
i.material-icons.mdc-button__icon(aria-hidden="true") ondemand_video
i.material-icons.mdc-button__icon(aria-hidden="true") personal_video
i.material-icons.mdc-button__icon(aria-hidden="true") phone_bluetooth_speaker
i.material-icons.mdc-button__icon(aria-hidden="true") phone_forwarded
i.material-icons.mdc-button__icon(aria-hidden="true") phone_in_talk
i.material-icons.mdc-button__icon(aria-hidden="true") phone_locked
i.material-icons.mdc-button__icon(aria-hidden="true") phone_missed
i.material-icons.mdc-button__icon(aria-hidden="true") phone_paused
i.material-icons.mdc-button__icon(aria-hidden="true") power
i.material-icons.mdc-button__icon(aria-hidden="true") priority_high_12px
i.material-icons.mdc-button__icon(aria-hidden="true") priority_high
i.material-icons.mdc-button__icon(aria-hidden="true") rv_hookup
i.material-icons.mdc-button__icon(aria-hidden="true") sd_card
i.material-icons.mdc-button__icon(aria-hidden="true") sim_card_alert
i.material-icons.mdc-button__icon(aria-hidden="true") sms
i.material-icons.mdc-button__icon(aria-hidden="true") sms_failed
i.material-icons.mdc-button__icon(aria-hidden="true") sync
i.material-icons.mdc-button__icon(aria-hidden="true") sync_disabled
i.material-icons.mdc-button__icon(aria-hidden="true") sync_problem
i.material-icons.mdc-button__icon(aria-hidden="true") system_update
i.material-icons.mdc-button__icon(aria-hidden="true") tap_and_play
i.material-icons.mdc-button__icon(aria-hidden="true") time_to_leave
i.material-icons.mdc-button__icon(aria-hidden="true") vibration
i.material-icons.mdc-button__icon(aria-hidden="true") voice_chat
i.material-icons.mdc-button__icon(aria-hidden="true") vpn_lock
i.material-icons.mdc-button__icon(aria-hidden="true") wc
i.material-icons.mdc-button__icon(aria-hidden="true") wifi

h3 Places

i.material-icons.mdc-button__icon(aria-hidden="true") ac_unit
i.material-icons.mdc-button__icon(aria-hidden="true") airport_shuttle
i.material-icons.mdc-button__icon(aria-hidden="true") all_inclusive
i.material-icons.mdc-button__icon(aria-hidden="true") beach_access
i.material-icons.mdc-button__icon(aria-hidden="true") business_center
i.material-icons.mdc-button__icon(aria-hidden="true") casino
i.material-icons.mdc-button__icon(aria-hidden="true") child_care
i.material-icons.mdc-button__icon(aria-hidden="true") child_friendly
i.material-icons.mdc-button__icon(aria-hidden="true") fitness_center
i.material-icons.mdc-button__icon(aria-hidden="true") free_breakfast
i.material-icons.mdc-button__icon(aria-hidden="true") golf_course
i.material-icons.mdc-button__icon(aria-hidden="true") hot_tub
i.material-icons.mdc-button__icon(aria-hidden="true") kitchen
i.material-icons.mdc-button__icon(aria-hidden="true") pool
i.material-icons.mdc-button__icon(aria-hidden="true") room_service
i.material-icons.mdc-button__icon(aria-hidden="true") rv_hookup
i.material-icons.mdc-button__icon(aria-hidden="true") smoke_free
i.material-icons.mdc-button__icon(aria-hidden="true") smoking_rooms
i.material-icons.mdc-button__icon(aria-hidden="true") spa

h3 Social

i.material-icons.mdc-button__icon(aria-hidden="true") cake
i.material-icons.mdc-button__icon(aria-hidden="true") domain
i.material-icons.mdc-button__icon(aria-hidden="true") group
i.material-icons.mdc-button__icon(aria-hidden="true") group_add
i.material-icons.mdc-button__icon(aria-hidden="true") location_city
i.material-icons.mdc-button__icon(aria-hidden="true") mood
i.material-icons.mdc-button__icon(aria-hidden="true") mood_bad
i.material-icons.mdc-button__icon(aria-hidden="true") notifications
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_active
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_none
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_off
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_paused
i.material-icons.mdc-button__icon(aria-hidden="true") pages
i.material-icons.mdc-button__icon(aria-hidden="true") party_mode
i.material-icons.mdc-button__icon(aria-hidden="true") people
i.material-icons.mdc-button__icon(aria-hidden="true") people_outline
i.material-icons.mdc-button__icon(aria-hidden="true") person
i.material-icons.mdc-button__icon(aria-hidden="true") person_add
i.material-icons.mdc-button__icon(aria-hidden="true") person_outline
i.material-icons.mdc-button__icon(aria-hidden="true") plus_one
i.material-icons.mdc-button__icon(aria-hidden="true") poll
i.material-icons.mdc-button__icon(aria-hidden="true") public
i.material-icons.mdc-button__icon(aria-hidden="true") school
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_dissatisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_neutral
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_satisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_very_dissatisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_very_satisfied
i.material-icons.mdc-button__icon(aria-hidden="true") share
i.material-icons.mdc-button__icon(aria-hidden="true") whatshot

h3 Toggle

i.material-icons.mdc-button__icon(aria-hidden="true") check_box
i.material-icons.mdc-button__icon(aria-hidden="true") check_box_outline_blank
i.material-icons.mdc-button__icon(aria-hidden="true") indeterminate_check_box
i.material-icons.mdc-button__icon(aria-hidden="true") radio_button_checked
i.material-icons.mdc-button__icon(aria-hidden="true") radio_button_unchecked
i.material-icons.mdc-button__icon(aria-hidden="true") star
i.material-icons.mdc-button__icon(aria-hidden="true") star_border
i.material-icons.mdc-button__icon(aria-hidden="true") star_half