i.material-icons.mdc-button__icon(aria-hidden="true") add_to_queue
i.material-icons.mdc-button__icon(aria-hidden="true") airplay
i.material-icons.mdc-button__icon(aria-hidden="true") album
i.material-icons.mdc-button__icon(aria-hidden="true") art_track
i.material-icons.mdc-button__icon(aria-hidden="true") av_timer
i.material-icons.mdc-button__icon(aria-hidden="true") branding_watermark
i.material-icons.mdc-button__icon(aria-hidden="true") call_to_action
i.material-icons.mdc-button__icon(aria-hidden="true") closed_caption
i.material-icons.mdc-button__icon(aria-hidden="true") equalizer
i.material-icons.mdc-button__icon(aria-hidden="true") explicit
i.material-icons.mdc-button__icon(aria-hidden="true") fast_forward
i.material-icons.mdc-button__icon(aria-hidden="true") fast_rewind
i.material-icons.mdc-button__icon(aria-hidden="true") featured_play_list
i.material-icons.mdc-button__icon(aria-hidden="true") featured_video
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_dvr
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_manual_record
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_new
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_pin
i.material-icons.mdc-button__icon(aria-hidden="true") fiber_smart_record
i.material-icons.mdc-button__icon(aria-hidden="true") forward_5
i.material-icons.mdc-button__icon(aria-hidden="true") forward_10
i.material-icons.mdc-button__icon(aria-hidden="true") forward_30
i.material-icons.mdc-button__icon(aria-hidden="true") games
i.material-icons.mdc-button__icon(aria-hidden="true") hd
i.material-icons.mdc-button__icon(aria-hidden="true") hearing
i.material-icons.mdc-button__icon(aria-hidden="true") high_quality
i.material-icons.mdc-button__icon(aria-hidden="true") library_add
i.material-icons.mdc-button__icon(aria-hidden="true") library_books
i.material-icons.mdc-button__icon(aria-hidden="true") library_music
i.material-icons.mdc-button__icon(aria-hidden="true") loop
i.material-icons.mdc-button__icon(aria-hidden="true") mic
i.material-icons.mdc-button__icon(aria-hidden="true") mic_none
i.material-icons.mdc-button__icon(aria-hidden="true") mic_off
i.material-icons.mdc-button__icon(aria-hidden="true") movie
i.material-icons.mdc-button__icon(aria-hidden="true") music_video
i.material-icons.mdc-button__icon(aria-hidden="true") new_releases
i.material-icons.mdc-button__icon(aria-hidden="true") not_interested
i.material-icons.mdc-button__icon(aria-hidden="true") note
i.material-icons.mdc-button__icon(aria-hidden="true") pause
i.material-icons.mdc-button__icon(aria-hidden="true") pause_circle_filled
i.material-icons.mdc-button__icon(aria-hidden="true") pause_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") play_arrow
i.material-icons.mdc-button__icon(aria-hidden="true") play_circle_filled
i.material-icons.mdc-button__icon(aria-hidden="true") play_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_add
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_add_check
i.material-icons.mdc-button__icon(aria-hidden="true") playlist_play
i.material-icons.mdc-button__icon(aria-hidden="true") queue
i.material-icons.mdc-button__icon(aria-hidden="true") queue_music
i.material-icons.mdc-button__icon(aria-hidden="true") queue_play_next
i.material-icons.mdc-button__icon(aria-hidden="true") radio
i.material-icons.mdc-button__icon(aria-hidden="true") recent_actors
i.material-icons.mdc-button__icon(aria-hidden="true") remove_from_queue
i.material-icons.mdc-button__icon(aria-hidden="true") repeat
i.material-icons.mdc-button__icon(aria-hidden="true") repeat_one
i.material-icons.mdc-button__icon(aria-hidden="true") replay_5
i.material-icons.mdc-button__icon(aria-hidden="true") replay_10
i.material-icons.mdc-button__icon(aria-hidden="true") replay
i.material-icons.mdc-button__icon(aria-hidden="true") replay_30
i.material-icons.mdc-button__icon(aria-hidden="true") shuffle
i.material-icons.mdc-button__icon(aria-hidden="true") skip_next
i.material-icons.mdc-button__icon(aria-hidden="true") skip_previous
i.material-icons.mdc-button__icon(aria-hidden="true") slow_motion_video
i.material-icons.mdc-button__icon(aria-hidden="true") snooze
i.material-icons.mdc-button__icon(aria-hidden="true") sort_by_alpha
i.material-icons.mdc-button__icon(aria-hidden="true") stop
i.material-icons.mdc-button__icon(aria-hidden="true") subscriptions
i.material-icons.mdc-button__icon(aria-hidden="true") subtitles
i.material-icons.mdc-button__icon(aria-hidden="true") surround_sound
i.material-icons.mdc-button__icon(aria-hidden="true") video_call
i.material-icons.mdc-button__icon(aria-hidden="true") video_label
i.material-icons.mdc-button__icon(aria-hidden="true") video_library
i.material-icons.mdc-button__icon(aria-hidden="true") videocam
i.material-icons.mdc-button__icon(aria-hidden="true") videocam_off
i.material-icons.mdc-button__icon(aria-hidden="true") volume_down
i.material-icons.mdc-button__icon(aria-hidden="true") volume_mute
i.material-icons.mdc-button__icon(aria-hidden="true") volume_off
i.material-icons.mdc-button__icon(aria-hidden="true") volume_up
i.material-icons.mdc-button__icon(aria-hidden="true") web
i.material-icons.mdc-button__icon(aria-hidden="true") web_asset

