i.material-icons.mdc-button__icon(aria-hidden="true") business
i.material-icons.mdc-button__icon(aria-hidden="true") call
i.material-icons.mdc-button__icon(aria-hidden="true") call_end
i.material-icons.mdc-button__icon(aria-hidden="true") call_made
i.material-icons.mdc-button__icon(aria-hidden="true") call_merge
i.material-icons.mdc-button__icon(aria-hidden="true") call_missed
i.material-icons.mdc-button__icon(aria-hidden="true") call_missed_outgoing
i.material-icons.mdc-button__icon(aria-hidden="true") call_received
i.material-icons.mdc-button__icon(aria-hidden="true") call_split
i.material-icons.mdc-button__icon(aria-hidden="true") chat
i.material-icons.mdc-button__icon(aria-hidden="true") chat_bubble
i.material-icons.mdc-button__icon(aria-hidden="true") chat_bubble_outline
i.material-icons.mdc-button__icon(aria-hidden="true") clear_all
i.material-icons.mdc-button__icon(aria-hidden="true") comment
i.material-icons.mdc-button__icon(aria-hidden="true") contact_mail
i.material-icons.mdc-button__icon(aria-hidden="true") contact_phone
i.material-icons.mdc-button__icon(aria-hidden="true") contacts
i.material-icons.mdc-button__icon(aria-hidden="true") dialer_sip
i.material-icons.mdc-button__icon(aria-hidden="true") dialpad
i.material-icons.mdc-button__icon(aria-hidden="true") email
i.material-icons.mdc-button__icon(aria-hidden="true") forum
i.material-icons.mdc-button__icon(aria-hidden="true") import_contacts
i.material-icons.mdc-button__icon(aria-hidden="true") import_export
i.material-icons.mdc-button__icon(aria-hidden="true") invert_colors_off
i.material-icons.mdc-button__icon(aria-hidden="true") live_help
i.material-icons.mdc-button__icon(aria-hidden="true") location_off
i.material-icons.mdc-button__icon(aria-hidden="true") location_on
i.material-icons.mdc-button__icon(aria-hidden="true") mail_outline
i.material-icons.mdc-button__icon(aria-hidden="true") message
i.material-icons.mdc-button__icon(aria-hidden="true") no_sim
i.material-icons.mdc-button__icon(aria-hidden="true") phone
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_erase
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_lock
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_ring
i.material-icons.mdc-button__icon(aria-hidden="true") phonelink_setup
i.material-icons.mdc-button__icon(aria-hidden="true") portable_wifi_off
i.material-icons.mdc-button__icon(aria-hidden="true") present_to_all
i.material-icons.mdc-button__icon(aria-hidden="true") ring_volume
i.material-icons.mdc-button__icon(aria-hidden="true") rss_feed
i.material-icons.mdc-button__icon(aria-hidden="true") screen_share
i.material-icons.mdc-button__icon(aria-hidden="true") speaker_phone
i.material-icons.mdc-button__icon(aria-hidden="true") stay_current_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") stay_current_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") stay_primary_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") stay_primary_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") stop_screen_share
i.material-icons.mdc-button__icon(aria-hidden="true") swap_calls
i.material-icons.mdc-button__icon(aria-hidden="true") textsms
i.material-icons.mdc-button__icon(aria-hidden="true") voicemail
i.material-icons.mdc-button__icon(aria-hidden="true") vpn_key

