i.material-icons.mdc-button__icon(aria-hidden="true") add
i.material-icons.mdc-button__icon(aria-hidden="true") add_box
i.material-icons.mdc-button__icon(aria-hidden="true") add_circle
i.material-icons.mdc-button__icon(aria-hidden="true") add_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") archive
i.material-icons.mdc-button__icon(aria-hidden="true") backspace
i.material-icons.mdc-button__icon(aria-hidden="true") block
i.material-icons.mdc-button__icon(aria-hidden="true") clear
i.material-icons.mdc-button__icon(aria-hidden="true") content_copy
i.material-icons.mdc-button__icon(aria-hidden="true") content_cut
i.material-icons.mdc-button__icon(aria-hidden="true") content_paste
i.material-icons.mdc-button__icon(aria-hidden="true") create
i.material-icons.mdc-button__icon(aria-hidden="true") delete_sweep
i.material-icons.mdc-button__icon(aria-hidden="true") drafts
i.material-icons.mdc-button__icon(aria-hidden="true") filter_list
i.material-icons.mdc-button__icon(aria-hidden="true") flag
i.material-icons.mdc-button__icon(aria-hidden="true") font_download
i.material-icons.mdc-button__icon(aria-hidden="true") forward
i.material-icons.mdc-button__icon(aria-hidden="true") gesture
i.material-icons.mdc-button__icon(aria-hidden="true") inbox
i.material-icons.mdc-button__icon(aria-hidden="true") link
i.material-icons.mdc-button__icon(aria-hidden="true") low_priority
i.material-icons.mdc-button__icon(aria-hidden="true") mail
i.material-icons.mdc-button__icon(aria-hidden="true") markunread
i.material-icons.mdc-button__icon(aria-hidden="true") move_to_inbox
i.material-icons.mdc-button__icon(aria-hidden="true") next_week
i.material-icons.mdc-button__icon(aria-hidden="true") redo
i.material-icons.mdc-button__icon(aria-hidden="true") remove
i.material-icons.mdc-button__icon(aria-hidden="true") remove_circle
i.material-icons.mdc-button__icon(aria-hidden="true") remove_circle_outline
i.material-icons.mdc-button__icon(aria-hidden="true") reply
i.material-icons.mdc-button__icon(aria-hidden="true") reply_all
i.material-icons.mdc-button__icon(aria-hidden="true") report
i.material-icons.mdc-button__icon(aria-hidden="true") save
i.material-icons.mdc-button__icon(aria-hidden="true") select_all
i.material-icons.mdc-button__icon(aria-hidden="true") send
i.material-icons.mdc-button__icon(aria-hidden="true") sort
i.material-icons.mdc-button__icon(aria-hidden="true") text_format
i.material-icons.mdc-button__icon(aria-hidden="true") unarchive
i.material-icons.mdc-button__icon(aria-hidden="true") undo
i.material-icons.mdc-button__icon(aria-hidden="true") weekend

