i.material-icons.mdc-button__icon(aria-hidden="true") attach_file
i.material-icons.mdc-button__icon(aria-hidden="true") attach_money
i.material-icons.mdc-button__icon(aria-hidden="true") border_all
i.material-icons.mdc-button__icon(aria-hidden="true") border_bottom
i.material-icons.mdc-button__icon(aria-hidden="true") border_clear
i.material-icons.mdc-button__icon(aria-hidden="true") border_color
i.material-icons.mdc-button__icon(aria-hidden="true") border_horizontal
i.material-icons.mdc-button__icon(aria-hidden="true") border_inner
i.material-icons.mdc-button__icon(aria-hidden="true") border_left
i.material-icons.mdc-button__icon(aria-hidden="true") border_outer
i.material-icons.mdc-button__icon(aria-hidden="true") border_right
i.material-icons.mdc-button__icon(aria-hidden="true") border_style
i.material-icons.mdc-button__icon(aria-hidden="true") border_top
i.material-icons.mdc-button__icon(aria-hidden="true") border_vertical
i.material-icons.mdc-button__icon(aria-hidden="true") bubble_chart
i.material-icons.mdc-button__icon(aria-hidden="true") drag_handle
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_center
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_justify
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_left
i.material-icons.mdc-button__icon(aria-hidden="true") format_align_right
i.material-icons.mdc-button__icon(aria-hidden="true") format_bold
i.material-icons.mdc-button__icon(aria-hidden="true") format_clear
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_fill
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_reset
i.material-icons.mdc-button__icon(aria-hidden="true") format_color_text
i.material-icons.mdc-button__icon(aria-hidden="true") format_indent_decrease
i.material-icons.mdc-button__icon(aria-hidden="true") format_indent_increase
i.material-icons.mdc-button__icon(aria-hidden="true") format_italic
i.material-icons.mdc-button__icon(aria-hidden="true") format_line_spacing
i.material-icons.mdc-button__icon(aria-hidden="true") format_list_bulleted
i.material-icons.mdc-button__icon(aria-hidden="true") format_list_numbered
i.material-icons.mdc-button__icon(aria-hidden="true") format_paint
i.material-icons.mdc-button__icon(aria-hidden="true") format_quote
i.material-icons.mdc-button__icon(aria-hidden="true") format_shapes
i.material-icons.mdc-button__icon(aria-hidden="true") format_size
i.material-icons.mdc-button__icon(aria-hidden="true") format_strikethrough
i.material-icons.mdc-button__icon(aria-hidden="true") format_textdirection_l_to_r
i.material-icons.mdc-button__icon(aria-hidden="true") format_textdirection_r_to_l
i.material-icons.mdc-button__icon(aria-hidden="true") format_underlined
i.material-icons.mdc-button__icon(aria-hidden="true") functions
i.material-icons.mdc-button__icon(aria-hidden="true") highlight
i.material-icons.mdc-button__icon(aria-hidden="true") insert_chart
i.material-icons.mdc-button__icon(aria-hidden="true") insert_comment
i.material-icons.mdc-button__icon(aria-hidden="true") insert_drive_file
i.material-icons.mdc-button__icon(aria-hidden="true") insert_emoticon
i.material-icons.mdc-button__icon(aria-hidden="true") insert_invitation
i.material-icons.mdc-button__icon(aria-hidden="true") insert_link
i.material-icons.mdc-button__icon(aria-hidden="true") insert_photo
i.material-icons.mdc-button__icon(aria-hidden="true") linear_scale
i.material-icons.mdc-button__icon(aria-hidden="true") merge_type
i.material-icons.mdc-button__icon(aria-hidden="true") mode_comment
i.material-icons.mdc-button__icon(aria-hidden="true") mode_edit
i.material-icons.mdc-button__icon(aria-hidden="true") monetization_on
i.material-icons.mdc-button__icon(aria-hidden="true") money_off
i.material-icons.mdc-button__icon(aria-hidden="true") multiline_chart
i.material-icons.mdc-button__icon(aria-hidden="true") pie_chart
i.material-icons.mdc-button__icon(aria-hidden="true") pie_chart_outlined
i.material-icons.mdc-button__icon(aria-hidden="true") publish
i.material-icons.mdc-button__icon(aria-hidden="true") short_text
i.material-icons.mdc-button__icon(aria-hidden="true") show_chart
i.material-icons.mdc-button__icon(aria-hidden="true") space_bar
i.material-icons.mdc-button__icon(aria-hidden="true") strikethrough_s
i.material-icons.mdc-button__icon(aria-hidden="true") text_fields
i.material-icons.mdc-button__icon(aria-hidden="true") title
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_bottom
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_center
i.material-icons.mdc-button__icon(aria-hidden="true") vertical_align_top
i.material-icons.mdc-button__icon(aria-hidden="true") wrap_text

