i.material-icons.mdc-button__icon(aria-hidden="true") attachment
i.material-icons.mdc-button__icon(aria-hidden="true") cloud
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_circle
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_done
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_download
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_off
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_queue
i.material-icons.mdc-button__icon(aria-hidden="true") cloud_upload
i.material-icons.mdc-button__icon(aria-hidden="true") create_new_folder
i.material-icons.mdc-button__icon(aria-hidden="true") file_download
i.material-icons.mdc-button__icon(aria-hidden="true") file_upload
i.material-icons.mdc-button__icon(aria-hidden="true") folder
i.material-icons.mdc-button__icon(aria-hidden="true") folder_open
i.material-icons.mdc-button__icon(aria-hidden="true") folder_shared

