i.material-icons.mdc-button__icon(aria-hidden="true") add_a_photo
i.material-icons.mdc-button__icon(aria-hidden="true") add_to_photos
i.material-icons.mdc-button__icon(aria-hidden="true") adjust
i.material-icons.mdc-button__icon(aria-hidden="true") assistant
i.material-icons.mdc-button__icon(aria-hidden="true") assistant_photo
i.material-icons.mdc-button__icon(aria-hidden="true") audiotrack
i.material-icons.mdc-button__icon(aria-hidden="true") blur_circular
i.material-icons.mdc-button__icon(aria-hidden="true") blur_linear
i.material-icons.mdc-button__icon(aria-hidden="true") blur_off
i.material-icons.mdc-button__icon(aria-hidden="true") blur_on
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_1
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_2
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_3
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_4
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_5
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_6
i.material-icons.mdc-button__icon(aria-hidden="true") brightness_7
i.material-icons.mdc-button__icon(aria-hidden="true") broken_image
i.material-icons.mdc-button__icon(aria-hidden="true") brush
i.material-icons.mdc-button__icon(aria-hidden="true") burst_mode
i.material-icons.mdc-button__icon(aria-hidden="true") camera
i.material-icons.mdc-button__icon(aria-hidden="true") camera_alt
i.material-icons.mdc-button__icon(aria-hidden="true") camera_front
i.material-icons.mdc-button__icon(aria-hidden="true") camera_rear
i.material-icons.mdc-button__icon(aria-hidden="true") camera_roll
i.material-icons.mdc-button__icon(aria-hidden="true") center_focus_strong
i.material-icons.mdc-button__icon(aria-hidden="true") center_focus_weak
i.material-icons.mdc-button__icon(aria-hidden="true") collections
i.material-icons.mdc-button__icon(aria-hidden="true") collections_bookmark
i.material-icons.mdc-button__icon(aria-hidden="true") color_lens
i.material-icons.mdc-button__icon(aria-hidden="true") colorize
i.material-icons.mdc-button__icon(aria-hidden="true") compare
i.material-icons.mdc-button__icon(aria-hidden="true") control_point
i.material-icons.mdc-button__icon(aria-hidden="true") control_point_duplicate
i.material-icons.mdc-button__icon(aria-hidden="true") crop_3_2
i.material-icons.mdc-button__icon(aria-hidden="true") crop_5_4
i.material-icons.mdc-button__icon(aria-hidden="true") crop_7_5
i.material-icons.mdc-button__icon(aria-hidden="true") crop_16_9
i.material-icons.mdc-button__icon(aria-hidden="true") crop
i.material-icons.mdc-button__icon(aria-hidden="true") crop_din
i.material-icons.mdc-button__icon(aria-hidden="true") crop_free
i.material-icons.mdc-button__icon(aria-hidden="true") crop_landscape
i.material-icons.mdc-button__icon(aria-hidden="true") crop_original
i.material-icons.mdc-button__icon(aria-hidden="true") crop_portrait
i.material-icons.mdc-button__icon(aria-hidden="true") crop_rotate
i.material-icons.mdc-button__icon(aria-hidden="true") crop_square
i.material-icons.mdc-button__icon(aria-hidden="true") dehaze
i.material-icons.mdc-button__icon(aria-hidden="true") details
i.material-icons.mdc-button__icon(aria-hidden="true") edit
i.material-icons.mdc-button__icon(aria-hidden="true") exposure
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_neg_1
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_neg_2
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_plus_1
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_plus_2
i.material-icons.mdc-button__icon(aria-hidden="true") exposure_zero
i.material-icons.mdc-button__icon(aria-hidden="true") filter_1
i.material-icons.mdc-button__icon(aria-hidden="true") filter_2
i.material-icons.mdc-button__icon(aria-hidden="true") filter_3
i.material-icons.mdc-button__icon(aria-hidden="true") filter_4
i.material-icons.mdc-button__icon(aria-hidden="true") filter_5
i.material-icons.mdc-button__icon(aria-hidden="true") filter_6
i.material-icons.mdc-button__icon(aria-hidden="true") filter_7
i.material-icons.mdc-button__icon(aria-hidden="true") filter_8
i.material-icons.mdc-button__icon(aria-hidden="true") filter_9
i.material-icons.mdc-button__icon(aria-hidden="true") filter_9_plus
i.material-icons.mdc-button__icon(aria-hidden="true") filter
i.material-icons.mdc-button__icon(aria-hidden="true") filter_b_and_w
i.material-icons.mdc-button__icon(aria-hidden="true") filter_center_focus
i.material-icons.mdc-button__icon(aria-hidden="true") filter_drama
i.material-icons.mdc-button__icon(aria-hidden="true") filter_frames
i.material-icons.mdc-button__icon(aria-hidden="true") filter_hdr
i.material-icons.mdc-button__icon(aria-hidden="true") filter_none
i.material-icons.mdc-button__icon(aria-hidden="true") filter_tilt_shift
i.material-icons.mdc-button__icon(aria-hidden="true") filter_vintage
i.material-icons.mdc-button__icon(aria-hidden="true") flare
i.material-icons.mdc-button__icon(aria-hidden="true") flash_auto
i.material-icons.mdc-button__icon(aria-hidden="true") flash_off
i.material-icons.mdc-button__icon(aria-hidden="true") flash_on
i.material-icons.mdc-button__icon(aria-hidden="true") flip
i.material-icons.mdc-button__icon(aria-hidden="true") gradient
i.material-icons.mdc-button__icon(aria-hidden="true") grain
i.material-icons.mdc-button__icon(aria-hidden="true") grid_off
i.material-icons.mdc-button__icon(aria-hidden="true") grid_on
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_off
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_on
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_strong
i.material-icons.mdc-button__icon(aria-hidden="true") hdr_weak
i.material-icons.mdc-button__icon(aria-hidden="true") healing
i.material-icons.mdc-button__icon(aria-hidden="true") image
i.material-icons.mdc-button__icon(aria-hidden="true") image_aspect_ratio
i.material-icons.mdc-button__icon(aria-hidden="true") iso
i.material-icons.mdc-button__icon(aria-hidden="true") landscape
i.material-icons.mdc-button__icon(aria-hidden="true") leak_add
i.material-icons.mdc-button__icon(aria-hidden="true") leak_remove
i.material-icons.mdc-button__icon(aria-hidden="true") lens
i.material-icons.mdc-button__icon(aria-hidden="true") linked_camera
i.material-icons.mdc-button__icon(aria-hidden="true") looks_3
i.material-icons.mdc-button__icon(aria-hidden="true") looks_4
i.material-icons.mdc-button__icon(aria-hidden="true") looks_5
i.material-icons.mdc-button__icon(aria-hidden="true") looks_6
i.material-icons.mdc-button__icon(aria-hidden="true") looks
i.material-icons.mdc-button__icon(aria-hidden="true") looks_one
i.material-icons.mdc-button__icon(aria-hidden="true") looks_two
i.material-icons.mdc-button__icon(aria-hidden="true") loupe
i.material-icons.mdc-button__icon(aria-hidden="true") monochrome_photos
i.material-icons.mdc-button__icon(aria-hidden="true") movie_creation
i.material-icons.mdc-button__icon(aria-hidden="true") movie_filter
i.material-icons.mdc-button__icon(aria-hidden="true") music_note
i.material-icons.mdc-button__icon(aria-hidden="true") nature
i.material-icons.mdc-button__icon(aria-hidden="true") nature_people
i.material-icons.mdc-button__icon(aria-hidden="true") navigate_before
i.material-icons.mdc-button__icon(aria-hidden="true") navigate_next
i.material-icons.mdc-button__icon(aria-hidden="true") palette
i.material-icons.mdc-button__icon(aria-hidden="true") panorama
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_fish_eye
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_horizontal
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_vertical
i.material-icons.mdc-button__icon(aria-hidden="true") panorama_wide_angle
i.material-icons.mdc-button__icon(aria-hidden="true") photo
i.material-icons.mdc-button__icon(aria-hidden="true") photo_album
i.material-icons.mdc-button__icon(aria-hidden="true") photo_camera
i.material-icons.mdc-button__icon(aria-hidden="true") photo_filter
i.material-icons.mdc-button__icon(aria-hidden="true") photo_library
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_actual
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_large
i.material-icons.mdc-button__icon(aria-hidden="true") photo_size_select_small
i.material-icons.mdc-button__icon(aria-hidden="true") picture_as_pdf
i.material-icons.mdc-button__icon(aria-hidden="true") portrait
i.material-icons.mdc-button__icon(aria-hidden="true") remove_red_eye
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_90_degrees_ccw
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_left
i.material-icons.mdc-button__icon(aria-hidden="true") rotate_right
i.material-icons.mdc-button__icon(aria-hidden="true") slideshow
i.material-icons.mdc-button__icon(aria-hidden="true") straighten
i.material-icons.mdc-button__icon(aria-hidden="true") style
i.material-icons.mdc-button__icon(aria-hidden="true") switch_camera
i.material-icons.mdc-button__icon(aria-hidden="true") switch_video
i.material-icons.mdc-button__icon(aria-hidden="true") tag_faces
i.material-icons.mdc-button__icon(aria-hidden="true") texture
i.material-icons.mdc-button__icon(aria-hidden="true") timelapse
i.material-icons.mdc-button__icon(aria-hidden="true") timer_3
i.material-icons.mdc-button__icon(aria-hidden="true") timer_10
i.material-icons.mdc-button__icon(aria-hidden="true") timer
i.material-icons.mdc-button__icon(aria-hidden="true") timer_off
i.material-icons.mdc-button__icon(aria-hidden="true") tonality
i.material-icons.mdc-button__icon(aria-hidden="true") transform
i.material-icons.mdc-button__icon(aria-hidden="true") tune
i.material-icons.mdc-button__icon(aria-hidden="true") view_comfy
i.material-icons.mdc-button__icon(aria-hidden="true") view_compact
i.material-icons.mdc-button__icon(aria-hidden="true") vignette
i.material-icons.mdc-button__icon(aria-hidden="true") wb_auto
i.material-icons.mdc-button__icon(aria-hidden="true") wb_cloudy
i.material-icons.mdc-button__icon(aria-hidden="true") wb_incandescent
i.material-icons.mdc-button__icon(aria-hidden="true") wb_iridescent
i.material-icons.mdc-button__icon(aria-hidden="true") wb_sunny

