i.material-icons.mdc-button__icon(aria-hidden="true") apps
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_back
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_downward
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_down
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_down_circle
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_drop_up
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_forward
i.material-icons.mdc-button__icon(aria-hidden="true") arrow_upward
i.material-icons.mdc-button__icon(aria-hidden="true") cancel
i.material-icons.mdc-button__icon(aria-hidden="true") check
i.material-icons.mdc-button__icon(aria-hidden="true") chevron_left
i.material-icons.mdc-button__icon(aria-hidden="true") chevron_right
i.material-icons.mdc-button__icon(aria-hidden="true") close
i.material-icons.mdc-button__icon(aria-hidden="true") expand_less
i.material-icons.mdc-button__icon(aria-hidden="true") expand_more
i.material-icons.mdc-button__icon(aria-hidden="true") first_page
i.material-icons.mdc-button__icon(aria-hidden="true") fullscreen
i.material-icons.mdc-button__icon(aria-hidden="true") fullscreen_exit
i.material-icons.mdc-button__icon(aria-hidden="true") last_page
i.material-icons.mdc-button__icon(aria-hidden="true") menu
i.material-icons.mdc-button__icon(aria-hidden="true") more_horiz
i.material-icons.mdc-button__icon(aria-hidden="true") more_vert
i.material-icons.mdc-button__icon(aria-hidden="true") refresh
i.material-icons.mdc-button__icon(aria-hidden="true") subdirectory_arrow_left
i.material-icons.mdc-button__icon(aria-hidden="true") subdirectory_arrow_right
i.material-icons.mdc-button__icon(aria-hidden="true") unfold_less
i.material-icons.mdc-button__icon(aria-hidden="true") unfold_more

