i.material-icons.mdc-button__icon(aria-hidden="true") adb
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_flat
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_flat_angled
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_individual_suite
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_extra
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_normal
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_legroom_reduced
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_recline_extra
i.material-icons.mdc-button__icon(aria-hidden="true") airline_seat_recline_normal
i.material-icons.mdc-button__icon(aria-hidden="true") bluetooth_audio
i.material-icons.mdc-button__icon(aria-hidden="true") confirmation_number
i.material-icons.mdc-button__icon(aria-hidden="true") disc_full
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_alt
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_off
i.material-icons.mdc-button__icon(aria-hidden="true") do_not_disturb_on
i.material-icons.mdc-button__icon(aria-hidden="true") drive_eta
i.material-icons.mdc-button__icon(aria-hidden="true") enhanced_encryption
i.material-icons.mdc-button__icon(aria-hidden="true") event_available
i.material-icons.mdc-button__icon(aria-hidden="true") event_busy
i.material-icons.mdc-button__icon(aria-hidden="true") event_note
i.material-icons.mdc-button__icon(aria-hidden="true") folder_special
i.material-icons.mdc-button__icon(aria-hidden="true") live_tv
i.material-icons.mdc-button__icon(aria-hidden="true") mms
i.material-icons.mdc-button__icon(aria-hidden="true") more
i.material-icons.mdc-button__icon(aria-hidden="true") network_check
i.material-icons.mdc-button__icon(aria-hidden="true") network_locked
i.material-icons.mdc-button__icon(aria-hidden="true") no_encryption
i.material-icons.mdc-button__icon(aria-hidden="true") ondemand_video
i.material-icons.mdc-button__icon(aria-hidden="true") personal_video
i.material-icons.mdc-button__icon(aria-hidden="true") phone_bluetooth_speaker
i.material-icons.mdc-button__icon(aria-hidden="true") phone_forwarded
i.material-icons.mdc-button__icon(aria-hidden="true") phone_in_talk
i.material-icons.mdc-button__icon(aria-hidden="true") phone_locked
i.material-icons.mdc-button__icon(aria-hidden="true") phone_missed
i.material-icons.mdc-button__icon(aria-hidden="true") phone_paused
i.material-icons.mdc-button__icon(aria-hidden="true") power
i.material-icons.mdc-button__icon(aria-hidden="true") priority_high_12px
i.material-icons.mdc-button__icon(aria-hidden="true") priority_high
i.material-icons.mdc-button__icon(aria-hidden="true") rv_hookup
i.material-icons.mdc-button__icon(aria-hidden="true") sd_card
i.material-icons.mdc-button__icon(aria-hidden="true") sim_card_alert
i.material-icons.mdc-button__icon(aria-hidden="true") sms
i.material-icons.mdc-button__icon(aria-hidden="true") sms_failed
i.material-icons.mdc-button__icon(aria-hidden="true") sync
i.material-icons.mdc-button__icon(aria-hidden="true") sync_disabled
i.material-icons.mdc-button__icon(aria-hidden="true") sync_problem
i.material-icons.mdc-button__icon(aria-hidden="true") system_update
i.material-icons.mdc-button__icon(aria-hidden="true") tap_and_play
i.material-icons.mdc-button__icon(aria-hidden="true") time_to_leave
i.material-icons.mdc-button__icon(aria-hidden="true") vibration
i.material-icons.mdc-button__icon(aria-hidden="true") voice_chat
i.material-icons.mdc-button__icon(aria-hidden="true") vpn_lock
i.material-icons.mdc-button__icon(aria-hidden="true") wc
i.material-icons.mdc-button__icon(aria-hidden="true") wifi

