i.material-icons.mdc-button__icon(aria-hidden="true") ac_unit
i.material-icons.mdc-button__icon(aria-hidden="true") airport_shuttle
i.material-icons.mdc-button__icon(aria-hidden="true") all_inclusive
i.material-icons.mdc-button__icon(aria-hidden="true") beach_access
i.material-icons.mdc-button__icon(aria-hidden="true") business_center
i.material-icons.mdc-button__icon(aria-hidden="true") casino
i.material-icons.mdc-button__icon(aria-hidden="true") child_care
i.material-icons.mdc-button__icon(aria-hidden="true") child_friendly
i.material-icons.mdc-button__icon(aria-hidden="true") fitness_center
i.material-icons.mdc-button__icon(aria-hidden="true") free_breakfast
i.material-icons.mdc-button__icon(aria-hidden="true") golf_course
i.material-icons.mdc-button__icon(aria-hidden="true") hot_tub
i.material-icons.mdc-button__icon(aria-hidden="true") kitchen
i.material-icons.mdc-button__icon(aria-hidden="true") pool
i.material-icons.mdc-button__icon(aria-hidden="true") room_service
i.material-icons.mdc-button__icon(aria-hidden="true") rv_hookup
i.material-icons.mdc-button__icon(aria-hidden="true") smoke_free
i.material-icons.mdc-button__icon(aria-hidden="true") smoking_rooms
i.material-icons.mdc-button__icon(aria-hidden="true") spa

