i.material-icons.mdc-button__icon(aria-hidden="true") cake
i.material-icons.mdc-button__icon(aria-hidden="true") domain
i.material-icons.mdc-button__icon(aria-hidden="true") group
i.material-icons.mdc-button__icon(aria-hidden="true") group_add
i.material-icons.mdc-button__icon(aria-hidden="true") location_city
i.material-icons.mdc-button__icon(aria-hidden="true") mood
i.material-icons.mdc-button__icon(aria-hidden="true") mood_bad
i.material-icons.mdc-button__icon(aria-hidden="true") notifications
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_active
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_none
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_off
i.material-icons.mdc-button__icon(aria-hidden="true") notifications_paused
i.material-icons.mdc-button__icon(aria-hidden="true") pages
i.material-icons.mdc-button__icon(aria-hidden="true") party_mode
i.material-icons.mdc-button__icon(aria-hidden="true") people
i.material-icons.mdc-button__icon(aria-hidden="true") people_outline
i.material-icons.mdc-button__icon(aria-hidden="true") person
i.material-icons.mdc-button__icon(aria-hidden="true") person_add
i.material-icons.mdc-button__icon(aria-hidden="true") person_outline
i.material-icons.mdc-button__icon(aria-hidden="true") plus_one
i.material-icons.mdc-button__icon(aria-hidden="true") poll
i.material-icons.mdc-button__icon(aria-hidden="true") public
i.material-icons.mdc-button__icon(aria-hidden="true") school
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_dissatisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_neutral
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_satisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_very_dissatisfied
i.material-icons.mdc-button__icon(aria-hidden="true") sentiment_very_satisfied
i.material-icons.mdc-button__icon(aria-hidden="true") share
i.material-icons.mdc-button__icon(aria-hidden="true") whatshot

