i.material-icons.mdc-button__icon(aria-hidden="true") check_box
i.material-icons.mdc-button__icon(aria-hidden="true") check_box_outline_blank
i.material-icons.mdc-button__icon(aria-hidden="true") indeterminate_check_box
i.material-icons.mdc-button__icon(aria-hidden="true") radio_button_checked
i.material-icons.mdc-button__icon(aria-hidden="true") radio_button_unchecked
i.material-icons.mdc-button__icon(aria-hidden="true") star
i.material-icons.mdc-button__icon(aria-hidden="true") star_border
i.material-icons.mdc-button__icon(aria-hidden="true") star_half