/* ==========================================================================
  Bedrock specific styles
   ========================================================================== */

@import "vendor/codemirror";

/* Variables
   ========================================================================== */

$br-heading-font-weight: 700 !default;

$br-base-size-multiplier: 0.625 !default;

$br-background: #FFF !default;
$br-code-background: #F0F0F0 !default;

$br-switch-breakpoint: 800px;

$br-styleguide-content-width: 78% !default; // Only supply a single % value here
$br-styleguide-sidebar-width: 22% !default; // Only supply a single % value here

$br-styleguide-sidebar-padding: 3.2rem !default; // Only supply a single rem value here
$br-styleguide-content-padding: 3.2rem !default; // Only supply a single rem value here

@import "../../content/scss/br-variables-override";


/* Basic setup
   ========================================================================== */

.br-styleguide-default-styles-active {
  
  height: 100%;

  body {
    height: 100%;
    overflow: visible !important; // Override any utility classes killing scroll
    // Only kill the body scroll from a certain mq
    @media (min-width: $br-switch-breakpoint) {
      overflow: hidden;
    }
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background: #FFF;
  }

  // Default style for 2 column layout in styleguide

  .br-styleguide-container {
    height: 100%;
    box-sizing: border-box;
  }

  .br-styleguide-navigation-holder {
    box-sizing: border-box;
    padding:
      $br-styleguide-content-padding*$br-base-size-multiplier
      $br-styleguide-content-padding/2*$br-base-size-multiplier
      $br-styleguide-content-padding*$br-base-size-multiplier
      $br-styleguide-content-padding*$br-base-size-multiplier;
    // Only init 2 columns and scroll from a certain mq
    @media (min-width: $br-switch-breakpoint) {
      height: 100%;
      width: $br-styleguide-sidebar-width;
      float: left;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  .br-styleguide-container-inner {
    height: 100%;
  }

  .br-styleguide-content {
    background: #FFF;
    box-sizing: border-box;
    padding:
      $br-styleguide-content-padding*$br-base-size-multiplier
      $br-styleguide-content-padding*$br-base-size-multiplier
      $br-styleguide-content-padding*$br-base-size-multiplier
      $br-styleguide-content-padding/2*$br-base-size-multiplier;
    // Only init 2 columns and scroll from a certain mq
    @media (min-width: $br-switch-breakpoint) {
      height: 100%;
      width: $br-styleguide-content-width;
      float: left;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

}

/* ==========================================================================
  br-prototype-nav
   ========================================================================== */

/* Variables
   ========================================================================== */

$br-prototype-nav-width: 250px; // Keep this in px please, otherwise it gets buggy

/* Sidebar
   ========================================================================== */

// We are supposing this is true within all projects
html.br-styleguide,
.br-styleguide body {
  margin: 0;
}

html.br-prototype-nav-is-open {
  position: relative;
  left: $br-prototype-nav-width;
  width: calc(100% - #{$br-prototype-nav-width});
}

.br-prototype-nav {
  background-color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 1.5;
  z-index: 2000;
  transform: translateX(-100%);
  width: $br-prototype-nav-width;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .br-prototype-nav-inner {
    padding: 2rem*$br-base-size-multiplier;
    overflow: hidden;
    overflow-y: auto;
  }

  &.br-prototype-nav-open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(#000, 0.3);
  }
}

.br-prototype-langselector {
  margin-bottom: 10px;
}

.br-prototype-nav-text {
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
  color: rgba(#000,0.5);
  .br-prototype-nav--dark & {
    color: rgba(#FFF,0.5);
  }
}

/* Headings (both on index page and in sidebar)
   ========================================================================== */

.br-prototype-nav-main-heading {
  color: #000;
  font-size: 1.5rem*$br-base-size-multiplier;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
}

.br-prototype-nav-sub-heading {
  font-size: 1.3rem*$br-base-size-multiplier;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
}

/* Index page
   ========================================================================== */

.br-prototype-nav-index {
  padding: 2rem*$br-base-size-multiplier;
}

.br-prototype-nav-index-cols {
  column-count: 3;
  li {
    break-inside: avoid;
  }
}

/* Page states
   ========================================================================== */

.br-prototype-page-states {
  background: rgba(#FFF,0.05);
  box-shadow: 0.2rem*$br-base-size-multiplier 0 0.5rem*$br-base-size-multiplier rgba(#000, 0.3);
  margin-top: auto;
  padding: 2rem*$br-base-size-multiplier;
}

.br-tree-dir-state-count {
  float: right;
  padding: 0 0.4rem*$br-base-size-multiplier;
  border-radius: 3px;
  background-color: #eee;
  font-size: 1.2rem*$br-base-size-multiplier;
}

/* Utilities 
   ========================================================================== */

.br-reset-link-styling {
  text-decoration: none;
  color: #000;
}

/* Expanded/collapsed states for directories
   Only in side navigation
   ========================================================================== */

.br-bordered-list {
  list-style: none;
  padding: 0;
}

.br-prototype-nav {

  .br-bordered-list ul {
    padding: 0 0 0 1.8rem*$br-base-size-multiplier;
    list-style: none;
  }

  .br-tree-dir {

    .br-tree-dir-title {
      margin: 0;
      cursor: default;
      font-weight: 400;

      &:before {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;

        // CSS triangle
        border: 0;
        border-left: 0.4rem*$br-base-size-multiplier solid transparent;
        border-right: 0.4rem*$br-base-size-multiplier solid transparent;
        border-top: 0.4rem*$br-base-size-multiplier solid #999;

        margin-left: 0.2rem*$br-base-size-multiplier;
        margin-right: 0.4rem*$br-base-size-multiplier;

        position: relative;
        top: -0.3rem*$br-base-size-multiplier;
      }
    }
  }

  .br-tree-dir--is-collapsed {
    * {
      display: none;
    }

    > .br-tree-dir-title {
      display: block;

      &:before {
        // CSS triangle
        border: 0;
        border-top: 0.4rem solid transparent;
        border-bottom: 0.4rem solid transparent;
        border-left: 0.4rem solid #999;

        margin-left: 0.35rem*$br-base-size-multiplier;
        margin-right: 0.65rem*$br-base-size-multiplier;
        top: 0;
      }
    }
  }

}


/* br-component
   ========================================================================== */

.br-component-header {
  font-size: 2.4rem*$br-base-size-multiplier;
  font-weight: $br-heading-font-weight;
}

/* br-sample
   ========================================================================== */

.br-sample {
  padding: 1.2rem 0;
}

.br-sample-clearfix:before,
.br-sample-clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.br-sample-clearfix:after {
  clear: both;
}

.br-sample-btn {
  background: #FFF;
  border: 1px solid #CDCDCD;
  display: inline-block;
  padding: 0.5rem*$br-base-size-multiplier 0.8rem*$br-base-size-multiplier;
  border-radius: 0.4rem*$br-base-size-multiplier;
  margin: 0 0 1rem*$br-base-size-multiplier;
  font-size: 1.2rem*$br-base-size-multiplier;
  &:hover {
    background: #FFF;
  }
}

.br-sample-copy-code-btn {
  position: absolute !important;
  z-index: 3;
  top: 1.5rem*$br-base-size-multiplier;
  right: 1rem*$br-base-size-multiplier;
  visibility: hidden;
  .br-sample-code:hover & {
    visibility: visible;
  }
}

.br-sample-code {
  position: relative;
}

.br-sample-markup {
  background: #EEE;
  border: 1px solid #DDD;
  padding: 1rem*$br-base-size-multiplier;
  position: relative;
  .CodeMirror {
    background: transparent;
  }
}

.br-sample-content {
  background: #FFF;
  padding: 3rem*$br-base-size-multiplier;
  border: 1px solid #DDD;
  margin: 0 0 1rem*$br-base-size-multiplier;
  position: relative;
  overflow: hidden;
  resize: vertical;
}

.br-sample-content-is-layout {
  min-height: 500px;
}

.br-sample-header .br-sample-header-link {
  float: right;
  color: rgba(0,0,0,0.45);
  font-size: 1.6rem*$br-base-size-multiplier;
  margin: 1rem*$br-base-size-multiplier 0;
  padding: 0 0.2rem*$br-base-size-multiplier 0 0;
}

.br-sample-header .br-sample-heading {
  float: left;
  margin: 1rem*$br-base-size-multiplier 0;
  padding: 0;
}

/* Color swatches
   ========================================================================== */

.br-color-swatch-list {
  list-style-type: none;
  padding: 0;
}

.br-color-swatch-item {
  display: inline-block;
  margin-right: 1rem*$br-base-size-multiplier;
  padding: 1rem*$br-base-size-multiplier;
  text-align: center;
  width: 20rem*$br-base-size-multiplier;
}

.br-color-swatch-preview {
  width: 6rem*$br-base-size-multiplier;
  height: 6rem*$br-base-size-multiplier;
  margin-bottom: 0.5rem*$br-base-size-multiplier;
  display: inline-block;
}

.br-color-swatch-data {
  color: #888;
  font-size: 1.3rem*$br-base-size-multiplier;
}