/* purgecss start ignore */
/* ==========================================================================
  Bedrock specific styles
   ========================================================================== */

@import "../../content/scss/br-variables-override";
@import "vendor/codemirror";

/* Variables
   ========================================================================== */

$br-rem-multiplier: 0.625 !default;

$br-heading-font-weight: 700 !default;

$br-background: #FFF !default;

$br-default-border-color: #DDD !default;
$br-default-hover-bg-color: #F0F0F0 !default;
$br-code-background: $br-default-hover-bg-color !default;
$br-code-border-color: #DDD !default;
$br-sample-border-color: $br-default-border-color !default;

$br-styleguide-sidebar-bg-color: #F5F5F5 !default;

$br-switch-breakpoint: 800px;

$br-styleguide-sidebar-width: 22% !default; // Only supply a single % value here

$br-styleguide-sidebar-padding-top: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-sidebar-padding-right: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-sidebar-padding-bottom: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-sidebar-padding-left: 2.4rem*$br-rem-multiplier !default;

$br-styleguide-content-padding-top: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-content-padding-right: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-content-padding-bottom: 2.4rem*$br-rem-multiplier !default;
$br-styleguide-content-padding-left: 4.8rem*$br-rem-multiplier !default;

@import "../../content/scss/br-variables-override";


/* Fixed layout
   ========================================================================== */

.br-pagetree-fixed-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
}

/* Basic setup
   ========================================================================== */

.br-styleguide-default-styles-active {

  height: 100%;
  position: static;

  body {
    height: 100%;
    overflow: visible !important; // Override any utility classes killing scroll
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF;
  }

  .br-styleguide-navigation-holder {
    box-sizing: border-box;
    padding:
      $br-styleguide-sidebar-padding-top
      $br-styleguide-sidebar-padding-right
      $br-styleguide-sidebar-padding-bottom
      $br-styleguide-sidebar-padding-left;
  }

  .br-styleguide-content {
    background: #FFF;
    box-sizing: border-box;
    padding:
      $br-styleguide-content-padding-top
      $br-styleguide-content-padding-right
      $br-styleguide-content-padding-bottom
      $br-styleguide-content-padding-left;
  }

}

/* ==========================================================================
  br-prototype-nav
   ========================================================================== */

/* Sidebar
   ========================================================================== */

// We are supposing this is true within all projects
html.br-styleguide,
.br-styleguide body {
  margin: 0;
}

.br-prototype-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.br-prototype-content {
  height: 100%;
  flex: 1 1 100%;
  overflow: auto;
}

html.br-prototype-nav-is-open {
  position: relative;
}

.br-prototype-nav {
  background-color: #FFF;
  line-height: 1.5;
  z-index: 2000;
  width: 250px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  text-align: left;
  height: 100%;
  .br-prototype-nav-inner {
    padding: 2rem*$br-rem-multiplier;
    overflow: hidden;
    overflow-y: auto;
  }

  &.br-prototype-nav-open {
    display: flex;
    box-shadow: 0.2rem*$br-rem-multiplier 0 0.5rem*$br-rem-multiplier rgba(#000, 0.3);
  }
}

.br-prototype-nav-text {
  font-size: 1.3rem*$br-rem-multiplier;
  margin: 0;
  padding: 0 0 0.6rem*$br-rem-multiplier;
  color: rgba(#000,0.5);
}

/* Headings (both on index page and in sidebar)
   ========================================================================== */

.br-prototype-nav-main-heading {
  color: #000;
  font-weight: $br-heading-font-weight;
  margin: 0;
}

/* Index page
   ========================================================================== */

.br-prototype-nav-index {
  padding: 2rem*$br-rem-multiplier;
}

.br-prototype-nav-index-cols {
  column-count: 3;
  li {
    break-inside: avoid;
  }
}

/* Page states
   ========================================================================== */

.br-prototype-page-states {
  background: rgba(#FFF,0.05);
  box-shadow: 0.2rem*$br-rem-multiplier 0 0.5rem*$br-rem-multiplier rgba(#000, 0.3);
  margin-top: auto;
  padding: 2rem*$br-rem-multiplier;
}

.br-tree-dir-state-count {
  float: right;
  padding: 0 0.4rem*$br-rem-multiplier;
  border-radius: 3px;
  background-color: #eee;
  font-size: 1.2rem*$br-rem-multiplier;
}

/* Utilities
   ========================================================================== */

.br-reset-link-styling {
  text-decoration: none;
  color: #000;
}

/* Expanded/collapsed states for directories
   Only in side navigation
   ========================================================================== */

.br-bordered-list {
  list-style: none;
  padding: 0;
}

.br-prototype-nav {

  .br-bordered-list ul {
    padding: 0 0 0 1.8rem*$br-rem-multiplier;
    list-style: none;
  }

  .br-tree-dir {

    .br-tree-dir-title {
      margin: 0;
      cursor: default;
      font-weight: 400;

      &:before {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;

        // CSS triangle
        border: 0;
        border-left: 0.4rem*$br-rem-multiplier solid transparent;
        border-right: 0.4rem*$br-rem-multiplier solid transparent;
        border-top: 0.4rem*$br-rem-multiplier solid #999;

        margin-left: 0.2rem*$br-rem-multiplier;
        margin-right: 0.4rem*$br-rem-multiplier;

        position: relative;
        top: -0.3rem*$br-rem-multiplier;
      }
    }
  }

  .br-tree-dir--is-collapsed {
    * {
      display: none;
    }

    > .br-tree-dir-title {
      display: block;

      &:before {
        // CSS triangle
        border: 0;
        border-top: 0.4rem*$br-rem-multiplier solid transparent;
        border-bottom: 0.4rem*$br-rem-multiplier solid transparent;
        border-left: 0.4rem*$br-rem-multiplier solid #999;

        margin-left: 0.35rem*$br-rem-multiplier;
        margin-right: 0.65rem*$br-rem-multiplier;
        top: 0;
      }
    }
  }

}


/* br-component
   ========================================================================== */

.br-component-header {
  font-size: 2.4rem*$br-rem-multiplier;
  font-weight: $br-heading-font-weight;
}

/* br-sample
   ========================================================================== */

.br-sample {
  padding: 1.2rem*$br-rem-multiplier 0;
}

.br-sample-clearfix:before,
.br-sample-clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.br-sample-clearfix:after {
  clear: both;
}

.br-sample-btn {
  background: #FFF;
  border: 1px solid $br-sample-border-color;
  display: inline-block;
  padding: 0.5rem*$br-rem-multiplier 0.8rem*$br-rem-multiplier;
  border-radius: 0.4rem*$br-rem-multiplier;
  margin: 0 0 1rem*$br-rem-multiplier;
  font-size: 1.2rem*$br-rem-multiplier;
  &:hover {
    background: #FFF;
  }
}

.br-sample-footer {
  position: relative;
}

/* Code related
   ========================================================================== */

.br-sample-code {
  position: relative;
}
.br-sample-copy-code-btn {
  position: absolute;
  z-index: 3;
  top: 1rem*$br-rem-multiplier;
  right: 1rem*$br-rem-multiplier;
  display: none;
  .br-sample-code:hover & {
    display: block;
  }
}

.br-sample-markup {
  margin-top: 1rem*$br-rem-multiplier;
  background: $br-code-background;
  border: 1px solid $br-code-border-color;
  padding: 1rem*$br-rem-multiplier;
  .CodeMirror {
    background: transparent;
  }
}

.br-sample-content {
  background: #FFF;
  padding: 3rem*$br-rem-multiplier;
  border: 1px solid $br-sample-border-color;
  margin: 1rem*$br-rem-multiplier 0;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  resize: both;
}

.br-sample-content-is-layout {
  min-height: 500px;
}

.br-sample-header .br-sample-header-link {
  float: right;
  color: rgba(0,0,0,0.45);
  font-size: 1.6rem*$br-rem-multiplier;
  margin: 1rem*$br-rem-multiplier 0;
  padding: 0 0.2rem*$br-rem-multiplier 0 0;
}

.br-sample-header .br-sample-heading {
  float: left;
  margin: 1rem*$br-rem-multiplier 0;
  padding: 0;
}

/* Color swatches
   ========================================================================== */

.br-color-swatch-list {
  list-style-type: none;
  padding: 0;
}

.br-color-swatch-item {
  min-width: 150px;
  display: inline-block;
  margin: 0 1rem*$br-rem-multiplier 1rem*$br-rem-multiplier 0;
  padding: 1rem*$br-rem-multiplier;
  text-align: center;
}

.br-color-swatch-preview {
  width: 6rem*$br-rem-multiplier;
  height: 6rem*$br-rem-multiplier;
  margin-bottom: 0.5rem*$br-rem-multiplier;
  display: inline-block;
}

.br-color-swatch-data {
  color: #888;
  font-size: 1.3rem*$br-rem-multiplier;
}

/* Typography
   ========================================================================== */

.br-typography-sample-size {
  opacity: 0.4;
}

/* ==========================================================================
  br-bordered-list
   ========================================================================== */

/* ==========================================================================
  Variables
   ========================================================================== */

$br-bordered-list-border-color:                  #DDD !default;
$br-bordered-list-border-color-inverse:          rgba(#FFF,0.2) !default;

// Padding
$br-bordered-list-item-padding:                  0.2rem*$br-rem-multiplier !default;

// Font sizes
$br-bordered-list-font-size:                     1.3rem*$br-rem-multiplier  !default;
$br-bordered-list-title-font-size:               1.5rem*$br-rem-multiplier !default;

// Regular colors

/* Bordered list
   ========================================================================== */

.br-bordered-list-title {
  font-weight: $br-heading-font-weight;
  padding: 0;
  margin: 0 0 1.2rem*$br-rem-multiplier;
  font-size: $br-bordered-list-title-font-size;
  padding: $br-bordered-list-item-padding;
}

.br-tree-dir-title {
  margin: 0;
  font-size: $br-bordered-list-font-size;
  padding: $br-bordered-list-item-padding*2 $br-bordered-list-item-padding;
}

.br-bordered-list {
  margin: 0;
  padding: 0 0 1rem*$br-rem-multiplier;
  ul {
    padding: 0 0 0 1rem*$br-rem-multiplier;
  }
  li {
    display: block;
    a,
    span.br-bordered-list-label {
      padding: $br-bordered-list-item-padding;
      font-size: $br-bordered-list-font-size;
      display: block;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid $br-bordered-list-border-color;
    }
    a:hover {
      background: rgba(0,0,0,0.1);
    }
    a.br-bordered-list__link--active {
      background: rgba(0,0,0,0.15);
    }
  }
}

/* Improve styles for nav
   ========================================================================== */

.br-bordered-list li a {
  border-bottom: 1px solid $br-default-border-color;
  padding: 0.4rem*$br-rem-multiplier;

  &:hover {
    background-color: $br-default-hover-bg-color;
  }

  &.br-bordered-list__link--active {
    background-color: $br-default-hover-bg-color;
  }
}

.br-styleguide-navigation-holder {
  .br-bordered-list li a {
    border-bottom: 1px solid $br-default-border-color;

    &:hover {
      background-color: #FFF;
    }

    &.br-bordered-list__link--active {
      background-color: #FFF;
    }
  }
}

/* Category markers (on components)
   To use: add “source: unofficial” to YAML front matter in component .md file
   ========================================================================== */

.br-sample-category {
  background: #EEE;
  display: inline-block;
  border-radius: 12px;
  padding: 0.2rem 0.8rem;
  font-size: 90%;
  margin: 0 0 0 1rem;
  position: relative;
  top: 0.7rem;
}

/* Category markers (in sidebar)
   Use case: determine which “official” components contain custom code
   To use: add containsCustom: true to YAML front matter in _docs.md file on component level
   ========================================================================== */

.br-docs-category-marker-custom {
  background: #CCC;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: right;
  margin-top: 4px;
}

/* ==========================================================================
  Grid layout
   ========================================================================== */

.br-styleguide-navigation-holder {
  border-right: 1px solid $br-default-border-color;
  background: $br-styleguide-sidebar-bg-color;
  @media (min-width: $br-switch-breakpoint) {
    overflow: auto;
  }
}

.br-styleguide-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: $br-styleguide-sidebar-bg-color;
  border-right: 1px solid $br-default-border-color;
}

.br-styleguide-navigation-holder {
  position: sticky;
  top: 0;
  z-index: 9;
}

.br-styleguide-search {
  padding: 1.5rem;
  background: $br-styleguide-sidebar-bg-color;
  border-top: 1px solid $br-default-border-color;
  border-bottom: 1px solid $br-default-border-color;
  border-right: 1px solid $br-default-border-color;
  position: sticky;
  top: 0;
  z-index: 10;
  input {
    width: 100%;
  }
}

@media (min-width: $br-switch-breakpoint) {
  .br-styleguide-content {
    overflow: scroll;
  }
}


.br-styleguide-container {
  flex: 1 1 100%;
  height: 100%;
  display: flex;

  .br-styleguide-navigation-wrapper-ie {
    display: flex;
    flex-direction: column;
     flex: 1 0 20%;
  }

  .br-styleguide-content {
    flex: 1 0 80%;
  }
}


@supports (display: grid) {
  .br-styleguide-container {
    height: 100%;
    display: grid;
      grid-template-areas:
             "header"
             "search"
             "content"
             "sidebar";

    @media (min-width: $br-switch-breakpoint) {

      grid-template-columns: $br-styleguide-sidebar-width auto;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
             "header content content"
             "search content content"
             "sidebar content content";

     .br-styleguide-navigation-wrapper-ie {
       display: contents;
     }
    }

    .br-styleguide-header {
      grid-area: header;
    }

    .br-styleguide-search {
      grid-area: search;
    }

    .br-styleguide-navigation-holder {
      grid-area: sidebar;
    }

    .br-styleguide-content {
      grid-area: content;
    }
  }
}

/* Component group header
   ========================================================================== */

.br-componentgroup-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* purgecss end ignore */