nav(aria-label='breadcrumb')
    ol.breadcrumb
        li.breadcrumb-item.active(aria-current='page') Home
nav(aria-label='breadcrumb')
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Home
        li.breadcrumb-item.active(aria-current='page') Library
nav(aria-label='breadcrumb')
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Home
        li.breadcrumb-item
            a(href='#') Library
        li.breadcrumb-item.active(aria-current='page') Data
