.o-flex(style="height: 100px;")
    div(style="background-color: green; width: 200px; height: 100px;")
    .o-flex__item(style="background-color: red; height: 150px;")
    div(style="background-color: blue; width: 200px; height: 50px;")
