.c-pagination
    .c-pagination__btn
        +icon('arrows/chevron-left')
    .c-pagination__pages
        .c-pagination__btn.c-pagination__btn--active 1
        .c-pagination__btn 2
        .c-pagination__btn 3
        .c-pagination__btn 4
        .c-pagination__btn 5
    .c-pagination__btn
        +icon('arrows/chevron-right')