.c-progress-bar(style='--value: .02')
.c-progress-bar(style='--value: .1')
.c-progress-bar(style='--value: .3')
.c-progress-bar(style='--value: .5')
.c-progress-bar(style='--value: .7')
.c-progress-bar(style='--value: .9')
.c-progress-bar(style='--value: 1')
