ul.c-bordered-list-horizontal
    li
        span Apple
    li
        span Banana
    li
        span Pear

br
br

ul.c-bordered-list-horizontal
    li
        span Text
    li
        a(href="#") Link to page
    li
        a(href="#") Link to page

br
br

ul.c-bordered-list-horizontal
    li
        a(href="#") Link to page
    li
        a(href="#") Link to page
    li
        a(href="#") Link to page
