include ../../../../core/templates/mixins/icon-overview

if config.icons.hasSvgIcons
    - var svgIconClassPrefix = config.icons && config.icons.svgIconClassPrefix || 'svg-icon'

    +iconsOverview('svg', 'SVG icons')
