.u-table-overflow.u-spacer--large
    table.data-table.data-table--matrix
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--positive(aria-hidden="true")
            td Badge color positive
            td vi-u-badge vi-u-badge--positive
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--action(aria-hidden="true")
            td Badge color action
            td vi-u-badge vi-u-badge--action
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--negative(aria-hidden="true")
            td Badge color negative
            td vi-u-badge vi-u-badge--negative
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--warning(aria-hidden="true")
            td Badge color warning
            td vi-u-badge vi-u-badge--warning
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--neutral(aria-hidden="true")
            td Badge color neutral
            td vi-u-badge vi-u-badge--neutral
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--light(aria-hidden="true")
            td Badge color light
            td vi-u-badge vi-u-badge--light
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--xxsmall.vi-u-badge--neutral(aria-hidden="true")
            td Badge size xxsmall
            td vi-u-badge vi-u-badge--xxsmall
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--xsmall.vi-u-badge--neutral(aria-hidden="true")
            td Badge size xsmall
            td vi-u-badge vi-u-badge--xsmall
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--small.vi-u-badge--neutral(aria-hidden="true")
            td Badge size small
            td vi-u-badge vi-u-badge--small
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--medium.vi-u-badge--neutral(aria-hidden="true")
            td Badge size medium
            td vi-u-badge vi-u-badge--medium
        tr
            th
                i.vi.vi-arrow.vi-u-badge.vi-u-badge--large.vi-u-badge--neutral(aria-hidden="true")
            td Badge size large
            td vi-u-badge vi-u-badge--large
h2.h2 Icons
.u-table-overflow
table.data-table.data-table--matrix
    thead
        tr
            th Icon
            th Name
            th Class
    tbody
        tr
            th
                i.vi.vi-addressbook(aria-hidden="true")
            td
                | addressbook
            td
                | vi vi-addressbook
        tr
            th
                i.vi.vi-arrow-bottom(aria-hidden="true")
            td
                | arrow-bottom
            td
                | vi vi-arrow-bottom
        tr
            th
                i.vi.vi-arrow-thin(aria-hidden="true")
            td
                | arrow-thin
            td
                | vi vi-arrow-thin
        tr
            th
                i.vi.vi-arrow(aria-hidden="true")
            td
                | arrow
            td
                | vi vi-arrow
        tr
            th
                i.vi.vi-bell(aria-hidden="true")
            td
                | bell
            td
                | vi vi-bell
        tr
            th
                i.vi.vi-book(aria-hidden="true")
            td
                | book
            td
                | vi vi-book
        tr
            th
                i.vi.vi-burger-alt(aria-hidden="true")
            td
                | burger-alt
            td
                | vi vi-burger-alt
        tr
            th
                i.vi.vi-burger(aria-hidden="true")
            td
                | burger
            td
                | vi vi-burger
        tr
            th
                i.vi.vi-calendar(aria-hidden="true")
            td
                | calendar
            td
                | vi vi-calendar
        tr
            th
                i.vi.vi-calendar_check(aria-hidden="true")
            td
                | calendar_check
            td
                | vi vi-calendar_check
        tr
            th
                i.vi.vi-calendar_date(aria-hidden="true")
            td
                | calendar_date
            td
                | vi vi-calendar_date
        tr
            th
                i.vi.vi-check(aria-hidden="true")
            td
                | check
            td
                | vi vi-check
        tr
            th
                i.vi.vi-clock(aria-hidden="true")
            td
                | clock
            td
                | vi vi-clock
        tr
            th
                i.vi.vi-cross-thin(aria-hidden="true")
            td
                | cross-thin
            td
                | vi vi-cross-thin
        tr
            th
                i.vi.vi-cross(aria-hidden="true")
            td
                | cross
            td
                | vi vi-cross
        tr
            th
                i.vi.vi-diagram(aria-hidden="true")
            td
                | diagram
            td
                | vi vi-diagram
        tr
            th
                i.vi.vi-document-small(aria-hidden="true")
            td
                | document-small
            td
                | vi vi-document-small
        tr
            th
                i.vi.vi-document(aria-hidden="true")
            td
                | document
            td
                | vi vi-document
        tr
            th
                i.vi.vi-double-arrow(aria-hidden="true")
            td
                | double-arrow
            td
                | vi vi-double-arrow
        tr
            th
                i.vi.vi-edit(aria-hidden="true")
            td
                | edit
            td
                | vi vi-edit
        tr
            th
                i.vi.vi-expand(aria-hidden="true")
            td
                | expand
            td
                | vi vi-expand
        tr
            th
                i.vi.vi-external(aria-hidden="true")
            td
                | external
            td
                | vi vi-external
        tr
            th
                i.vi.vi-facebook(aria-hidden="true")
            td
                | facebook
            td
                | vi vi-facebook
        tr
            th
                i.vi.vi-faq(aria-hidden="true")
            td
                | faq
            td
                | vi vi-faq
        tr
            th
                i.vi.vi-googleplus(aria-hidden="true")
            td
                | googleplus
            td
                | vi vi-googleplus
        tr
            th
                i.vi.vi-graduate(aria-hidden="true")
            td
                | graduate
            td
                | vi vi-graduate
        tr
            th
                i.vi.vi-id(aria-hidden="true")
            td
                | id
            td
                | vi vi-id
        tr
            th
                i.vi.vi-info(aria-hidden="true")
            td
                | info
            td
                | vi vi-info
        tr
            th
                i.vi.vi-instagram(aria-hidden="true")
            td
                | instagram
            td
                | vi vi-instagram
        tr
            th
                i.vi.vi-linkedin(aria-hidden="true")
            td
                | linkedin
            td
                | vi vi-linkedin
        tr
            th
                i.vi.vi-list(aria-hidden="true")
            td
                | list
            td
                | vi vi-list
        tr
            th
                i.vi.vi-location(aria-hidden="true")
            td
                | location
            td
                | vi vi-location
        tr
            th
                i.vi.vi-long-arrow(aria-hidden="true")
            td
                | long-arrow
            td
                | vi vi-long-arrow
        tr
            th
                i.vi.vi-magnifier(aria-hidden="true")
            td
                | magnifier
            td
                | vi vi-magnifier
        tr
            th
                i.vi.vi-mail(aria-hidden="true")
            td
                | mail
            td
                | vi vi-mail
        tr
            th
                i.vi.vi-minus(aria-hidden="true")
            td
                | minus
            td
                | vi vi-minus
        tr
            th
                i.vi.vi-news(aria-hidden="true")
            td
                | news
            td
                | vi vi-news
        tr
            th
                i.vi.vi-paper(aria-hidden="true")
            td
                | paper
            td
                | vi vi-paper
        tr
            th
                i.vi.vi-paperclip(aria-hidden="true")
            td
                | paperclip
            td
                | vi vi-paperclip
        tr
            th
                i.vi.vi-pin(aria-hidden="true")
            td
                | pin
            td
                | vi vi-pin
        tr
            th
                i.vi.vi-play(aria-hidden="true")
            td
                | play
            td
                | vi vi-play
        tr
            th
                i.vi.vi-plus(aria-hidden="true")
            td
                | plus
            td
                | vi vi-plus
        tr
            th
                i.vi.vi-question(aria-hidden="true")
            td
                | question
            td
                | vi vi-question
        tr
            th
                i.vi.vi-tag(aria-hidden="true")
            td
                | tag
            td
                | vi vi-tag
        tr
            th
                i.vi.vi-timeline(aria-hidden="true")
            td
                | timeline
            td
                | vi vi-timeline
        tr
            th
                i.vi.vi-trash(aria-hidden="true")
            td
                | trash
            td
                | vi vi-trash
        tr
            th
                i.vi.vi-twitter(aria-hidden="true")
            td
                | twitter
            td
                | vi vi-twitter
        tr
            th
                i.vi.vi-up-down-arrows(aria-hidden="true")
            td
                | up-down-arrows
            td
                | vi vi-up-down-arrows
        tr
            th
                i.vi.vi-vlaanderen(aria-hidden="true")
            td
                | vlaanderen
            td
                | vi vi-vlaanderen
        tr
            th
                i.vi.vi-warning(aria-hidden="true")
            td
                | warning
            td
                | vi vi-warning
