.u-table-overflow.u-spacer--large
    table.data-table.data-table--matrix
        thead
            tr
                th Example
                th Name
                th Class
        tbody
            tr
                th
                    i.vi.vi-arrow.vi-u-xs(aria-hidden="true")
                td Extra small
                td vi-u-xs
            tr
                th
                    i.vi.vi-arrow.vi-u-s(aria-hidden="true")
                td Small
                td vi-u-s
            tr
                th
                    i.vi.vi-arrow.vi-u-m(aria-hidden="true")
                td Medium
                td vi-u-m
            tr
                th
                    i.vi.vi-arrow.vi-u-l(aria-hidden="true")
                td Large
                td vi-u-l
            tr
                th
                    i.vi.vi-arrow.vi-u-xl(aria-hidden="true")
                td Extra large
                td vi-u-xl
