include ../../../../core/templates/mixins/icon-overview

if config.icons.generateIconFont
    h3 Icon font
    p
        | The icon font system creates an icon font based on SVG images in the <code>content/icon-font-source/</code> directory.

    +iconsOverview('icon-font', 'Icon font')
else
    p Icon font does appear to be turned on in bedrock.config.js.