.u-table-overflow.u-spacer--large
    table.data-table.data-table--matrix
        thead
            tr
                th Example
                th Name
                th Class
        tbody
            tr
                th
                    i.vi.vi-arrow.vi-u-90deg(aria-hidden="true")
                td Rotate 90 deg
                td vi-u-90deg
            tr
                th
                    i.vi.vi-arrow.vi-u-180deg(aria-hidden="true")
                td Rotate 180 deg
                td vi-u-180deg
