// Needs to be optimized

div(style="height: 200px;")
    .c-avatar--multiple
        .c-avatar JD
        .c-avatar TS
        .c-avatar LT


        .c-avatar.c-avatar-tooltip(data-tooltip="tooltip1") +4
        .c-tooltip(id="tooltip1")
            .o-flex.o-flex--vertical-center.o-flex--nowrap.u-spacer-top-s
                .c-avatar JD
                .u-spacer-left
                    span  John Doe
            .o-flex.o-flex--vertical-center.o-flex--nowrap.u-spacer-top-s
                .c-avatar MC
                .u-spacer-left
                    span  Madge Cortez
            .o-flex.o-flex--vertical-center.o-flex--nowrap.u-spacer-top-s
                .c-avatar GB
                .u-spacer-left
                    span  Georgie Bailey
            .o-flex.o-flex--vertical-center.o-flex--nowrap.u-spacer-top-s
                .c-avatar CS
                .u-spacer-left
                    span  Catherine Santos