// Description data (variant --bordered)
.description-data.description-data--bordered
    .grid.grid--is-stacked
        .col--1-3.col--1-3--s.col--1-2--xs
            .description-data__icon-wrapper
                i.description-data__icon.vi.vi-pin(aria-hidden='')
                .description-data__value(itemprop='hiringOrganization', itemscope='', itemtype='http://schema.org/Organization')
                    span(itemprop='name') ICC Gent
                    br
                    span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                        span(itemprop='addressLocality') Van Rysselberghedreef 2, 9000 Gent
        .col--1-3.col--1-3--s.col--1-2--xs
            .description-data__icon-wrapper
                i.description-data__icon.vi.vi-clock(aria-hidden='')
                .description-data__value
                    | Contractueel onbepaalde duur 
                    br
                    span(itemprop='employmentType') Voltijds
        .col--1-3.col--1-3--s.col--1-2--xs
            .description-data__icon-wrapper
                .description-data__value
                    a.link.link--icon.link--icon--external(href='https://iccghent.com', target='_BLANK') ICC Gent

// ./ Description data