extends /templates/_layouts/master

block body

    nav.bg-gray-800
      .max-w-7xl.mx-auto.px-2.sm_px-6.lg_px-8
        .relative.flex.items-center.justify-between.h-16
          .flex-1.flex.items-center.sm_items-stretch.sm_justify-start
            .flex-shrink.pr-3
              span.text-white.font-medium.text-lg Test
            .flex.space-x
              a.bg-gray-900.text-white.px-3.py-2.rounded-md.text-sm.font-medium(href='#', aria-current='page') Dashboard
              a.text-gray-300.hover_bg-gray-700.hover_text-white.px-3.py-2.rounded-md.text-sm.font-medium(href='#') Module 2
          .absolute.inset-y-0.right-0.flex.items-center.pr-2.sm_static.sm_inset-auto.sm_ml-6.sm_pr-0
            button.bg-gray-800.p-1.rounded-full.text-gray-400.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-offset-gray-800.focus_ring-white
              span.sr-only View notifications
              // Heroicon name: outline/bell
              svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke='currentColor', aria-hidden='true')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9')
            // Profile dropdown
            .ml-3.relative
              div
                button.bg-gray-800.flex.text-sm.rounded-full.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-offset-gray-800.focus_ring-white#user-menu-button(type='button', aria-expanded='false', aria-haspopup='true')
                  span.sr-only Open user menu
                  img.h-8.w-8.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80', alt='')
              // Active: "bg-gray-100", Not Active: ""
              //             <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                              </div>
