# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]

# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

# 4 space indentation
[*.jade]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.js]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[*.coffeescript]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.scss]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[*.json]
indent_style = space
indent_size = 2