---
title: Doc page example
category: Design patterns
order: 2
---

h2 This is a docs page

p This is just an example of how you can make static docs.

p This page should be second. Page order is influenced by the <code>order</code> number in the front matter.

pre
    code.
        ---
        title: Doc page example
        category: Design patterns
        order: 2
        ---


p You could include real code examples here. Notice how we are referencing <code>c-example-manual-docs</code> here.

.br-sample
    .br-sample-content(style="height: 200px; overflow: scroll")
        include /templates/_components/c-example-manual-docs/01-example

