---
title: Another doc page example
category: Design patterns
order: 1
---

h2 This is a docs page

p This one should be first.

p This is just an example of how you can make static docs.

p You could include real code examples here. Notice how we are referencing <code>c-example-manual-docs</code> here.

.br-sample
    .br-sample-content(style="height: 200px; overflow: scroll")
        include /templates/_components/c-example-manual-docs/01-example

