---
title: Introduction
category: Style guide
order: 1
---

div(style="height: 100%; display: flex; align-items: center")
    .typography(style="margin: 0 8rem;")
        p Welcome to the application styleguide for Vlaanderen using Bedrock.
        p This guide was created as a demo to show how the new Bedrock Bases feature in Bedrock 1.10 can help document any design system.
        p It is not an official Vlaanderen thing - I am not associated with this project in any way.
        p I made this in a single evening based on the existing documentation over at <a href="https://overheid.vlaanderen.be/webuniversum/">Webuniversum</a>.
        p —Johan
