---
title: Introduction
category: Style guide
order: 1
---

div(style='display: flex; height: 100%; align-items: center;')
    div(style="display: flex; margin: 0 8rem; align-items: center;")
        div
            p.mdc-typography--body1 Welcome to the component styleguide of Bedrock + Material Design.
            p.mdc-typography--body1 This repository aims to document an HTML/CSS/JS implementation of Google's Material design, within the context of Bedrock, an open source tool for creating advanced HTML prototypes and documenting design systems.
            p.mdc-typography--body1 The components in this library were sourced from Google's <a href="http://material.io">Material Components Web</a> Guide.
        div
            img(src='/images/illustration.png' style='max-width: 390px; height: auto;')
