---
title: Introduction
category: Style guide
order: 1
---

div(style='display: flex; height: 100%; align-items: center;')
    div(style="display: flex; margin: 0 8rem; align-items: center;")
        div
            p Welcome to the component styleguide for Bedrock + Bootstrap 4.
            p The components in this library were sourced from the Bootstrap library.
        div
            img(src='/images/illustration.png' style='max-width: 270px; height: auto;')
