---
title: Introduction
category: Style guide
order: 1
---

style.
    .br-demo-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .br-demo-content-inner {
        max-width: 660px;
        margin: 0 auto;
    }
    
.br-demo-content
    .br-demo-content-inner
        h2 Welcome to the application styleguide.

        p You are looking at a default install of Bedrock.

        p To use Bedrock, start making some templates! Import your custom CSS in <code>main.scss</code>.

        p Document your components using the folders in <code>templates/_components</code>.

        p Make a new page by making a new pug file under <code>content/templates</code>

        p Read more at <a href="https://bedrockapp.org/">bedrockapp.org</a>.