---
title: Introduction
category: Style guide
order: 1
---

style.
    body, html, .br-styleguide-content-inner {
        height: 100%;
    }
    .br-demo-content {
        height: 100%;
        display: flex;
    }
    .br-demo-content-inner {
        max-width: 660px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
.br-demo-content
    .br-demo-content-inner
        div
            p Welcome to the component styleguide for Bedrock + Bootstrap 4.
            p The components in this library were sourced from the Bootstrap framework.
        div
            img(src="/images/illustration.png" style="max-width: 270px; height: auto;")