---
title: Introduction
category: Style guide
order: 1
---

style.
    .br-demo-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .br-demo-content-inner {
        max-width: 660px;
        margin: 0 auto;
    }

.br-demo-content
    .br-demo-content-inner.prose
        h2 Welcome to the application styleguide for [Project title].
        h3 What is a design system?
        p A design system is a set of shared and integrated patterns and principles that define the overall design of a product.

        h3 Why do we need a design system?
        p To document a design language that can be used as a guideline when creating new screens and apps. We strive for efficiency through well-defined, reusable and cross-platform components..
