---
title: Modals
category: Design patterns
order: 6
---

.c-content

    h1 Modals

    h2 Modal sizes

    table.c-table.c-table--styled
        thead
            tr
                th Type
                th Font size
        tbody
            tr
                td Full page
                td Browser width
            tr
                td Full screen
                td 100% - 96px
            tr
                td Medium
                td 880
            tr
                td Small
                td 440

    p The modal component comes in different sizes. Please choose the modal size that is appropriate for the form or content it contains.

    h2 Closing modals

    p Within full screen, medium and small modals you can press the escape key to leave a modal. Not every user has a keyboard, so provide a close button to leave the modal as well.

    h2 More

    p See the component documentation for <a href="/styleguide/c-modal.html">modals</a>.

