ul.nav
    li.nav-item
        a.nav-link.active(href='#') Active
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link(href='#') Link
    li.nav-item
        a.nav-link.disabled(href='#') Disabled
