// If you want bullets wrap with .article
.article
    ul
        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        li Aliquam tincidunt mauris eu risus.
        li Vestibulum auctor dapibus neque.
