mixin checkbox
    .mdc-checkbox
        input.mdc-checkbox__native-control(type='checkbox', value='false')
        .mdc-checkbox__background
            svg.mdc-checkbox__checkmark(viewbox='0 0 24 24')
                path.mdc-checkbox__checkmark-path(fill='none', stroke='white', d='M1.73,12.91 8.1,19.28 22.79,4.59')
            .mdc-checkbox__mixedmark


.mdc-data-table.mdc-data-table--select-multiple
    table.mdc-data-table__content
        thead
            tr.mdc-data-table__row
                th.mdc-data-table__header.mdc-data-table__header--select
                    +checkbox
                th.mdc-data-table__header Data header
                th.mdc-data-table__header Data header
                th.mdc-data-table__header Data header
                th.mdc-data-table__header Data header
                th.mdc-data-table__header Data header
                th.mdc-data-table__header.mdc-data-table__header--sortable.mdc-data-table__header--numeric Numeric data
        tbody
            each item in [1, 2, 3, 4, 5, 6]
                tr.mdc-data-table__row
                    td.mdc-data-table__cell.mdc-data-table__cell--select
                        +checkbox
                    td.mdc-data-table__cell Data value
                    td.mdc-data-table__cell Data value
                    td.mdc-data-table__cell Data value
                    td.mdc-data-table__cell Data value
                    td.mdc-data-table__cell Data value
                    td.mdc-data-table__cell.mdc-data-table__cell--numeric 159
