/* b-color-swatch
  Color swatches in styleguide
   ========================================================================== */

.b-color-swatch-list {
  list-style-type: none;
  padding: 0;
}

.b-color-swatch-item {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.b-color-swatch-preview {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  display: inline-block;
}

.b-color-swatch-data {
  color: #888;
  font-size: 11px;
}