/* ==========================================================================
  b-scaffolding
  Provide some basic styling so styleguide doesn't look terrible when there are no styles yet
  Should be removed once we have installable content templates
   ========================================================================== */

.b-type {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
