/* br-component
   ========================================================================== */

.br-component-header {
  font-size: 24px;
  font-weight: $br-heading-font-weight;
}

/* br-sample
   ========================================================================== */

.br-sample-clearfix:before,
.br-sample-clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.br-sample-clearfix:after {
  clear: both;
}

.br-sample-btn {
  background: #FFF;
  border: 1px solid #CDCDCD;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 4px;
  margin: 0 0 10px;
  font-size: 12px;
  &:hover {
    background: #FFF;
  }
}

.br-sample-footer {
  position: relative;
}

.br-sample-copy-code-btn {
  position: absolute;
  z-index: 3;
  top: 55px;
  right: 10px;
  display: none;
  .br-sample-code:hover & {
    display: block;
  }
}

.br-sample-markup {
  font-size: 11px;
  background: #EEE;
  border: 1px solid #DDD;
  padding: 10px;
  position: relative;
  .CodeMirror {
    background: transparent;
  }
}

.br-sample-content {
  background: #FFF;
  padding: 30px;
  border: 1px solid #DDD;
  margin: 0 0 10px;
  position: relative;
  overflow: hidden;
  resize: vertical;
}

.br-sample-content-is-layout {
  min-height: 500px;
}

.br-sample-header .br-sample-header-link {
  float: right;
  color: rgba(0,0,0,0.45);
  .br-styleguide--dark & {
    color: rgba(#FFF,0.45);
  }
  font-size: 16px;
  margin: 10px 0;
  padding: 0 2px 0 0;
}

.br-sample-documentation {
  padding: 0 0 1.2rem;
  line-height: 2.4rem;

  p {
    line-height: 2.4rem;
  }

  ol,
  ul {
    counter-reset: list;
    padding-left: 2.4rem;
  }

  li {
    position: relative;
  }

  ol li:before {
    counter-increment: list;
    content: counter(list) '.';
    left: -2rem;
    position: absolute;
  }

  ul li:before {
    content: '•';
    left: -1.6rem;
    position: absolute;
  }

  // Spacing between elements

  p + p,
  ul + ul,
  ol + ol,
  p + ul,
  p + ol,
  ul + p,
  ul + ol,
  ol + p,
  ol + ul {
    margin-top: 1.6rem;
  }
}

.br-sample-header .br-sample-heading {
  float: left;
  font-size: 16px;
  font-weight: $br-heading-font-weight;
  margin: 10px 0;
  padding: 0;
  color: $br-color-headings;
  .br-styleguide--dark & {
    color: $br-color-headings-dark;
  }
}

#icon-docs .br-sample-content {
  column-count: 4;
  > div {
    display: flex;
    .svg-icon, .o-svg-icon {
      flex-basis: 20%;
    }
    code {
      flex-basis: 80%;
    }
  }
}


/* Sample in dark Bedrock UI variant
   ========================================================================== */

html.br-styleguide--dark body {

  .br-sample-btn {
    background: rgba(#FFF,0.1);
    border-color: rgba(#FFF,0.2);
    color: $br-color-headings-dark;
    &:hover {
      background: rgba(#FFF,0.3);
    }
  }

  .br-sample-markup {
    background: rgba(#FFF,0.1);
    border-color: rgba(#FFF,0.2);
  }

  .br-sample-content {
    background: $br-background-dark;
    border-color: rgba(#FFF,0.2);
  }

}

.br-styleguide--dark .br-styleguide-container code {
  background: rgba(#FFF, 0.2);
}

