// Variables
$br-heading-font-weight: 700 !default;

$br-base-size-multiplier: 0.625;

$br-background: #FFF !default;
$br-color-text: #333 !default;
$br-color-headings: #000 !default;

$br-code-background: #F0F0F0 !default;

$br-background-dark: #333 !default;
$br-color-text-dark: #DDD !default;
$br-color-headings-dark: #FFF !default;

