// Variables
$br-heading-font-weight: 700 !default;

$br-background: #FFF !default;
$br-color-text: #333 !default;
$br-color-headings: #000 !default;

$br-background-dark: #333 !default;
$br-color-text-dark: #ddd !default;
$br-color-headings-dark: #FFF !default;
