/* ==========================================================================
  br-prototype-nav
   ========================================================================== */

/* Variables
   ========================================================================== */

$br-prototype-nav-width: 250px; // Keep this in px please, otherwise it gets buggy

/* Sidebar
   ========================================================================== */

// We are supposing this is true within all projects
html.br-styleguide,
.br-styleguide body {
  margin: 0;
}

html.br-prototype-nav-is-open {
  position: relative;
  left: $br-prototype-nav-width;
  width: calc(100% - #{$br-prototype-nav-width});
}

.br-prototype-nav {
  background-color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 1.5;
  z-index: 2000;
  transform: translateX(-100%);
  width: $br-prototype-nav-width;
  overflow: hidden;
  font-size: 1.3rem*$br-base-size-multiplier;
  display: flex;
  flex-direction: column;

  .br-prototype-nav-inner {
    padding: 2rem*$br-base-size-multiplier;
    overflow: hidden;
    overflow-y: auto;
  }

  &.br-prototype-nav-open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(#000, 0.3);
  }
}

.br-prototype-nav-text {
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
  color: rgba(#000,0.5);
  .br-prototype-nav--dark & {
    color: rgba(#FFF,0.5);
  }
}

/* Headings (both on index page and in sidebar)
   ========================================================================== */

.br-prototype-nav-main-heading {
  color: #000;
  font-size: 1.5rem*$br-base-size-multiplier;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
}

.br-prototype-nav-sub-heading {
  font-size: 1.3rem*$br-base-size-multiplier;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0.6rem*$br-base-size-multiplier;
}

/* Dark Bedrock UI variant
   ========================================================================== */

.br-prototype-nav--dark {
  background-color: $br-background-dark;
  color: $br-color-text-dark;

  .br-prototype-nav-main-heading {
    color: $br-color-headings-dark;
  }

  a {
    color: inherit;
  }

  .br-tree-dir-state-count {
    text-align: center;
    background-color: #555;
    color: #FFF;
  }
}

/* Index page
   ========================================================================== */

.br-prototype-nav-index {
  padding: 2rem*$br-base-size-multiplier;
}

.br-prototype-nav-index-cols {
  column-count: 3;
  li {
    break-inside: avoid;
  }
}

/* Page states
   ========================================================================== */

.br-prototype-page-states {
  background: rgba(#FFF,0.05);
  box-shadow: 0.2rem*$br-base-size-multiplier 0 0.5rem*$br-base-size-multiplier rgba(#000, 0.3);
  margin-top: auto;
  padding: 2rem*$br-base-size-multiplier;
}

.br-tree-dir-state-count {
  float: right;
  padding: 0 0.4rem*$br-base-size-multiplier;
  border-radius: 3px;
  background-color: #eee;
  font-size: 1.2rem*$br-base-size-multiplier;
}
