/* ==========================================================================
  br-prototype-nav
   ========================================================================== */

/* Variables
   ========================================================================== */

$br-prototype-nav-width: 250px;

/* Sidebar
   ========================================================================== */

// We are supposing this is true
body, html {
  margin: 0;
}

html.br-prototype-nav-is-open {
  body {
    position: relative;
    left: $br-prototype-nav-width;
    width: calc(100% - #{$br-prototype-nav-width});
  }
}

.br-prototype-nav {
  background-color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  transform: translateX(-100%);
  width: $br-prototype-nav-width;
  overflow-y: auto;
  font-size: 13px;

  .br-prototype-nav-inner {
    padding: 20px;
  }

  &.br-prototype-nav-open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(#000, 0.3);
  }
}

.br-prototype-nav-text {
  color: #999;
}

/* Headings (both on index page and in sidebar)
   ========================================================================== */

.br-prototype-nav-main-heading {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px;
}

.br-prototype-nav-sub-heading {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px;
}

/* Index page
   ========================================================================== */

.br-prototype-nav-index {
  padding: 20px;
}

.br-prototype-nav-index-cols {
  column-count: 3;
  li {
    break-inside: avoid;
  }
}

/* Expanded/collapsed states for directories
   ========================================================================== */

.br-tree-dir {
  .br-tree-dir-title {
    &:before {
      content: '▼';
      margin-right: 5px;
      font-size: 10px;
      color: #999;
    }
  }
}

.br-tree-dir--is-collapsed {
  * {
    display: none;
  }

  > .br-tree-dir-title {
    display: block;
    &:before {
      content: '▶';
    }
  }
}

