/* ==========================================================================
  br-bordered-list
   ========================================================================== */

/* ==========================================================================
  Variables
   ========================================================================== */

$br-bordered-list-border-color:                  #DDD !default;
$br-bordered-list-border-color-inverse:          rgba(#FFF,0.2) !default;

// Padding
$br-bordered-list-item-padding:                  2px !default;

// Font sizes
$br-bordered-list-font-size:                     13px  !default;
$br-bordered-list-title-font-size:               15px  !default;

// Regular colors

/* Bordered list
   ========================================================================== */

.br-bordered-list-title {
  font-weight: $br-heading-font-weight;
  padding: 0;
  margin: 0 0 12px;
  font-size: $br-bordered-list-title-font-size;
  padding: $br-bordered-list-item-padding;
}

.br-tree-dir-title {
  margin: 0;
  font-size: $br-bordered-list-font-size;
  padding: $br-bordered-list-item-padding*2 $br-bordered-list-item-padding;
}

.br-bordered-list {
  margin: 0;
  padding: 0 0 10px;
  ul {
    padding: 0 0 0 10px;
  }
  li {
    display: block;
    a,
    span.br-bordered-list-label {
      padding: $br-bordered-list-item-padding;
      font-size: $br-bordered-list-font-size;
      display: block;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid $br-bordered-list-border-color;
      .br-prototype-nav--dark &,
      .br-styleguide--dark & {
        border-color: $br-bordered-list-border-color-inverse;
      }
    }
    a:hover {
      background: rgba(0,0,0,0.1);
      .br-prototype-nav--dark &,
      .br-styleguide--dark & {
        background: rgba(255,255,255,0.1);
      }
    }
    a.br-bordered-list__link--active {
      background: rgba(0,0,0,0.15);
      .br-prototype-nav--dark &,
      .br-styleguide--dark & {
        background: rgba(255,255,255,0.15);
      }
    }
  }
}
