/* Expanded/collapsed states for directories
   Only in side navigation
   ========================================================================== */

.br-prototype-nav {

  .br-bordered-list ul {
    padding: 0 0 0 18px;
  }

  .br-tree-dir {

    .br-tree-dir-title {
      &:before {
        content: '';
        width: 0; 
        height: 0; 
      
        // CSS triangle
        border: none;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #999;

        display: inline-block;
        text-align: center;
      
        margin-left: 3.5px;
        margin-right: 6.5px;

      }
    }
  }

  .br-tree-dir--is-collapsed {
    * {
      display: none;
    }

    > .br-tree-dir-title {
      display: block;
      &:before {
          margin-left: 2px;
          margin-right: 4px;

          position: relative;
          bottom: 1px;

          // CSS triangle
          border: none;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #999;
      }
    }
  }

}
