/* ==========================================================================
  br-content
  Meant to style areas with basic typography
  Be careful to only apply to content areas, as a separate div
   ========================================================================== */

.br-content {

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  h1 {
    padding: 0 0 10px;
  }

  h2 {
    padding: 0 0 10px;
  }

  h3 {
    padding: 0 0 10px;
  }

  h4 {
    padding: 0 0 10px;
  }

  ul {
    padding: 0 0 10px 20px;
  }

}