/* ==========================================================================
  br-bordered-list
   ========================================================================== */

/* ==========================================================================
  Variables
   ========================================================================== */

$br-bordered-list-border-color:                  #DDD !default;

// Padding
$br-bordered-list-item-padding:                  4px !default;

// Font sizes
$br-bordered-list-font-size:                     13px  !default;
$br-bordered-list-title-font-size:               15px  !default;

// Regular colors

/* Bordered list
   ========================================================================== */

.br-bordered-list-title {
  font-weight: 600;
  padding: 0;
  margin: 0 0 12px;
  font-size: $br-bordered-list-title-font-size;
  padding: $br-bordered-list-item-padding;
}

.br-tree-dir-title {
  margin: 0;
  padding: $br-bordered-list-item-padding;
}

.br-bordered-list {
  margin: 0;
  padding: 0 0 10px;
  ul {
    padding: 0 0 0 10px;
  }
  li {
    display: block;
    a,
    span.br-bordered-list-label {
      padding: $br-bordered-list-item-padding;
      font-size: $br-bordered-list-font-size;
      display: block;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid $br-bordered-list-border-color;
    }
    a:hover {
      background: rgba(0,0,0,0.1);
    }
    ul li:last-child a {
      border: none;
    }
  }
}

// Arrow styling

.br-prototype-nav { // Only on side menu version
  .br-bordered-list > li {
    position: relative;
    padding-left: 15px;
  }
  .br-bordered-list-label:before {
    position: absolute;
    left: 4px;
    top: 10px;
    content: " ";
    width: 0; 
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #999;
  }

  .br-prototype-nav-item-is-collapsed {
    .br-bordered-list-label:before {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 6px solid #999;
      left: 6px;
      top: 9px;
    }
    ul {
      display: none;
    }
  }
  .br-bordered-list {
    ul {
      padding: 0 0 0 10px;
    }
  }
}
