/* Global navigation
   ========================================================================== */

// We are supposing this is true
body, html {
  margin: 0;
}

body.br-prototype-nav-is-open {
  .br-scrollable-container {
    left: 300px;
  }

  .br-styleguide-container {
    padding-left: 300px !important;
  }
}

.br-prototype-nav {
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2000;
  transform: translateX(-100%);
  width: 300px;
  overflow-y: auto;

  .br-prototype-nav-inner {
    padding: 20px;
  }

  &.br-prototype-nav-open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(#000, 0.3);
  }
}

