.br-typography-overview {

  th, td {
    vertical-align: top;
  }
  
  tr td {
    border-bottom: 1px solid rgba(#000,0.05);
  }

  td {
    padding: 10px 0;
  }

  td:first-child {
    opacity: 0.5;
    font-size: 11px;
    padding-right: 40px;
    min-width: 200px;
  }
}

pre.br-typography-sample-code {
  padding: 0;
  background: transparent;
  border: 0;
  color: #999;
  white-space: pre-wrap;
  .br-styleguide--dark & {
    color: rgba(#FFF,0.5);
  }
}
