/* ==========================================================================
  br-prototype-nav
   ========================================================================== */

/* Variables
   ========================================================================== */

$br-prototype-nav-width: 250px;

/* Sidebar
   ========================================================================== */

// We are supposing this is true
body, html {
  margin: 0;
}

html.br-prototype-nav-is-open {
  body {
    position: relative;
    left: $br-prototype-nav-width;
    width: calc(100% - #{$br-prototype-nav-width});
  }
}

.br-prototype-nav {
  background-color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  transform: translateX(-100%);
  width: $br-prototype-nav-width;
  overflow: hidden;
  font-size: 13px;
  display: flex;
  flex-direction: column;

  .br-prototype-nav-inner {
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
  }

  &.br-prototype-nav-open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(#000, 0.3);
  }
}

.br-prototype-nav-text {
  color: #999;
}

/* Headings (both on index page and in sidebar)
   ========================================================================== */

.br-prototype-nav-main-heading {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px;
}

.br-prototype-nav-sub-heading {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px;
}

/* Dark Bedrock UI variant
   ========================================================================== */

.br-prototype-nav--dark {
  background-color: $br-background-dark;
  color: $br-color-text-dark;

  .br-prototype-nav-main-heading {
    color: $br-color-headings-dark;
  }

  a {
    color: inherit;
  }
}

/* Index page
   ========================================================================== */

.br-prototype-nav-index {
  padding: 20px;
}

.br-prototype-nav-index-cols {
  column-count: 3;
  li {
    break-inside: avoid;
  }
}

/* Page states
   ========================================================================== */

.br-prototype-page-states {
  box-shadow: 2px 0 5px rgba(#000, 0.3);
  margin-top: auto;
  padding: 20px;
}
