$br-switch-breakpoint: 800px;

// For our height calculations we are supposing body and html are 100% of the height
html.br-styleguide {
  height: 100%;
}

html.br-styleguide body {
  height: 100%;
  overflow: visible !important; // Override any utility classes killing scroll
  // Only kill the body scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    overflow: hidden;
  }
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background: #FFF;
}

html.br-styleguide--dark body {
  background: $br-background-dark;
  color: $br-color-text-dark;
}

.br-styleguide *,
.br-styleguide *:before,
.br-styleguide *:after {
  box-sizing: border-box;
}

.br-styleguide-container {
  height: 100%;
}

.br-styleguide-navigation-holder {
  line-height: 1.5;
  padding: 40px 20px;
  a {
    color: inherit;
  }
  // Only init 2 columns and scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    height: 100%;
    width: 20%;
    float: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.br-styleguide-content {
  background: #FFF;
  .br-styleguide--dark & {
    background: $br-background-dark;
  }
  padding: 40px;
  // Only init 2 columns and scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    height: 100%;
    width: 80%;
    float: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* Additions to styleguide
   To make component code copy/pastable but still have ability to display elements
   that are hidden by defaults or positioned by default in styleguide
   ========================================================================== */

.br-styleguide-container {
  // Bootstrap
  .navbar-fixed-top {
    position: static;
  }
}

/* Some typographical fixes
   ========================================================================== */

.br-componentgroup-header,
.br-documentation-header {
  font-size: 20px;
  font-weight: $br-heading-font-weight;
  color: $br-color-headings;
  .br-styleguide--dark & {
    color: $br-color-headings-dark;
  }
  margin: 0 0 12px;
}
