/* Samples
   ========================================================================== */

.br-sample-clearfix:before,
.br-sample-clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.br-sample-clearfix:after {
  clear: both;
}

.br-sample-btn {
  background: #FFF;
  border: 1px solid #CDCDCD;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 4px;
  margin: 0 0 10px;
  font-size: 12px;
  &:hover {
    background: #FFF;
  }
}

.br-sample-footer {
  position: relative;
}

.br-sample-copy-code-btn {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 10px;
}

.br-sample-markup {
  font-size: 11px;
  background: #EEE;
  border: 1px solid #DDD;
  padding: 10px;
  position: relative;
  z-index: -1;
  .CodeMirror {
    width: 80%;
    background: transparent;
  }
}

.br-sample-content {
  padding: 40px;
  border: 1px solid #DDD;
  margin: 0 0 10px;
  background: #FFF;
  position: relative;
  overflow: hidden;
}

.br-sample-content-is-layout {
  min-height: 500px;
}

.br-sample-header .br-sample-header-link {
  float: right;
  color: rgba(0,0,0,0.45);
  font-size: 16px;
  margin: 10px 0;
  padding: 0 2px 0 0;
}

.br-sample-header .br-sample-heading {
  float: left;
  font-size: 16px;
  margin: 10px 0;
  padding: 0;
}