$br-switch-breakpoint: 800px;

// For our height calculations we are supposing body and html are 100% of the height
body, html {
  height: 100%;
}

body.br-styleguide {
  // Only kill the body scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    overflow: hidden;
  }
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FFF;
}

.br-styleguide *,
.br-styleguide *:before,
.br-styleguide *:after {
  box-sizing: border-box;
}

.br-styleguide-container {
  height: 100%;
}

.br-styleguide-navigation-holder {
  padding: 20px;
  // Only init 2 columns and scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    height: 100%;
    width: 20%;
    float: left;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.br-styleguide-content {
  background: #FFF;
  padding: 20px;
  // Only init 2 columns and scroll from a certain mq
  @media (min-width: $br-switch-breakpoint) {
    height: 100%;
    padding: 40px;
    width: 80%;
    float: left;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

/* Additions to styleguide
   To make pattern code copy/pastable but still have ability to display elements
   that are hidden by defaults or positioned by default in styleguide
   ========================================================================== */

.br-styleguide-container {
  // Bootstrap
  .navbar-fixed-top {
    position: static;
  }
}
