button.btn.btn-outline-primary(type='button') Primary
button.btn.btn-outline-secondary(type='button') Secondary
button.btn.btn-outline-success(type='button') Success
button.btn.btn-outline-danger(type='button') Danger
button.btn.btn-outline-warning(type='button') Warning
button.btn.btn-outline-info(type='button') Info
button.btn.btn-outline-light(type='button') Light
button.btn.btn-outline-dark(type='button') Dark

