.btn-group.btn-group-toggle(data-toggle='buttons')
    label.btn.btn-secondary.active
        input#option1(type='radio', name='options', autocomplete='off', checked='')
        | Active
    label.btn.btn-secondary
        input#option2(type='radio', name='options', autocomplete='off')
        | Radio
    label.btn.btn-secondary
        input#option3(type='radio', name='options', autocomplete='off')
        | Radio