nav#basic-tab-bar-custom-label-color.custom-label-color-tab.mdc-tab-bar
    a.mdc-tab.mdc-tab--active(href='#one') Item One
    a.mdc-tab(href='#two') Item Two
    a.mdc-tab(href='#three') Three
    span.mdc-tab-bar__indicator
