#demo-tf-outlined-wrapper
    #tf-outlined-example.mdc-text-field.mdc-text-field--outlined(data-demo-no-auto-js='')
        input#tf-outlined-input.mdc-text-field__input(type='text', aria-controls='name-validation-message', aria-describedby='name-validation-message')
        label.mdc-floating-label(for='tf-outlined-input') Your Name
        .mdc-notched-outline
            svg
                path.mdc-notched-outline__path
        .mdc-notched-outline__idle
    p#name-validation-message.mdc-text-field-helper-text.mdc-text-field-helper-text--validation-msg
        | Helper Text (possibly validation message)
