nav#icon-tab-bar.mdc-tab-bar.mdc-tab-bar--icon-tabs
    a.mdc-tab.mdc-tab--active(href='#recents')
        i.material-icons.mdc-tab__icon(aria-label='Recents') phone
    a.mdc-tab(href='#favorites')
        i.material-icons.mdc-tab__icon(aria-label='Favorites') favorite
    a.mdc-tab(href='#nearby')
        i.material-icons.mdc-tab__icon(aria-label='nearby') person_pin
    span.mdc-tab-bar__indicator
