.mdc-text-field.mdc-text-field--upgraded
    input#fouc.mdc-text-field__input(type='text', value='Pre-filled value')
    label.mdc-floating-label.mdc-floating-label--float-above(for='fouc')
        | Label floating above
    .mdc-line-ripple
