section#demo-text-field-textarea-wrapper
    .mdc-text-field.mdc-text-field--textarea
        textarea#textarea.mdc-text-field__input(rows='8', cols='40')
        label.mdc-floating-label(for='textarea') Textarea Label
