#demo-fullwidth-wrapper
    .mdc-text-field.mdc-text-field--fullwidth
        input.mdc-text-field__input(type='text', placeholder='Subject', aria-label='Subject')
        .mdc-line-ripple
    .mdc-text-field.mdc-text-field--textarea.mdc-text-field--fullwidth.full-width-textarea-example
        textarea#full-width-textarea.mdc-text-field__input(rows='8')
        label.mdc-floating-label(for='full-width-textarea') Textarea Label
