.mdc-toolbar
    .mdc-toolbar__row
        .mdc-toolbar__section.mdc-toolbar__section--shrink-to-fit.mdc-toolbar__section--align-start
            h2.mdc-toolbar__title Title
        .mdc-toolbar__section.mdc-toolbar__section--align-end
            div
                nav#toolbar-tab-bar.mdc-tab-bar.custom-tab-bar-in-toolbar
                    a.mdc-tab.mdc-tab--active(href='#one') Item One
                    a.mdc-tab(href='#two') Item Two
                    a.mdc-tab(href='#three') Item Three
                    span.mdc-tab-bar__indicator
