table.c-table
    thead
        tr
            th Data
            th Data
            th Data
    tbody
        tr
            td Data
            td Data
            td Data
        tr
            td Data
            td Data
            td Data
        tr
            td Data
            td Data
            td Data