table.c-table.c-table--styled.c-table--bordered.js-data-table
    thead
        tr
            th Data
            th Data
            th Data
            th
                // Actions
    tbody
        each item, index in [1, 2, 3, 4]
            tr
                td Data
                td Data
                td Data
                td
                    .c-button-toolbar
                        button.c-button.c-button--icon.c-button--borderless(data-dropdown-placement="bottom-end" data-dropdown="dropdownMenu-"+index)
                            .c-button__content
                                .c-button__label: +icon('more-horizontal')
                                .u-sr-accessible Meer opties

                        .c-menu(id="dropdownMenu-"+index)
                            a.c-menu__item(href="#")
                                .c-menu__label
                                    +icon('edit-2')
                                    span Bewerk
                            a.c-menu__item(href="#")
                                .c-menu__label
                                    +icon('file-plus')
                                    span Dupliceer
                            .c-menu__divider
                            a.c-menu__item(href="#")
                                .c-menu__label
                                    +icon('trash-2')
                                    span Verwijder
                        a.c-button.c-button--icon.c-button--borderless(href="#")
                            .c-button__content
                                +icon('arrows/chevron-right')
                                .u-sr-accessible Bekijk detail
