table.c-table.c-table--invisible.c-table--horizontal
    tr
        th(scope="row") Data header
        td Data point
    tr
        th(scope="row") Data header
        td Data point
    tr
        th(scope="row") Data header
        td
            a(href="#") Data point