button.c-button.c-button--default
    .c-button__content
        .c-button__label Button label

button.c-button.c-button--default(disabled)
    .c-button__content
        .c-button__label Button label
