.u-bg-gray-50(style="height: 100px; width: 100px;")
.u-bg-gray-100(style="height: 100px; width: 100px;")
.u-bg-gray-150(style="height: 100px; width: 100px;")
.u-bg-gray-200(style="height: 100px; width: 100px;")
.u-bg-white(style="height: 100px; width: 100px; border: 1px solid #F0F0F0;")