div(style="max-width: 200px; line-height: 2;")
    p.u-text-muted Muted text
    p.u-text-left Left-aligned text
    p.u-text-center Centered text
    p.u-text-right Right-aligned text
    p.u-text-success Success text
    p.u-text-danger Danger text
    p.u-text-bold Bold text
