// Subtle tags
.tag-list
    .tag.tag-subtle
        span.tag-label Pers
    .tag.tag-subtle
        span.tag-label VIPs
    .tag.tag-subtle
        span.tag-label Musici
        span.tag-label Multiple labels
        span.tag-label Multiple labels

// Subtle tags
.tag-list
    .tag.tag-medium
        span.tag-label Pers
    .tag.tag-medium
        span.tag-label VIPs
    .tag.tag-medium
        span.tag-label Musici
        span.tag-label Multiple labels
        span.tag-label Multiple labels