.tag-list
    .tag
        span.tag-label Tag 1
        a(href="#")
            i.glyphicon.glyphicon-close
    .tag
        span.tag-label Tag 2
        a(href="#")
            i.glyphicon.glyphicon-close
    .tag
        span.tag-label Tag 3
        a(href="#")
            i.glyphicon.glyphicon-close
