span.tag-simple
    span.tag-label Simple tag
span.tag-simple.tag-medium
    span.tag-label Simple tag
span.tag-simple.tag-subtle
    span.tag-label Simple tag
span.tag-simple.tag-primary-alt
    span.tag-label Simple tag
