.grid.grid--is-stacked
    .col--1-1
        h2.h2 Inhoud
        .typography
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente eaque autem nulla similique velit ipsam iusto! Amet eveniet, libero provident deserunt quidem atque cumque 
                strong autem
                |  dolore natus magni quisquam!
    .col--1-1
        // Subtitel "Spreker(s)" met lijst van sprekers
        h2.h2 Spreker(s)
        .typography
            ol
                li
                    a(href='') Warre Buysse
                li Vincent Sennesael
                li Peter De Proft
    .col--1-1
        // Subtitel "inschrijven" met knop naar het formulier
        h2.h2 Inschrijven
