.c-alert
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua aliquip ex ea commodo <a href="#">a link to another page</a>.
