.c-alert.c-alert--dark
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-warning')
        p.u-m-0 An error occured. Please check your form.
    +icon('close', 'o-svg-icon--subtle')
