.c-alert
    .c-toolbar.c-toolbar--auto
        .c-toolbar__left
            .c-toolbar__item
                p.c-toolbar__text Hey! You need to do something.
       
        .c-toolbar__right
            .c-toolbar__item
                .c-button-toolbar
                    button.c-button.c-button--default
                        .c-button__content
                            .c-button__label Don't do it
                    button.c-button.c-button--primary
                        .c-button__content
                            .c-button__label Do it!
