header.mdc-top-app-bar
    .mdc-top-app-bar__row
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
            a.material-icons.mdc-top-app-bar__navigation-icon(href='#') menu
            span.mdc-top-app-bar__title Title
