.mdc-dialog__surface
    h2#my-mdc-dialog-label.mdc-dialog__title Get this party started?
    section#my-mdc-dialog-description.mdc-dialog__content Turn up the jams and have a good time.
    footer.mdc-dialog__actions
        button.mdc-button.mdc-dialog__button.mdc-ripple-upgraded(type='button') Decline
        button.mdc-button.mdc-dialog__button.mdc-ripple-upgraded(type='button') Accept
