.mdc-dialog__surface
    header.mdc-dialog__header
        h2#mdc-dialog-colored-footer-button-label.mdc-dialog__header__title
            | Are you happy?
    section#mdc-dialog-colored-footer-button-description.mdc-dialog__body
        | Please check the left and right side of this element for fun.
    footer.mdc-dialog__footer
        button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button') Cancel
        button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept.mdc-dialog__action(type='button') Continue
