.o-grid
    .o-grid-col-24 24
    .o-grid-col-12.o-grid-col-sm-24 12
    .o-grid-col-12.o-grid-col-sm-24 12
    .o-grid-col-6 6
    .o-grid-col-6 6
    .o-grid-col-6 6
    .o-grid-col-6 6
    .o-grid-col-4 4
    .o-grid-col-4 4
    .o-grid-col-4 4
    .o-grid-col-4 4
    .o-grid-col-4 4
    .o-grid-col-4 4
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-3 3
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-2 2
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-1 1
    .o-grid-col-static This column will adapt to its content.
    .o-grid-col-flex This column will fill the remaining space.

