extends ../../../content/templates/_layouts/master

include ../mixins/sample

block append pageVariables
    - var htmlClass = config.ui && config.ui.dark ? 'br-styleguide br-styleguide--dark' : 'br-styleguide'
    - var pageTitle = componentGroup.docs && componentGroup.docs.attributes.title || componentGroup.group.id
    - var moduleTitle = pageTitle + ' - Styleguide'

block body

    .br-styleguide-container
        include ../includes/styleguide-nav

        .br-styleguide-content
            h1.br-componentgroup-header= pageTitle
            if componentGroup.docs
                .br-content
                    != componentGroup.docs.body

            each component in componentGroup.components
                +sample(component)

