extends ../../../content/templates/_layouts/master

include ../mixins/sample

block append pageVariables
    - var htmlClass = config.ui && config.ui.dark ? 'br-styleguide br-styleguide--dark' : 'br-styleguide'

block body

    .br-styleguide-container
        include ../includes/styleguide-nav

        .br-styleguide-content
            if !componentGroup.docs
                h1.br-componentgroup-header= componentGroup.group.id
            else
                h1.br-componentgroup-header= componentGroup.docs.attributes.title || componentGroup.group.id
                .br-content
                    != componentGroup.docs.body

            each component in componentGroup.components
                +sample(component)

