extends ../../../content/templates/layouts/master

block append pagevariables
    - var bodyclass = 'br-styleguide br-type'

block body

    .br-styleguide-container
        include ../includes/styleguide-nav

        .br-styleguide-content
            h1= doc.attributes.title

            div!= doc.body
