extends ../../../content/templates/layouts/master

include ../mixins/sample
include ../mixins/color-overview
include ../mixins/icon-overview

block append pagevariables
    - var bodyclass = 'br-styleguide br-type'

block body

    .br-styleguide-container
        include ../includes/styleguide-nav

        .br-styleguide-content
            +colorOverview
            +iconsOverview
