extends ../../../content/templates/_layouts/master

include ../mixins/sample

block append pageVariables
    - var htmlClass = 'br-styleguide'

block body

    .br-styleguide-container
        include ../includes/styleguide-nav

        .br-styleguide-content
            if !patternGroup.docs
                h1.br-patterngroup-header= patternGroup.group.id
            else
                h1.br-patterngroup-header= patternGroup.docs.attributes.title || patternGroup.group.id
                .br-content
                    != patternGroup.docs.body

            each pattern in patternGroup.patterns
                +sample(pattern)

