.mdc-layout-grid
    .mdc-layout-grid__inner
        - var n = 0;
        while n < 12
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-1
            - n++

.mdc-layout-grid
    .mdc-layout-grid__inner
        - var n = 0;
        while n < 6
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-2
            - n++

.mdc-layout-grid
    .mdc-layout-grid__inner
        - var n = 0;
        while n < 4
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-3
            - n++

.mdc-layout-grid
    .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4

.mdc-layout-grid
    .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4

.mdc-layout-grid
    .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
