.o-container--small
    .c-accordion.c-accordion--closed
        .c-accordion__header
            .c-toolbar.c-toolbar--auto
                .c-toolbar__left
                    .c-toolbar__item
                        .c-accordion__header-title Accordion item 1
                .c-toolbar__right
                    .c-toolbar__item
                        .c-accordion__icon-close
                            +icon('arrows/chevron-up')
                        .c-accordion__icon-open
                            +icon('arrows/chevron-down')
        .c-accordion__body
            .c-accordion__item
                .c-content
                    p Anim magna magna fugiat id elit amet amet amet est ad Lorem quis nulla.
                    p Enim elit exercitation occaecat sint nulla voluptate excepteur reprehenderit enim elit. Et aute elit nisi cupidatat. Laborum nulla reprehenderit elit veniam adipisicing culpa esse cillum.
    .c-accordion.c-accordion--closed
        .c-accordion__header
            .c-toolbar.c-toolbar--auto
                .c-toolbar__left
                    .c-toolbar__item
                        .c-accordion__header-title Accordion item 2
                .c-toolbar__right
                    .c-toolbar__item
                        .c-accordion__icon-close
                            +icon('arrows/chevron-up')
                        .c-accordion__icon-open
                            +icon('arrows/chevron-down')
        .c-accordion__body
            .c-accordion__item
                .c-content
                    p Anim magna magna fugiat id elit amet amet amet est ad Lorem quis nulla.
                    p Enim elit exercitation occaecat sint nulla voluptate excepteur reprehenderit enim elit. Et aute elit nisi cupidatat. Laborum nulla reprehenderit elit veniam adipisicing culpa esse cillum.
    .c-accordion.c-accordion--closed
        .c-accordion__header
            .c-toolbar.c-toolbar--auto
                .c-toolbar__left
                    .c-toolbar__item
                        .c-accordion__header-title Accordion item 3
                .c-toolbar__right
                    .c-toolbar__item
                        .c-accordion__icon-close
                            +icon('arrows/chevron-up')
                        .c-accordion__icon-open
                            +icon('arrows/chevron-down')
        .c-accordion__body
            .c-accordion__item
                .c-content
                    p Anim magna magna fugiat id elit amet amet amet est ad Lorem quis nulla.
                    p Enim elit exercitation occaecat sint nulla voluptate excepteur reprehenderit enim elit. Et aute elit nisi cupidatat. Laborum nulla reprehenderit elit veniam adipisicing culpa esse cillum.