/* Expanded/collapsed states for directories
   Only in side navigation
   ========================================================================== */

.br-prototype-nav {

  .br-bordered-list ul {
    padding: 0 0 0 1.8rem*$br-base-size-multiplier;
  }

  .br-tree-dir {

    .br-tree-dir-title {
      cursor: default;
      font-weight: 400;

      &:before {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;

        // CSS triangle
        border: 0;
        border-left: 0.4rem*$br-base-size-multiplier solid transparent;
        border-right: 0.4rem*$br-base-size-multiplier solid transparent;
        border-top: 0.4rem*$br-base-size-multiplier solid #999;

        margin-left: 0.2rem*$br-base-size-multiplier;
        margin-right: 0.4rem*$br-base-size-multiplier;

        position: relative;
        top: -0.3rem*$br-base-size-multiplier;
      }
    }
  }

  .br-tree-dir--is-collapsed {
    * {
      display: none;
    }

    > .br-tree-dir-title {
      display: block;

      &:before {
        // CSS triangle
        border: 0;
        border-top: 0.4rem solid transparent;
        border-bottom: 0.4rem solid transparent;
        border-left: 0.4rem solid #999;

        margin-left: 0.35rem*$br-base-size-multiplier;
        margin-right: 0.65rem*$br-base-size-multiplier;
        top: 0;
      }
    }
  }

}
