extends /templates/_layouts/master

block append headerStyles
    style.
        form {
            max-width: 500px;
            margin: 40px auto;
        }
        form input[type="text"],
        form textarea {
            display: block;
            width: 100%;
            padding: 8px;
            border: none;
            border: 1px solid #DDD;
        }
        form input[type="submit"] {
            padding: 8px;
            background: #EEE;
            border: none;
            border: 1px solid #DDD;
        }

block body

    form

        if error
            p(style="color: red") Hey! Some fields were marked as invalid.

        p
            label First Name
            input(type="text")
        p
            label Last Name
            input(type="text")
        p
            label Message
            textarea

        input(type="submit")
