mixin icon(name, extraClasses)
    if extraClasses
        .svg-icon(class=`svg-icon-${name.replace('/', '-')} ${extraClasses}`)!= renderSvgIcon(name)
    else
        .svg-icon(class=`svg-icon-${name.replace('/', '-')}`)!= renderSvgIcon(name)
