mixin icon(name, extraClasses)
    if extraClasses
        .svg-icon(class="svg-icon-#{name} #{extraClasses}")!= renderSvgIcon(name)
    else
        .svg-icon(class="svg-icon-#{name}")!= renderSvgIcon(name)
