include icon

mixin iconsOverview(mode)
    .br-sample(id="icons")
        .br-sample-header.br-sample-clearfix
            h3.br-sample-heading
                | Icon list
            a.br-sample-header-link(href="#icons") #
        .br-sample-content
            if mode === 'svg'
                each icon in icons.svg
                    div
                        +icon(icon)
                        code= icon
            if mode === 'icon-font'
                each icon in icons.iconFont
                    div
                        i.glyphicon(class="glyphicon-#{icon}")
                        code= icon
