include icon

mixin iconsOverview
    .br-sample(id="icons")
        .br-sample-header.br-sample-clearfix
            h3.br-sample-heading
                | Icons
            a.br-sample-header-link(href="#icons") #
        .br-sample-content
            each icon in icons
                div
                    +icon(icon)
                    code= icon
