mixin renderPage(entry)
    if !entry.path.includes('--')
        - var entryPath = entry.path.replace('.pug', '');
        - var isActive = false;
        if pathname === entryPath || (entryPath && pathname.includes(entryPath)) || (pathname === '' && entryPath === 'index')
            - basePage = entry;
            - isActive = true;
        li.br-tree-dir
            a(href=entry.href, class=isActive ? 'br-bordered-list__link--active' : null)
                = entry.name
                if (entry.states)
                    .br-tree-dir-state-count= entry.states.length

mixin renderDirectory(entry)
    li.br-tree-dir
        h4.br-tree-dir-title= entry.name.replace('.pug', '')
        ul
            each subEntry in entry.children
                if subEntry.type === 'directory'
                    +renderDirectory(subEntry)
                else if subEntry.type === 'file'
                    +renderPage(subEntry)

mixin renderPageTree
    ul.br-bordered-list
        if config.styleguide
            li: a(href="/styleguide") Styleguide
        each entry in pages
            if entry.type === 'directory'
                +renderDirectory(entry)
            else if entry.type === 'file'
                +renderPage(entry)
