block styleguideSettings
    //- Styleguide classes - Buttons
    //- Style buttons like your project's buttons
    - var styleguideButtonClass = ""

    //-
        Styleguide classes - Headings
        Style headings in styleguide like your project's headings
    - var styleguideBrandClass = ""
    - var styleguideComponentGroupHeaderClass = ""
    - var styleguideSampleHeadingClass = ""
    - var styleguideComponentListingCategoryClass = ""

    - var styleguideNavListTitleClass = ""
    - var styleguideNavListClass = ""
    - var styleguideSampleClass = ""

    - var styleguideNavListItemLinkClass = ""
    - var styleguideNavListItemLinkActiveClass = ""
    - var styleguideNavListItemActiveClass = ""
    - var styleguideNavListItemClass = ""

    - var styleguideNavigationHolderClass = ""