block styleguideSettings

    //-
        Styleguide styling
        This file serves as:
        * The documentation of the different styleguide options
        * Do not directly modify this file. Instead, add a section where you overwrite the variables in one of your layout templates
        * To do so, append the block styleguideSettings, usually in master.pug:
              block append styleguideSettings
                   - var myOverride = "This is my override"

    //-
        Styleguide classes - Buttons
        Style buttons like your project's buttons. Enter a class here, like "btn" depending on your project
    - var styleguideButtonClass = null

    //-
        Styleguide classes - Headings
        Style headings in styleguide like your project's headings.
        Enter a class here, like "h3", depending on your project.

    //- Class for brand on top left of style guide, usually needs to be a bit smaller, e.g. h4
    - var styleguideBrandClass = null

    //-
        Where should the logo or branding link to in the styleguide?
    - var styleguideBrandLink = "/styleguide"
    //-
        Class for the bigger title on top of content of component page of style guide,
        usually needs to be a bit bigger, e.g. h2
    - var styleguideComponentGroupHeaderClass = null

    //-
        Class for the title on top of each component sample
        usually needs to be one level smaller than the previous one, e.g. h3
    - var styleguideSampleHeadingClass = null
    - var styleguideComponentListingCategoryClass = null

    //-
        Class for the navigation holder
        * usually empty/unncessary, unless you use convoluted markup ;)
        * you might also put a class here that “activates rich content” for a bulleted list
    - var styleguideNavigationHolderClass = null

    //-
        Class for rich text above each sample, and for general docs introductions using rich text
        * if you use a CSS system where you only activate “rich content” with a specific class put it here
    - var styleguideRichContentClass = null

    //-
        Class for the styleguide nav list title
        usually something small like h4
    - var styleguideNavListTitleClass = null

    //-
        Class for the styleguide nav list itself

    - var styleguideNavListClass = null

    - var styleguideNavListItemActiveClass = null
    - var styleguideNavListItemClass = null

    - var styleguideNavListItemLinkClass = null
    - var styleguideNavListItemLinkActiveClass = null

    //-
        Class for the search input when search is enabled
    - var styleguideInputClass = null

    //-
        Class to show a logo in the style guide
    - var styleguideLogoAsImage = null
    //-
        Path to logo image in the style guide
    - var styleguideLogoAsImagePath = null
    //-
        Alt text for logo in the style guide
    - var styleguideLogoAsImageAlt = null
    //-
        Force certain image width in logo
    - var styleguideLogoAsImageForceWidth = null

    //-
        String for styleguide search input placeholder text
    - var styleguideSearchPlaceholderString = "Search components..."

    //-
        Provide a custom template for the styleguide search function
        It has to be located at /content/templates/_includes/styleguide-search-custom-template.pug to work
    - var styleguideSearchCustomTemplate = null

    //-
        Provide a custom template for the styleguide brand template
        It has to be located at /content/templates/_includes/styleguide-brand-custom-template.pug to work
    - var styleguideBrandCustomTemplate = null