block styleguideSettings
    //-
        Styleguide styling
        In this file, insert the classes that you use for buttons, headings and
        lists to make your styleguide styled by your project's styles. Meta, right?
    
    //- 
        Styleguide classes - Buttons
        Style buttons like your project's buttons. Enter a class here, like "btn" depending on your project
    - var styleguideButtonClass = ""

    //-
        Styleguide classes - Headings
        Style headings in styleguide like your project's headings.
        Enter a class here, like "h3", depending on your project.

    //- Class for brand on top left of style guide, usually needs to be a bit smaller, e.g. h4
    - var styleguideBrandClass = ""

    //- Class for hiding the brand on top left of style guide, set to true if you want to hide
    - var styleguideHideBrand = ""

    //-
        Class for the bigger title on top of content of component page of style guide,
        usually needs to be a bit bigger, e.g. h2
    - var styleguideComponentGroupHeaderClass = ""

    //-
        Class for the title on top of each component sample
        usually needs to be one level smaller than the previous one, e.g. h3
    - var styleguideSampleHeadingClass = ""
    - var styleguideComponentListingCategoryClass = ""


    //-
        Class for the navigation holder
        * usually empty/unncessary, unless you use convoluted markup ;)
        * you might also put a class here that “activates rich content” for a bulleted list
    - var styleguideNavigationHolderClass = ""

    //-
        Class for rich text above each sample, and for general docs introductions using rich text
        * if you use a CSS system where you only activate “rich content” with a specific class put it here
    - var styleguideRichContentClass = ""

    //-
        Class for the styleguide nav list title
        usually something small like h4
    - var styleguideNavListTitleClass = ""

    //-
        Class for the styleguide nav list itself

    - var styleguideNavListClass = ""

    - var styleguideNavListItemActiveClass = ""
    - var styleguideNavListItemClass = ""

    - var styleguideNavListItemLinkClass = ""
    - var styleguideNavListItemLinkActiveClass = ""
