// Toolbar code
.c-toolbar
    .c-toolbar__left
        .c-toolbar__item
            button.c-button.c-button--borderless.c-button--icon
                .c-button__content
                    +icon('arrows/chevron-left')
                    .u-sr-accessible Back
    .c-toolbar__center
        .c-toolbar__center-inner
            .c-toolbar__item
                h2.c-toolbar__title Toolbar title
    .c-toolbar__right
        .c-toolbar__item
            button.c-button.c-button--borderless
                .c-button__content
                    .c-button__label Save
