// Toolbar as it might appear in a card
.c-toolbar
    .c-toolbar__left
        .c-toolbar__item
            h2.c-toolbar__title Card title
    .c-toolbar__right
        .c-toolbar__item
            a.c-button.c-button--default.c-button--icon(href="#")
                +icon('edit')
                .u-sr-accessible Bewerk