// @todo add proper BS4 modals
.modal(tabindex="-1", role="dialog", style="display: block;")
    .modal-dialog.modal-sm(role="document")
        .modal-content
            .modal-header.has-bc-toolbar
                h4.bc-toolbar-title Add X
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .modal-footer
                a.btn.btn-link(href="#") Cancel
                a.btn.btn-primary(href="#") Continue
