// @todo add proper BS4 modals
.modal(tabindex="-1", role="dialog", style="display: block;")
    .modal-dialog(role="document")
        .modal-content
            .modal-header.has-bc-toolbar
                .bc-toolbar
                    .bc-toolbar-left
                        .bc-toolbar-item
                            h4.bc-toolbar-title Title of the modal
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .modal-footer
                a.btn.btn-link(href="#") Cancel
                a.btn.btn-primary(href="#") Continue
