---
title: Typography
category: Basics
order: 4
---

h1.c-h1 Typography

.c-content

    p This page documents the typography used in the design system.

    h3 UI font usage

    p Use the right typography to present your design and content as clearly and efficiently as possible.

    table.c-table.c-table--styled
        thead
            tr
                th Style name
                th Font weight
                th Font size
        tbody
            tr
                td Heading 1
                td Medium
                td 32
            tr
                td Heading 2
                td Medium
                td 24
            tr
                td Heading 3
                td Medium
                td 21
            tr
                td Heading 4
                td Medium
                td 15
            tr
                td Body 1
                td Regular
                td 15
            tr
                td Body 2
                td Regular
                td 13

    - var shortContent = 'Lorem ipsum dolor sit amet';
    - var longContent = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '.repeat(5).trim()
    - var samples = [];
    - samples.push({name: 'Content heading 1', code: '<h1 class="c-h1">' + shortContent + '</h1>', extraClass: contentClass})
    - samples.push({name: 'Content heading 2',code: '<h2 class="c-h2">' + shortContent + '</h2>', extraClass: contentClass})
    - samples.push({name: 'Content heading 3', code: '<h3 class="c-h3">' + shortContent + '</h3>', extraClass: contentClass})
    - samples.push({name: 'Content heading 4', code: '<h4 class="c-h4">' + shortContent + '</h4>', extraClass: contentClass})
    - samples.push({name: 'Content text', code: '<p>' + longContent + '</p>', extraClass: contentClass})

    br
    // Need better spacing techniques

    .u-spacer-bottom-l.u-spacer-top-l
        h2 In practice
        table.c-table.c-table.c-styleguide-table-typography
            each sample in samples
                tr
                    td.o-table-col-4
                        = sample.name
                        br
                        span.br-typography-sample-size= sample.size
                    td.o-table-col-12
                        .br-typography-sample-content!= sample.code
                        pre= sample.code

        h3 Technical notes
        p Typographic elements used throughout the application. Add a <code>.c-content</code> class as a parent to “activate” rich typography.

