.mdc-chip-set
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Chip One
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Chip Two
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Chip Three
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Chip Four
