.mdc-chip-set.mdc-chip-set--choice
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Extra Small
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Small
    .demo-chip.mdc-chip.mdc-chip--selected(tabindex='0')
        .mdc-chip__text Medium
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Large
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Extra Large
