.mdc-chip-set.mdc-chip-set--filter
    .demo-chip.mdc-chip.mdc-chip--selected(tabindex='0')
        .mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
                path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
        .mdc-chip__text Tops
    .demo-chip.mdc-chip.mdc-chip--selected(tabindex='0')
        .mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
            path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
        .mdc-chip__text Bottoms
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
            path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
        .mdc-chip__text Shoes
    .demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
            path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
        .mdc-chip__text Accessories
