.mdc-chip-set
    .mdc-chip(tabindex='0')
        i.material-icons.mdc-chip__icon.mdc-chip__icon--leading wb_sunny
        .mdc-chip__text Turn on lights
    .mdc-chip(tabindex='0')
        i.material-icons.mdc-chip__icon.mdc-chip__icon--leading bookmark
        .mdc-chip__text Bookmark
    .mdc-chip(tabindex='0')
        i.material-icons.mdc-chip__icon.mdc-chip__icon--leading alarm
        .mdc-chip__text Set alarm
    .mdc-chip(tabindex='0')
        i.material-icons.mdc-chip__icon.mdc-chip__icon--leading directions
        .mdc-chip__text Get directions
