.mdc-chip-set
    .custom-chip-primary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Add to Calendar
    .custom-chip-primary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Bookmark
    .custom-chip-primary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Set Alarm
    .custom-chip-primary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Get Directions
.mdc-chip-set
    .custom-chip-secondary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Add to Calendar
    .custom-chip-secondary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Bookmark
    .custom-chip-secondary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Set Alarm
    .custom-chip-secondary.demo-chip.mdc-chip(tabindex='0')
        .mdc-chip__text Get Directions
