extends /templates/_layouts/master

block append headerStyles
    style.
        html, body {
            height: 100%;
        }
        body {
            display: flex;
        }
        p {
            margin: auto;
        }

block body
    p Page not found.
