extends /templates/_layouts/master

block append style
    style.
        html {
            height: 100%;
        }
        body {
            display: flex;
            height: 100%;
        }
        p {
            margin: auto;
        }

block body
    p Page not found.
