extends /templates/_layouts/master

block append style
    style.

        body {
            background: #FAFAFA; /* $material-color-grey-50 */
        }

        .c-form-group {
            margin: 0;
            width: 100%
        }

        .c-form-group .mdc-text-field,
        .c-form-group .mdc-select {
            width: 100%
        }

        .mdc-card {
            padding: 40px;
        }

        .mdc-typography--headline5 {
            margin: 0 0 20px;
        }

        .mdc-text-field--textarea {
            width: 100%;
        }

        .mdc-checkbox-spacer-demo {
            margin: 20px 0;
        }

        .mdc-checkbox-offset-demo {
            position: relative;
            bottom: 10px;
            left: -10px;
        }

        .mdc-select {
            /* Why does mdc-textfield have a default margin and mdc select not? */
            margin-top: 16px;
            margin-bottom: 8px;
        }

        /* Investigate if there is no button toolbar component? */

        .mdc-toolbar-demo {
            display: flex;
            justify-content: flex-end;
        }

        .mdc-toolbar-demo button {
            margin-right: 10px;
        }

        .mdc-text-field--textarea:not(.mdc-text-field--disabled) {
            border-color: rgba(0, 0, 0, 0.33);
        }

block body

    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-3
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6

                .mdc-card

                    h2.mdc-typography--headline5 Contact us

                    .c-form-group
                        .mdc-text-field.mdc-text-field--outlined
                            input#tf-outlined1.mdc-text-field__input(type='text')
                            label.mdc-floating-label(for='tf-outlined1') Your name
                            .mdc-notched-outline
                                svg
                                    path.mdc-notched-outline__path
                            .mdc-notched-outline__idle
                    .c-form-group
                        .mdc-text-field.mdc-text-field--outlined
                            input#tf-outlined2.mdc-text-field__input(type='email')
                            label.mdc-floating-label(for='tf-outlined2') Your e-mail
                            .mdc-notched-outline
                                svg
                                    path.mdc-notched-outline__path
                            .mdc-notched-outline__idle

                    .c-form-group
                        .mdc-select.mdc-select--outlined
                            select.mdc-select__native-control
                                option(value='', disabled='', selected='')
                                option Word of mouth
                                option E-mail marketing
                                option Ad campaign
                                option Other
                            label.mdc-floating-label How did you hear from us?
                            .mdc-notched-outline
                                svg
                                    path.mdc-notched-outline__path
                            .mdc-notched-outline__idle

                    .c-form-group
                        .mdc-text-field.mdc-text-field--textarea
                            textarea.mdc-text-field__input(rows="8" cols="40")
                            label.mdc-floating-label Enter your message

                    .c-form-group
                        .mdc-form-field.mdc-checkbox-offset-demo.mdc-checkbox-spacer-demo
                            .mdc-checkbox
                                input.mdc-checkbox__native-control(type="checkbox" id="checkbox1")
                                .mdc-checkbox__background
                                    svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                        path.mdc-checkbox__checkmark-path(fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                    .mdc-checkbox__mixedmark
                            label(for="checkbox1") I would like to subscribe to the newsletter

                    .mdc-toolbar-demo
                        button.mdc-button.mdc-button--text(data-mdc-auto-init="MDCRipple") Cancel
                        button.mdc-button.mdc-button--raised(data-mdc-auto-init="MDCRipple") Save
