extends /templates/_layouts/default

block append pageVariables
    - var isHome = true

block content

    main.c-main
        section.o-container-vertical
            .o-container
                .c-hero
                    .c-hero__image
                        img(src='../images/hero-image.svg', alt='Illustration Jungle design system')
                    .c-hero__content
                        p.c-hero__subtitle Jungle Design System
                        .c-content
                            h1 Battle-tested CSS at scale
                            p Build fantastic web interfaces using Jungle, a CSS framework full of great UI components.
                        .u-spacer-top.u-spacer-bottom
                            .c-button-toolbar
                                a.c-button.c-button--primary(href='') Get started
                                a.c-button.c-button--secondary(href='')
                                    .o-svg-icon
                                        svg(width='24', height='24', viewBox='0 0 24 24')
                                            path(d='M15.5714 21C15.0703 21 14.7363 20.6705 14.7363 20.1762V16.9633C14.8198 16.3043 14.5692 15.81 14.1516 15.3981C13.9011 15.151 13.8176 14.8214 13.9846 14.5743C14.0681 14.2448 14.4022 14.08 14.6527 13.9976C17.0747 13.7505 19.3297 12.9267 19.3297 9.05478C19.3297 8.14859 18.9956 7.2424 18.3275 6.50097C18.0769 6.25383 18.0769 5.92431 18.1604 5.67717C18.411 5.01812 18.411 4.35907 18.244 3.70002C17.8264 3.78241 17.1582 4.02955 16.0725 4.77098C15.9055 4.93574 15.6549 4.93574 15.4044 4.85336C13.6505 4.35907 11.7297 4.35907 9.97581 4.85336C9.72526 4.93574 9.47471 4.93574 9.22416 4.77098C8.22196 4.11193 7.47031 3.86479 7.05272 3.78241C6.88569 4.35907 6.88569 5.1005 7.13624 5.67717C7.21976 6.00669 7.21976 6.33621 6.96921 6.50097C6.30107 7.2424 5.96701 8.14859 5.96701 9.13716C5.96701 13.0091 8.22196 13.8329 10.6439 14.08C10.978 14.08 11.2286 14.3272 11.3121 14.6567C11.3956 14.9862 11.3121 15.3157 11.145 15.4805C10.7275 15.8924 10.5604 16.3867 10.5604 16.9633V17.7048V17.7871V20.1762C10.5604 20.6705 10.2264 21 9.72526 21C9.22416 21 8.89009 20.6705 8.89009 20.1762V18.7757C6.38459 19.1876 5.29888 17.7871 4.54723 16.881C4.21316 16.4691 3.96261 16.1395 3.62854 16.0571C3.21096 15.9748 2.87689 15.4805 3.04393 15.0686C3.12744 14.6567 3.62854 14.3272 4.04613 14.4919C4.88129 14.7391 5.38239 15.3157 5.88349 15.8924C6.55163 16.7986 7.13624 17.4576 8.89009 17.1281V17.0457C8.89009 16.5514 8.97361 15.9748 9.14064 15.5629C6.80217 15.0686 4.29668 13.5857 4.29668 9.21954C4.29668 7.98383 4.71426 6.8305 5.46591 5.92431C5.13184 4.77098 5.21536 3.61764 5.71646 2.54669C5.79998 2.29955 5.96701 2.13479 6.21756 2.05241C6.55162 2.05241 7.63734 1.88765 9.89229 3.20574C11.7297 2.79384 13.6505 2.79384 15.4044 3.20574C17.5758 1.80527 18.7451 1.97003 19.0791 2.05241C19.3297 2.13479 19.4967 2.29955 19.5802 2.54669C19.9978 3.61764 20.0813 4.6886 19.8308 5.75955C20.5824 6.66573 21 7.81907 21 9.05478C21 13.7505 18.1604 14.9862 16.156 15.4805C16.3231 15.9748 16.4066 16.5514 16.4066 17.0457V20.1762C16.4066 20.6705 16.0725 21 15.5714 21Z')
                                    .c-button__label View on Github
                        a.github-button(href='https://github.com/mono-company/jungle-css', data-icon='octicon-star', data-show-count='true', aria-label='Star usebedrock/bedrock on GitHub') Star

        section.o-container-vertical
            .o-container
                h2.c-h2 What does Jungle have to offer?
                ul.c-usp-grid
                    li.c-usp
                        .c-usp__icon
                            svg(width='56', height='56', viewBox='0 0 56 56')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M15.0835 42.4036C14.2891 37.7234 15.271 34.1394 17.4043 31.1994C19.5408 28.255 22.7744 26.0439 26.1624 23.9737C26.9827 23.4724 27.814 22.9773 28.6483 22.4805C34.8562 18.7835 41.2289 14.9883 44.4686 7.82146C44.5172 7.70317 44.6808 7.35388 45.0801 7.14519C45.3575 7.00018 45.6817 6.96026 45.9922 7.04144C46.2684 7.11357 46.4547 7.26004 46.5549 7.35437C46.7413 7.52998 46.8378 7.72402 46.8731 7.79722C46.9212 7.8971 46.9576 7.99573 46.9847 8.07707C47.0874 8.38488 47.1804 8.82343 47.2642 9.2991C47.4378 10.2847 47.6183 11.7036 47.7567 13.2593C47.8954 14.8177 47.9943 16.5394 47.9998 18.1308C48.0051 19.6981 47.9211 21.2275 47.6586 22.3566L47.6579 22.3596L47.6572 22.3626C47.5744 22.711 47.3683 22.9572 47.3028 23.0354L47.302 23.0365C47.2001 23.1582 47.0831 23.2737 46.9736 23.3749C46.7515 23.5802 46.4658 23.8127 46.1582 24.0512C45.5389 24.5315 44.7343 25.1107 43.9543 25.6711L43.8707 25.7312C43.6122 25.9169 43.3569 26.1003 43.1105 26.2784C43.55 26.2895 43.9857 26.3056 44.3425 26.3373C44.5881 26.3591 44.8894 26.3951 45.1489 26.4739C45.2598 26.5075 45.5116 26.5906 45.7429 26.7901C45.8713 26.9007 46.0401 27.0874 46.1384 27.3671C46.2437 27.6669 46.2314 27.9705 46.1459 28.2295L46.1434 28.2371L46.1407 28.2447C43.9731 34.5402 39.1979 40.281 33.5407 43.593C28.1 46.7782 21.6659 47.7994 15.9474 44.6265L10.9178 48.3141C10.1777 48.8692 8.45447 49.4828 8.07391 48.9693C7.7039 48.4556 8.80538 47.0042 9.55564 46.4509L15.0835 42.4036ZM29.8863 24.6748C35.2089 21.5189 41.2445 17.9402 45.1025 11.8988C45.1596 12.3952 45.2142 12.9283 45.2637 13.484C45.3978 14.9911 45.4916 16.6383 45.4968 18.1395C45.5015 19.5149 45.4309 20.6964 45.2753 21.5246C45.1332 21.6554 44.9167 21.834 44.6302 22.0562C44.0545 22.5027 43.2904 23.0532 42.4998 23.6212L42.3986 23.6939L42.3946 23.6968C41.6491 24.2323 40.8882 24.779 40.2958 25.2334C39.9874 25.4699 39.702 25.6986 39.48 25.8986C39.3704 25.9973 39.2549 26.1081 39.154 26.2232L39.1525 26.2249C39.0878 26.2988 38.8865 26.5284 38.7916 26.8529L38.7909 26.8555L38.7901 26.8582C38.714 27.1229 38.7164 27.4208 38.8255 27.7066C38.9272 27.9728 39.0913 28.1508 39.2167 28.2575C39.4442 28.4513 39.6904 28.5343 39.8042 28.5692C40.0652 28.6493 40.3678 28.6864 40.6157 28.709C41.1355 28.7563 41.8182 28.7703 42.4379 28.783L42.4568 28.7834C42.6172 28.7867 42.7736 28.7899 42.9245 28.7935C43.0361 28.7961 43.1448 28.7989 43.2497 28.802C41.0926 33.9745 37.0142 38.6454 32.282 41.4158C27.7212 44.086 22.7048 44.9203 18.23 42.953L28.3987 35.4975C28.7171 35.2676 28.9526 34.9797 29.0902 34.6849C29.1999 34.4853 29.2526 34.2511 29.2295 34.0066L29.4975 24.9054L29.8863 24.6748ZM27.1816 26.2983L26.9635 33.7057L23.7065 36.0903L23.9245 28.6873C23.9174 28.6126 23.9033 28.5402 23.8828 28.4709C24.9002 27.7373 26.0067 27.0215 27.1816 26.2983ZM21.3815 37.7925L21.6022 30.2977C20.7717 31.0501 20.04 31.8383 19.4257 32.6848C17.8987 34.7892 17.0548 37.3178 17.3822 40.7206L21.3815 37.7925ZM41.0313 27.8892C41.0263 27.895 41.0223 27.9002 41.0223 27.9002C41.0223 27.9002 41.022 27.9011 41.0244 27.8985C41.0244 27.8985 41.0281 27.8943 41.0308 27.891L41.0313 27.8892ZM46.7716 8.80969L46.782 8.7833C46.7797 8.7896 46.7712 8.81282 46.7546 8.84751L46.7716 8.80969Z')
                        .c-content
                            h4 Pick and choose
                            p You can simply choose the components that you need for your project to keep your codebase light.
                    li.c-usp
                        .c-usp__icon
                            svg(width='56', height='56', viewBox='0 0 56 56')
                                path(fill-rule='evenodd' clip-rule='evenodd', d='M46.3784 37.4005C46.6003 37.1236 46.7784 36.7675 46.7784 36.3321C46.7784 35.6589 46.3346 35.1052 45.7112 34.7895V32.6918C45.7112 31.7417 44.8221 30.9502 43.7112 30.9502C43.5784 30.9502 43.444 30.9502 43.3112 30.9892V24.7377L42.555 24.6987C42.2878 24.6598 41.4878 24.6194 40.3768 24.5805C41.2206 23.9865 41.755 23.195 41.7987 22.3256V22.2867V22.2477C41.7097 20.3086 39.1315 18.7659 35.7095 18.6478C35.5314 14.9283 32.0658 12 27.8875 12C23.5767 12 20.0203 15.1257 20.0203 19.0039V24.6222C16.8203 24.504 13.8423 24.7015 13.2203 24.7808L12.4641 24.8198L12.4672 31.0296C12.3344 30.9906 12.1563 30.9906 12.0234 30.9906C10.9562 30.9906 10.0672 31.7822 10.0672 32.7322V34.8299C9.44532 35.1067 9 35.7007 9 36.4129C9 36.808 9.13281 37.1641 9.4 37.4423C9.17812 37.7191 9 38.0752 9 38.5106C9 38.9057 9.13281 39.2618 9.4 39.54C9.17812 39.8168 9 40.1729 9 40.6083C9 41.5584 9.88908 42.3499 10.9562 42.3499H12.4672V43.6157H43.2236V42.3499H44.7345C45.8017 42.3499 46.6907 41.5583 46.6907 40.5693C46.6907 40.1743 46.5579 39.8182 46.2907 39.54C46.5126 39.2631 46.6907 38.907 46.6907 38.4716C46.7782 38.0334 46.6438 37.6773 46.3782 37.4005L46.3784 37.4005ZM39.8892 36.3711C39.8892 36.2125 40.022 36.0539 40.2454 36.0539H44.8675C45.0456 36.0539 45.2237 36.1722 45.2237 36.3711C45.2237 36.5297 45.0909 36.6882 44.8675 36.6882H40.2454C40.022 36.6882 39.8892 36.5297 39.8892 36.3711ZM39.8892 38.4298C39.8892 38.2712 40.022 38.1127 40.2454 38.1127H44.8675C45.0456 38.1127 45.2237 38.2309 45.2237 38.4298C45.2237 38.5884 45.0909 38.747 44.8675 38.747H40.2454C40.022 38.7456 39.8892 38.6273 39.8892 38.4298ZM43.7548 32.4148C43.933 32.4148 44.1111 32.533 44.1111 32.732V34.5918H43.4002V32.732C43.4002 32.5734 43.533 32.4148 43.7548 32.4148ZM40.2002 22.2853C40.1564 23.2743 38.3783 24.383 35.7566 24.5013V20.0303C38.3784 20.1889 40.155 21.2962 40.2002 22.2852V22.2853ZM27.933 13.4229C31.222 13.4229 33.933 15.7181 34.155 18.606H21.7114C21.9332 15.7168 24.6442 13.4229 27.9334 13.4229H27.933ZM21.6674 20.0304H34.111V24.6598C31.6672 24.8574 29.2674 25.2928 27.889 26.1636C26.5108 25.2538 24.1108 24.8185 21.667 24.6598L21.6674 20.0304ZM15.6222 36.6881H11.0002C10.822 36.6881 10.6439 36.5699 10.6439 36.3709C10.6439 36.2124 10.7767 36.0538 11.0002 36.0538H15.6222C15.8003 36.0538 15.9784 36.172 15.9784 36.3709C15.9784 36.5295 15.8003 36.6881 15.6222 36.6881ZM15.9784 38.4686C15.9784 38.6272 15.8456 38.7858 15.6222 38.7858H11.0002C10.822 38.7858 10.6439 38.6676 10.6439 38.4686C10.6439 38.3101 10.7767 38.1515 11.0002 38.1515H15.6222C15.8003 38.1125 15.9784 38.2711 15.9784 38.4686ZM12.1112 32.4148C12.2893 32.4148 12.4675 32.5331 12.4675 32.732V34.5918H11.7565V32.732C11.7112 32.5734 11.8893 32.4148 12.1112 32.4148ZM10.6893 40.4871C10.6893 40.3285 10.8221 40.1699 11.0456 40.1699H15.6676C15.8457 40.1699 16.0238 40.2881 16.0238 40.4871C16.0238 40.6456 15.891 40.8042 15.6676 40.8042H11.0456C10.8221 40.8432 10.6893 40.6846 10.6893 40.4871ZM27.0893 42.109H16.4221C17.0893 41.8322 17.5784 41.2382 17.5784 40.4871C17.5784 40.092 17.4456 39.7359 17.1784 39.4577C17.4002 39.1809 17.5784 38.8248 17.5784 38.3894C17.5784 37.9943 17.4456 37.6382 17.1784 37.36C17.4002 37.0832 17.5784 36.7271 17.5784 36.2917C17.5784 35.3416 16.6893 34.5501 15.6221 34.5501H14.1112V26.0423C18.5112 25.7655 25.1784 25.9241 27.0892 27.3875L27.0893 42.109ZM28.7331 27.4292C30.644 25.9658 37.3111 25.8072 41.7111 26.0841V34.5904H40.2002C39.133 34.5904 38.2439 35.3819 38.2439 36.3709C38.2439 36.766 38.3767 37.1221 38.6439 37.4003C38.422 37.6771 38.2439 38.0332 38.2439 38.4686C38.2439 38.8637 38.3767 39.2198 38.6439 39.498C38.422 39.7748 38.2439 40.1309 38.2439 40.5663C38.2439 41.2785 38.733 41.8725 39.4002 42.1493H28.733L28.7331 27.4292ZM44.8223 40.8431H40.2003C40.0222 40.8431 39.844 40.7248 39.844 40.5259C39.844 40.3673 39.9768 40.2087 40.2003 40.2087H44.8223C45.0004 40.2087 45.1785 40.327 45.1785 40.5259C45.1785 40.6845 45.0004 40.8431 44.8223 40.8431ZM25.6221 23.7502C25.6221 24.7517 23.933 24.7517 23.933 23.7502C23.933 22.7473 25.6221 22.7473 25.6221 23.7502ZM31.9332 23.7502C31.9332 24.7517 30.2441 24.7517 30.2441 23.7502C30.2441 22.7473 31.9332 22.7473 31.9332 23.7502ZM26.422 17.6967H24.022C23.533 17.6967 23.222 17.3796 23.222 16.9845C23.222 16.5894 23.5783 16.2723 24.022 16.2723H26.422C26.8658 16.2723 27.222 16.5894 27.222 16.9845C27.222 17.3796 26.8658 17.6967 26.422 17.6967Z')
                        .c-content
                            h4 Readable code
                            p We know you can map variables and use mixins in SCSS, but is it necessary to use every language feature to avoid your goals? Jungle aims for code readability instead.
                    li.c-usp
                        .c-usp__icon
                            svg(width='56', height='56', viewBox='0 0 56 56')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M29.9576 2.39646C31.8677 3.20013 33.1137 5.09672 33.1137 7.20085C33.1116 10.0732 30.8238 12.4003 27.9998 12.4025C25.9312 12.4025 24.0666 11.1352 23.2744 9.19223C22.4842 7.24949 22.9206 5.01061 24.3836 3.52249C25.8464 2.03657 28.0453 1.59057 29.9576 2.39646ZM26.8928 4.48513C25.814 4.93996 25.1085 6.01079 25.1085 7.20085C25.1107 8.82365 26.4044 10.1396 27.9998 10.1418C29.1698 10.1418 30.2225 9.42641 30.6718 8.32687C31.119 7.22734 30.8716 5.96221 30.0445 5.121C29.2175 4.2798 27.9737 4.02809 26.8928 4.48513Z')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M33.5414 53.7456C32.3258 54.2601 30.9258 53.9797 29.9924 53.0347C29.3786 52.4143 29.0335 51.5664 29.0356 50.6855V34.7819H26.9648V50.6855C26.9648 52.5158 25.5062 53.9995 23.7067 53.9995C21.9073 53.9995 20.4486 52.5158 20.4486 50.6855V19.9317H11.2538C9.45649 19.9295 8 18.4458 8 16.6177C8 14.7895 9.45649 13.3058 11.2538 13.3036H44.7462C46.5435 13.3058 48 14.7895 48 16.6177C48 18.4458 46.5435 19.9295 44.7462 19.9317H35.5514V50.6855C35.5514 52.0235 34.7591 53.2312 33.5414 53.7456ZM24.7417 33.6515C24.7417 33.0267 25.2388 32.5211 25.8531 32.5211H30.1462C30.7605 32.5211 31.2576 33.0267 31.2576 33.6515V50.6857C31.2576 50.966 31.3661 51.2332 31.5593 51.4319C31.7546 51.6306 32.0173 51.7432 32.2929 51.7432C32.5686 51.7432 32.8334 51.6306 33.0266 51.4319C33.222 51.2332 33.3305 50.966 33.3283 50.6857V18.8015C33.3283 18.1767 33.8254 17.671 34.4397 17.671H44.7459C45.0215 17.6733 45.2863 17.5629 45.4817 17.3641C45.6749 17.1676 45.7856 16.8983 45.7856 16.6179C45.7856 16.3375 45.6749 16.0703 45.4817 15.8716C45.2864 15.6751 45.0215 15.5625 44.7459 15.5647H11.2534C10.9778 15.5625 10.713 15.6751 10.5176 15.8716C10.3244 16.0703 10.2137 16.3375 10.2137 16.6179C10.2137 16.8983 10.3244 17.1676 10.5176 17.3641C10.7129 17.5629 10.9778 17.6733 11.2534 17.671H21.5596C22.1739 17.671 22.671 18.1767 22.671 18.8015V50.6857C22.6688 50.966 22.7773 51.2332 22.9727 51.4319C23.1659 51.6306 23.4307 51.7432 23.7063 51.7432C23.982 51.7432 24.2446 51.6306 24.44 51.4319C24.6332 51.2332 24.7417 50.966 24.7417 50.6857V33.6515Z')
                        .c-content
                            h4 Accessibility
                            p We take web standards seriously. Components are tested for accessibility and when they are not, they are marked as such.
                    li.c-usp
                        .c-usp__icon
                            svg(width='56', height='56', viewBox='0 0 56 56')
                                path(d='M28.0002 26.3328C28.1392 26.3437 28.2752 26.3703 28.4064 26.4156L35.072 19.75H36.2502V20.9281L29.5846 27.5937C29.6299 27.725 29.6564 27.8609 29.6674 28C29.6674 28.6734 29.2611 29.2812 28.6377 29.5391C28.0158 29.7984 27.2986 29.6547 26.822 29.1781C26.3455 28.7016 26.2017 27.9843 26.4611 27.3625C26.7189 26.739 27.3267 26.3328 28.0002 26.3328Z')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M17.3936 17.3936C20.2064 14.5797 24.0219 13 28 13C31.9784 13 35.7939 14.5795 38.6064 17.3936C41.4203 20.2064 43 24.0216 43 28C43 31.9784 41.4205 35.7939 38.6064 38.6064C35.7936 41.4203 31.9784 43 28 43C24.0216 43 20.2061 41.4205 17.3936 38.6064C14.5797 35.7936 13 31.9784 13 28C13 24.0216 14.5795 20.2061 17.3936 17.3936ZM37.0731 37.7416C34.4685 35.7465 31.2798 34.667 28 34.667C24.72 34.667 21.5312 35.7467 18.9264 37.742C16.2936 35.2967 14.7592 31.892 14.67 28.3C14.5825 24.7078 15.9466 21.2328 18.4559 18.6608C20.9653 16.0889 24.4059 14.6388 27.9995 14.6388C31.5931 14.6388 35.0339 16.0888 37.5431 18.6608C40.0525 21.2327 41.4166 24.7076 41.329 28.3C41.24 31.892 39.7058 35.2964 37.0731 37.7416Z')
                                path(d='M28.0002 26.3328C28.1392 26.3437 28.2752 26.3703 28.4064 26.4156L35.072 19.75H36.2502V20.9281L29.5846 27.5937C29.6299 27.725 29.6564 27.8609 29.6674 28C29.6674 28.6734 29.2611 29.2812 28.6377 29.5391C28.0158 29.7984 27.2986 29.6547 26.822 29.1781C26.3455 28.7016 26.2017 27.9843 26.4611 27.3625C26.7189 26.739 27.3267 26.3328 28.0002 26.3328Z', stroke='black', stroke-width='0.5')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M17.3936 17.3936C20.2064 14.5797 24.0219 13 28 13C31.9784 13 35.7939 14.5795 38.6064 17.3936C41.4203 20.2064 43 24.0216 43 28C43 31.9784 41.4205 35.7939 38.6064 38.6064C35.7936 41.4203 31.9784 43 28 43C24.0216 43 20.2061 41.4205 17.3936 38.6064C14.5797 35.7936 13 31.9784 13 28C13 24.0216 14.5795 20.2061 17.3936 17.3936ZM37.0731 37.7416C34.4685 35.7465 31.2798 34.667 28 34.667C24.72 34.667 21.5312 35.7467 18.9264 37.742C16.2936 35.2967 14.7592 31.892 14.67 28.3C14.5825 24.7078 15.9466 21.2328 18.4559 18.6608C20.9653 16.0889 24.4059 14.6388 27.9995 14.6388C31.5931 14.6388 35.0339 16.0888 37.5431 18.6608C40.0525 21.2327 41.4166 24.7076 41.329 28.3C41.24 31.892 39.7058 35.2964 37.0731 37.7416Z', stroke='black', stroke-width='0.5')
                        .c-content
                            h4 Performance
                            p Jungle’s CSS is written with selector performance in mind. We avoid extraneous code and keep things as light as possible.
                    li.c-usp
                        .c-usp__icon
                            svg(width='56', height='56', viewBox='0 0 56 56')
                                path(d='M31.2624 17.4957C31.3968 17.1215 31.8468 16.9143 32.2671 17.0339C32.6874 17.1535 32.9206 17.5541 32.7862 17.927L25.4954 38.264C25.3861 38.5672 25.072 38.7606 24.7329 38.7606C24.6517 38.7606 24.5704 38.7494 24.4892 38.7272C24.0689 38.6076 23.8361 38.2069 23.9704 37.8327L31.2624 17.4957Z')
                                path(d='M44.6076 25.842L36.1796 20.8316C35.8124 20.6132 35.3155 20.7008 35.0702 21.0277C34.825 21.3546 34.9234 21.797 35.2905 22.0154L43.7202 27.0258C43.9983 27.1913 44.1577 27.4556 44.1577 27.7533C44.1577 28.051 43.9983 28.3153 43.7202 28.4809L35.2905 33.4942C34.9234 33.7126 34.8249 34.1549 35.0702 34.4818C35.2249 34.6877 35.478 34.799 35.7359 34.799C35.889 34.799 36.0437 34.76 36.1796 34.6793L44.6092 29.6689C45.328 29.2418 45.7577 28.5268 45.7577 27.7562C45.7561 26.9855 45.3279 26.2705 44.6076 25.842Z')
                                path(d='M13.0359 27.0273L21.4655 22.0169C21.8327 21.7985 21.9312 21.3561 21.6858 21.0293C21.4405 20.7024 20.9436 20.6133 20.5765 20.8331L12.1484 25.8421C11.4297 26.2692 11 26.9842 11 27.7548C11 28.5241 11.4297 29.2405 12.1484 29.6675L20.5781 34.6779C20.714 34.7586 20.8687 34.7975 21.0218 34.7975C21.2796 34.7975 21.5343 34.6863 21.6875 34.4804C21.9328 34.1535 21.8343 33.7111 21.4672 33.4928L13.0359 28.4823C12.7578 28.3168 12.5984 28.0525 12.5984 27.7548C12.6 27.4571 12.7593 27.1929 13.0359 27.0273Z')
                                path(d='M31.2624 17.4957C31.3968 17.1215 31.8468 16.9143 32.2671 17.0339C32.6874 17.1535 32.9206 17.5541 32.7862 17.927L25.4954 38.264C25.3861 38.5672 25.072 38.7606 24.7329 38.7606C24.6517 38.7606 24.5704 38.7494 24.4892 38.7272C24.0689 38.6076 23.8361 38.2069 23.9704 37.8327L31.2624 17.4957Z', stroke='black', stroke-width='0.5')
                                path(d='M44.6076 25.842L36.1796 20.8316C35.8124 20.6132 35.3155 20.7008 35.0702 21.0277C34.825 21.3546 34.9234 21.797 35.2905 22.0154L43.7202 27.0258C43.9983 27.1913 44.1577 27.4556 44.1577 27.7533C44.1577 28.051 43.9983 28.3153 43.7202 28.4809L35.2905 33.4942C34.9234 33.7126 34.8249 34.1549 35.0702 34.4818C35.2249 34.6877 35.478 34.799 35.7359 34.799C35.889 34.799 36.0437 34.76 36.1796 34.6793L44.6092 29.6689C45.328 29.2418 45.7577 28.5268 45.7577 27.7562C45.7561 26.9855 45.3279 26.2705 44.6076 25.842Z', stroke='black', stroke-width='0.5')
                                path(d='M13.0359 27.0273L21.4655 22.0169C21.8327 21.7985 21.9312 21.3561 21.6858 21.0293C21.4405 20.7024 20.9436 20.6133 20.5765 20.8331L12.1484 25.8421C11.4297 26.2692 11 26.9842 11 27.7548C11 28.5241 11.4297 29.2405 12.1484 29.6675L20.5781 34.6779C20.714 34.7586 20.8687 34.7975 21.0218 34.7975C21.2796 34.7975 21.5343 34.6863 21.6875 34.4804C21.9328 34.1535 21.8343 33.7111 21.4672 33.4928L13.0359 28.4823C12.7578 28.3168 12.5984 28.0525 12.5984 27.7548C12.6 27.4571 12.7593 27.1929 13.0359 27.0273Z', stroke='black', stroke-width='0.5')
                        .c-content
                            h4 Strict namespace
                            p Code conventions, strict namespacing and usage of BEM/ITCSS techniques avoid typical CSS problems
        section.o-container-vertical
            .o-container
                .c-blog
                    h2.c-h2 On the blog
                    img.c-leaf-left(src='../images/leaves-left.svg', alt='')
                    |
                    img.c-leaf-right(src='../images/leaves-right.svg', alt='')
                    .c-blog-overview
                        a.c-blog-preview(href='../templates/blog-single-post.html')
                            article
                                .o-flex.o-flex--justify-between
                                    .c-blog__author Johan Ronsse
                                    .c-blog__date 20 feb. 2019
                                .c-blog__content
                                    .c-content
                                        h4 Time for a new quality CSS framework
                                        p There are two main schools of thought in CSS frameworks. There is the old guard (Foundation..
                        //
                            a.c-blog-preview(href='../templates/blog-single-post.html')
                                article
                                    .o-flex.o-flex--justify-between
                                        .c-blog__author Johan Ronsse
                                        .c-blog__date 20 nov. 2018
                                    .c-blog__content
                                        .c-content
                                            h4 Time for a new quality CSS framework
                                            p There are two main schools of thought in CSS frameworks. There is the old guard (Foundation..
        section.c-brand-mono
            h4.c-h4 Made by the team at
            .u-sr-accessible Mono
            a(href='https://mono.company')
                img(src='../images/mono-large.svg', alt='Mono logo')
    footer.c-footer
        .c-navbar
            .c-toolbar
                .c-toolbar__left
                    .c-toolbar__item Version 1.0.0
                    .c-toolbar__item MIT Licensed
                    .c-nav
                        a(href='') Contribute
                .c-toolbar__right
                    a(href='https://mono.company')
                        img(src='../images/mono.svg', alt='Mono logo')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    script(src='../js/mobile-navigation.js')
