extends /templates/_layouts/master

include ../../core/templates/mixins/render-page-tree

block append headerScriptsStyles
    style.
        .br-index {
            padding: 20px;
        }

block body
    
    .br-index
        p Prototype pages:
        +renderPageTree
        p Press Ctrl + M to see a page listing when you are inside a page.
