extends /templates/_layouts/master

block append pageVariables
    - var myContent = '# I am a heading'

block body

    //- Load the array

    h1 Markdown Data

    p You can use markdown in templates by using the marked filter.

    p As an example, make put your markdown in a variable.

    pre.
        block append pageVariables
            - var myContent = '# I am a heading'

    p Then render it with the following code:

    pre.
      div!= marked(myContent)
