@import "_s-colors";

/* ==========================================================================
  Style guide settings
   ========================================================================== */

$br-rem-multiplier: 1;
$br-heading-font-weight: 500;

$br-styleguide-sidebar-width: 20%;
$br-styleguide-content-width: (100% - $br-styleguide-sidebar-width);

$br-styleguide-sidebar-padding-top: 3.2rem*$br-rem-multiplier;
$br-styleguide-sidebar-padding-right: 3.2rem*$br-rem-multiplier;
$br-styleguide-sidebar-padding-bottom: 3.2rem*$br-rem-multiplier;
$br-styleguide-sidebar-padding-left: 3.2rem*$br-rem-multiplier;

$br-styleguide-content-padding-top: 3.2rem*$br-rem-multiplier;
$br-styleguide-content-padding-right: 3.2rem*$br-rem-multiplier;
$br-styleguide-content-padding-bottom: 3.2rem*$br-rem-multiplier;
$br-styleguide-content-padding-left: 3.2rem*$br-rem-multiplier;

$br-prototype-nav-width: 250px; // Keep this in px please, otherwise it gets buggy


/* Better display for modals when prototype nav is open
   ========================================================================== */

.br-prototype-nav-is-open .c-modal-context {
  left: $br-prototype-nav-width;
  width: calc(100% - #{$br-prototype-nav-width});
}

$br-styleguide-sidebar-bg-color: $color-gray-50;