/* ==========================================================================
  Style guide settings
   ========================================================================== */


$br-heading-font-weight: 700;

$br-base-size-multiplier: 0.625;

$br-background: #FFF;
$br-color-headings: #000;

$br-code-background: #F0F0F0;

$br-switch-breakpoint: 800px;

$br-styleguide-content-width: 78%; // Only supply a single % value here
$br-styleguide-sidebar-width: 22%; // Only supply a single % value here

$br-styleguide-sidebar-padding: 3.2rem; // Only supply a single rem value here
$br-styleguide-content-padding: 3.2rem; // Only supply a single rem value here
