/* ==========================================================================
  Component: c-brand
   ========================================================================== */

.c-brand {
  padding: 0;
  margin-right: 0.8rem;
  display: block;
  height: 3.6rem;
  a {
    display: block;
    position: relative;
  }
}
