/* ==========================================================================
  Component: Button group
  @todo fix border radius
   ========================================================================== */

.c-button-group {
  display: flex;
  .c-button.c-button--default {
    flex: 1;
    &:not(:first-child),
    &:not(:last-child) {
      border-radius: 0;
    }
  }
}
