/* ==========================================================================
  c-datepicker related
   ========================================================================== */

/* Datepicker table
   ========================================================================== */

.c-datepicker-table {
  width: 100%;
  th, td {
    padding: 2px;
    text-align: center;
  }
  th {
    color: #CCC;
  }
  td, th {
    a, span {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      text-align: center;
      line-height: 4rem;
    }
    a {
      border-radius: 100%;
    }
    a:hover {
      background: $color-gray-100;
    }
  }
}

/* Datepicker today
   ========================================================================== */

.c-datepicker-today {
  a {
    background: $color-primary;
    color: #FFF;
  }
}