/* ==========================================================================
  c-filter-dropdown
   ========================================================================== */

.c-filter-dropdown-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3.2rem;
  .c-filter-dropdown {
    margin: 0 1.2rem 1.2rem 0;
  }
}

.c-filter-dropdown__options {
  display: block;
  position: relative;
  color: $color-gray-700;
  border-radius: 0.3rem;
  &:hover {
    background: $color-gray-100;
  }
}

.c-filter-dropdown {
  border: 1px solid $color-gray-100;
  padding: 0.2rem 1.6rem;
  border-radius: 0.3rem;
  height: 4rem;
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

.c-filter-dropdown__label {
  margin-right: 0.4rem;
}