/* ==========================================================================
    Component: footer
   ========================================================================== */

.c-global-footer {
  border-top: 1px solid $color-gray-100;
  padding: 2.4rem 0;
  font-size: 1.3rem;
  color: $color-gray-500;

  a {
    color: $color-gray-500;
    &:hover {
      border-bottom: 1px solid $color-gray-200;
    }
  }

  ul {
    li {
      padding: 0.4rem;
      display: inline-block;
      margin-right: 0.8rem;
    }
  }

}


@media (min-width: $g-bp2) {

  .c-global-footer__inner {
    display: flex;
    justify-content: space-between;
  }

}