/* ==========================================================================
  c-header
 ========================================================================== */

.c-header {
  height: 6.4rem;
  border-bottom: 2px solid $color-gray-50;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
