/* Text + images on homepage
   Should probably be a component
   ========================================================================== */

@media (min-width: $g-bp2) {
  .c-home-text-image {
    display: flex;
    align-items: center;
  }
}

.c-home-text-image__image {
  @media (min-width: $g-bp2) {
    flex: 1 0 33%;
  }
  img {
    border-radius: 0.5rem;
  }
}

.c-home-text-image--flipped {
  flex-direction: row-reverse;
}

.c-home-text-image__text {
  padding: 0 0 2.4rem;
  @media (min-width: $g-bp2) {
    padding: 0 3.2rem;
  }
}
