/* ==========================================================================
  Component: hr
  ---
  A horizontal ruler.
   ========================================================================== */

.c-hr {
  margin: 3.2rem 0;
  border: none;
  border-bottom: 1px solid $color-gray-100;
}
