/* ==========================================================================
  Component: image
   ========================================================================== */

.c-image {
    img {
        display: block;
        margin: 0 auto;
    }
}

.c-image--full {
    img {
        display: block;
        width: 100%;
    }
}