/* ==========================================================================
  Search results
   ========================================================================== */

.c-search-result {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  a {
    color: $color-gray-700;
  }
}

.c-search-result__image {
  flex: 1;
  img {
    width: 100%;
    display: block;
    border-radius: 0.3rem;
  }
}

.c-search-result__content {
  flex: 4;
  p {
    padding: 0.8rem 0;
    font-size: 1.4rem;
  }
}

.c-search-result__title {
  font-size: 2.1rem; // as h3
  color: $color-gray-800;
  font-family: $g-headings-font-family;
  font-weight: $g-headings-font-weight;
}

.c-search-result--video .c-search-result__title:hover a {
  color: $color-brand-blue;
}

.c-search-result--audio .c-search-result__title:hover a {
  color: $color-sky-blue;
}

.c-search-result--collection .c-search-result__title:hover a {
  color: $color-ocean-green;
}

@media (min-width: $o-grid-bp2) {
  .c-search-result {
    flex-direction: row;
    align-items: center;
  }
  .c-search-result__content {
    margin-left: 1.6rem;
  }
}