/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Key colors
 ========================================================================== */

$pink: #D3405F;
$blue: #0F68C9;
$yellow: #FEE539;
$green: #8BAC21;
$orange: #FEC434;
$red: #D9363A;

/* Pastel
 ========================================================================== */

$light-green: #F7FAE6;
$light-orange: #FEF9E6;

/* Grays
 ========================================================================== */

$gray-light: #E8EBEE;
$gray-dark: #333333;
$other-gray: #B2B2B2;
