/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Category 1
 ========================================================================== */

$black: #000;
$gray: #666;

/* Category 2
 ========================================================================== */

$red: #F00;
$soft-yellow: #FFC;
