/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Grays
 ========================================================================== */

$black: #000;
$gray: #666;
$gray-light: #999;
$gray-lighter: #BBB;
$gray-lightest: #EEE;

/* Key colors
 ========================================================================== */

$red: #F00;
$yellow: #FFFF00;
$blue: #0000FF;
$green: #008000;
