@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.eot');
    src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.eot');
    src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.eot');
    src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
