/* ==========================================================================
    Object: Container
    ---
    Fluid container for content
   ========================================================================== */

/* Variables
   ========================================================================== */

$o-container-width-bp1: calc(100% - 2.4rem);
$o-container-width-bp2: calc(100% - 3.2rem);
$o-container-width-bp3: calc(100% - 4.8rem);
$o-container-width-bp4: calc(100% - 6.4rem);

$o-container-max-width-small: 56rem;
$o-container-max-width-medium: 72rem;
$o-container-max-width-large: 94rem;
$o-container-max-width: 130rem;
$o-container-side-gap: 1.2rem !default; // Should be 1/2 of grid col gap

/* Object
   ========================================================================== */

.o-container {
  margin: 0 auto;
  max-width: $o-container-max-width;
  width: $o-container-width-bp1;
  @media (min-width: $g-bp2) {
    width: $o-container-width-bp2;
  }
  @media (min-width: $g-bp3) {
    width: $o-container-width-bp3;
  }
  @media (min-width: $g-bp4) {
    width: $o-container-width-bp4;
  }
}

.o-container--small {
  margin: 0 auto;
  max-width: $o-container-max-width-small;
}

.o-container--medium {
  margin: 0 auto;
  max-width: $o-container-max-width-medium;
}

.o-container--large {
  margin: 0 auto;
  max-width: $o-container-max-width-large;
}

@media (min-width: $g-bp2) {

  .o-container-bp2 {
    max-width: $o-container-max-width;
  }

  .o-container-bp2--small {
    max-width: $o-container-max-width-small;
  }

  .o-container-bp2--medium {
    max-width: $o-container-max-width-medium;
  }

  .o-container-bp2--large {
    max-width: $o-container-max-width-large;
  }

}


/* ==========================================================================
  Container vertical
   ========================================================================== */

/* Block spacing
   ========================================================================== */

.o-container-vertical--padding-small {
   padding: 2.4rem 0;
}

.o-container-vertical { // Standard padding
   padding: 3.6rem 0;
}

.o-container-vertical--padding-medium {
   padding: 4.8rem 0;
}

.o-container-vertical--padding-large {
   padding: 6.4rem 0;
}

/* Block modifiers
   Change the look of the entire block
   ========================================================================== */

.o-container-vertical--bg-alt {
   background: $color-gray-50;
}

.o-container-vertical--bottom-bordered {
  border-bottom: 1px solid $color-gray-100;
}

/* ==========================================================================
  Block types (attached to vertical containers, since this is often the parent)
   ========================================================================== */

/* Block type: intro
   ========================================================================== */

.o-container-vertical-intro__intro {
  font-size: 1.8rem;
  color: $color-gray-500;
  text-align: center;
}

/* Block type: title
   ========================================================================== */

.o-container-vertical-title__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: $g-headings-font-weight;
  font-family: $g-headings-font-family;
}

/* Block type: subtitle
   ========================================================================== */

.o-container-vertical-subtitle__title {
  font-size: 3.2rem;
  font-weight: $g-headings-font-weight;
  font-family: $g-headings-font-family;
}

/* Block type: anchor list
   ========================================================================== */

.o-container-vertical-anchor-list__list {
  text-align: center;
  li {
    display: inline-block;
    margin: 1rem;
  }
}