/* ==========================================================================
  Object: SVG Icon
  ---
  Styling for auto-embedded SVG icons
   ========================================================================== */

/* Variables
   ========================================================================== */

$o-svg-icon-size-huge: 4.8rem !default;
$o-svg-icon-size-large: 3.2rem !default;
$o-svg-icon-size: 2.4rem !default;
$o-svg-icon-size-small: 1.6rem !default;

/* Object
   ========================================================================== */

.o-svg-icon {
  display: inline-block;
  width: $o-svg-icon-size;
  height: $o-svg-icon-size;
  vertical-align: middle;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  &:not(.o-svg-icon-multicolor) svg * {
    fill: currentColor;
  }
}

.o-svg-icon--large {
  width: $o-svg-icon-size-large;
  height: $o-svg-icon-size-large;
}

.o-svg-icon--huge {
  width: $o-svg-icon-size-huge;
  height: $o-svg-icon-size-huge;
}

.o-svg-icon--small {
  width: $o-svg-icon-size-small;
  height: $o-svg-icon-size-small;
}

/**
 * Color Variations
 * ---
 */

.o-svg-icon--green {
  color: $color-green-500;
}

.o-svg-icon--red {
  color: $color-red-500;
}

.o-svg-icon--white {
  color: white;
}

.o-svg-icon--subtle {
  color: $color-gray-400;
}
