/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Grays
 ========================================================================== */

$color-gray-50: #F7F7F9;
$color-gray-100: #E5E6EA;
$color-gray-150: #DFE0E3;
$color-gray-200: #D3D5D8;
$color-gray-300: #B4B5BB;
$color-gray-400: #9799A0;
$color-gray-500: #737680;
$color-gray-600: #575A65;
$color-gray-700: #383A46;
$color-gray-800: #1F1F2B;
$color-gray-900: #0A0E1B;
$color-gray-1000: #000000;

 /* Brand colors
  ========================================================================== */

$color-brand-green: #47BF7C;
$color-brand-blue: #5295F6;

/* Primary colors
========================================================================== */

$color-purple-500: #693ABA;
$color-blue-500: #5295F6;
$color-aqua-500: #7ADEDB;
$color-green-500: #47BF7C;
$color-red-500: #D6203E;
$color-orange-500: #E5A227;
$color-yellow-500: #E0D910;

/* Secondary colors
========================================================================== */

$color-safe-blue: #1F72FB;
$color-safe-red: #DE3434;
$color-safe-green: #348556;


/* Other colors (need to be revised)
========================================================================== */
$color-light-grey: #DBDBDB;
$color-soft-blue: #8AC1CE;
$color-a11y-orange: #D03F06;
$color-ocean-green: #57C2A0;
$color-sky-blue:#7CAACF;