/* ==========================================================================
   Variables
   ---
   Global SCSS variables (override default values defined in component files)
   ========================================================================== */

/* Typography
   ========================================================================== */

$g-base-font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$g-code-font-family: Consolas, 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
$g-base-font-size: 1.6rem;
$g-base-line-height: 1.5;
$g-headings-font-weight: 700;
$g-headings-font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

/* Colors
   ========================================================================== */

$g-text-color: $color-gray-700;
$g-headings-color: $color-gray-900;
$g-base-background: #FFF;

/* Breakpoints
   ========================================================================== */

$g-bp1: 400px;
$g-bp2: 700px;
$g-bp3: 900px;
$g-bp4: 1200px;

/* Z-index stack
   ========================================================================== */

$g-c-tabs-z: 10;
$g-c-local-toolbar-z: 21;
$g-c-local-toolbar-middle-z: 20;
$g-c-global-navbar-z: 30;
$g-c-modal-backdrop-z: 40;
$g-c-modal-context-z: 50;
$g-c-modal-z: 60;
$g-c-menu-z: 70;

/* Bars
   ========================================================================== */

$g-bar-size-regular: 6.4rem;
$g-bar-size-medium: 4.8rem;

/* General
   ========================================================================== */

$g-spacer-unit: 0.8rem;


/* Form groups
   ========================================================================== */

$o-form-group-label-font-weight: 500; // Because of Montserrat vs Avenir


/* Button overrides
   ========================================================================== */

$c-button-link-color: $color-brand-blue;