/* ==========================================================================
  Trumps
  Media query debug
   ========================================================================== */

.t-mq-debug:before {
  content: "No breakpoint";
  position: fixed;
  top: 3rem;
  right: 3rem;
  background: #000;
  color: #FFF;
  padding: 1rem;
  font-family: sans-serif;
}

@media (min-width: $g-bp1) {

  .t-mq-debug:before {
    content: "Breakpoint 1";
  }

}

@media (min-width: $g-bp2) {

  .t-mq-debug:before {
    content: "Breakpoint 2";
  }

}

@media (min-width: $g-bp3) {

  .t-mq-debug:before {
    content: "Breakpoint 3";
  }

}

@media (min-width: $g-bp4) {

  .t-mq-debug:before {
    content: "Breakpoint 4";
  }

}