// Start your CSS here
@import "theme-styling";
@import "material-icons";
@import "fonts";

// Reset
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}


// All packages from material-components-web
// https://github.com/material-components/material-components-web
@import "node_modules/@material/button/mdc-button";
@import "node_modules/@material/card/mdc-card";
@import "node_modules/@material/checkbox/mdc-checkbox";
@import "node_modules/@material/chips/mdc-chips";
@import "node_modules/@material/dialog/mdc-dialog";
@import "node_modules/@material/drawer/mdc-drawer";
@import "node_modules/@material/elevation/mdc-elevation";
@import "node_modules/@material/fab/mdc-fab";
@import "node_modules/@material/floating-label/mdc-floating-label";
@import "node_modules/@material/form-field/mdc-form-field";
@import "node_modules/@material/grid-list/mdc-grid-list";
@import "node_modules/@material/icon-button/mdc-icon-button";
@import "node_modules/@material/icon-toggle/mdc-icon-toggle";
@import "node_modules/@material/image-list/mdc-image-list";
@import "node_modules/@material/layout-grid/mdc-layout-grid";
@import "node_modules/@material/line-ripple/mdc-line-ripple";
@import "node_modules/@material/linear-progress/mdc-linear-progress";
@import "node_modules/@material/list/mdc-list";
@import "node_modules/@material/menu/mdc-menu";
@import "node_modules/@material/notched-outline/mdc-notched-outline";
@import "node_modules/@material/radio/mdc-radio";
@import "node_modules/@material/ripple/mdc-ripple";
@import "node_modules/@material/select/mdc-select";
//@import "node_modules/@material/shape/mdc-shape";
@import "node_modules/@material/slider/mdc-slider";
@import "node_modules/@material/snackbar/mdc-snackbar";
@import "node_modules/@material/switch/mdc-switch";
@import "node_modules/@material/tabs/mdc-tabs";
@import "node_modules/@material/textfield/mdc-text-field";
@import "node_modules/@material/theme/mdc-theme";
@import "node_modules/@material/toolbar/mdc-toolbar";
@import "node_modules/@material/top-app-bar/mdc-top-app-bar";
@import "node_modules/@material/typography/mdc-typography";

// Unofficial
@import "packages-unofficial/mdc-data-table/mdc-data-table";
@import "packages-unofficial/mdc-loader/mdc-loader";

.mdc-typography--pre {
  font-family: monospace;
  line-height: 1.3;
}
