@import "_colors";

/* ==========================================================================
  Style guide styles

  In the "real world" (e.g. the app itself) some HTML elements are hidden by default, or positioned in specific ways.
  In the styleguide sometimes we want to undo some of that for demonstrational purposes.
   ========================================================================== */

.br-sample {
  margin: 16px 0;
}

// Use a custom button for code copying since the default button in Vlaanderen's style is a bit too big and there is no “subtle button”
.br-sample-show-code-btn,
.br-sample-copy-code-btn {
  border: none;
  background: $gray-light;
  color: $gray-dark;
  font-family: flanders-sans, sans-serif;
  font-size: 1.4rem;
}


h1.vi-vlaanderen{
  font-size: 2.2rem;
  margin-left: 10px;
  margin-bottom: 40px;
}

.br-styleguide-navigation-holder .vi.vi-u-xl:before {
    font-size: 4.2rem;
    position: relative;
    top: 10px;
    left: -10px;
}

.br-styleguide-navigation-holder {
  
  .drilldown a {
    color: #333;
    outline: 0;

    &:hover {
      text-decoration: none;
    }
  }
}

.u-spacer-top--small {
  margin-top: 2rem;
}

.drilldown__item--selected {
    background: $gray-light;
}


.br-sample-markup {
  background: rgba($gray-light, .5);
  border: 1px solid $gray-light;
}

.br-sample-content {
  background: #FFF;
  border: 1px solid $gray-light;
}

.CodeMirror {
  font-size: 12px;
}