@import "_colors";

/* ==========================================================================
  Style guide styles

  In the "real world" (e.g. the app itself) some HTML elements are hidden by default, or positioned in specific ways.
  In the styleguide sometimes we want to undo some of that for demonstrational purposes.
   ========================================================================== */

/* Dialog styles
   ========================================================================== */

#component-01-mdc-dialog-default,
#component-02-mdc-dialog-scroll {
    .br-sample-content {
        padding: 5rem;
    }
}

/* Icon styles
   ========================================================================== */

#component-01-material-icons {
  i.material-icons.mdc-button__icon {
    margin: 10px;
  }
}

/* List item (sidebar)
   ========================================================================== */

.br-styleguide-navigation-holder .mdc-list-item {
  padding: 0;
}
.br-styleguide-navigation-holder .mdc-list-item__text {
  text-decoration: none;
  color: $material-color-grey-900;
  display: block;
  padding: 1rem;
  width: 100%;
}

/* Demos
   ========================================================================== */

@import "packages/mdc-card/mdc-card-demo";

.br-styleguide-content {
  box-sizing: content-box;
}

.mdc-typography-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  td:first-child {
    width: 20%;
  }
  tr:last-child td {
    border: none;
  }
  td, th {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #DDD;
    vertical-align: top;
  }
  pre {
    white-space: pre-wrap;
    font-size: 90%;
  }
}