@import "_colors";
@import "packages-official/mdc-typography/mixins";
@import "theme-styling";

/* ==========================================================================
  Style guide styles

  In the "real world" (e.g. the app itself) some HTML elements are hidden by default, or positioned in specific ways.
  In the styleguide sometimes we want to undo some of that for demonstrational purposes.

   ========================================================================== */
/* Header styles
   ========================================================================== */

.br-componentgroup-header {
  margin: 0 0 1.4rem;
}

.br-content {
  margin: 0 0 3rem;
}

/* Component styles
   ========================================================================== */

.br-sample {
  padding: 0;
  margin: 1rem 0;
}

.br-sample-heading {
  margin-bottom: 1rem;
  padding: 0;
}

.br-sample-documentation {
  margin-bottom: 2rem;
  &:empty {
    margin: 0;
  }
}

/* Dialog styles
   ========================================================================== */

#component-01-mdc-dialog-default,
#component-02-mdc-dialog-scroll {
  .br-sample-content {
    padding: 5rem;
  }
}

//  Make dialogs visible in styleguide
#component-01-mdc-dialog-default .mdc-dialog__surface,
#component-02-mdc-dialog-scroll .mdc-dialog__surface {
  opacity: 1;
  transform: none;
}

/* Icon styles
   ========================================================================== */

.br-sample-content {
  i.material-icons.mdc-button__icon {
    margin: 10px;
  }
}

/* List item (sidebar)
   ========================================================================== */

.br-styleguide-navigation-holder .mdc-list-item {
  padding: 0;
}

.br-styleguide-brand-heading {
  margin: 0 0 20px;
}

.br-styleguide-navigation-holder .mdc-list-item__text {
  text-decoration: none;
  color: $material-color-grey-900;
  display: block;
  padding: 1rem;
  width: 100%;
}

/* Rich text styling
   ========================================================================== */

.mdc-typography-general {
  p, li {
    @include mdc-typography(body1);
  }
  p {
    margin: 16px 0;
  }
  p:only-child {
    margin: 0;
  }
  ul {
    list-style: disc;
  }
  ul {
    padding-left: 32px;
  }
  a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid rgba(#333,0.3);
  }
}

/* Demos
   ========================================================================== */

.br-docs-category-name {
  margin: 10px 0;
}

/* Typography table
   ========================================================================== */

.mdc-typography-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

  .mdc-typography--pre {
    margin: 10px 0;
    padding: 20px;
    background: #EEE;
  }

  td:first-child {
    width: 20%;
  }

  tr:last-child td {
    border: none;
  }

  td,
  th {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #DDD;
    vertical-align: top;
  }

  pre {
    white-space: pre-wrap;
    font-size: 90%;
  }
}

/* Top app bar
   ========================================================================== */

#component-01-mdc-top-app-bar {
  .mdc-top-app-bar {
    position: static;
  }
}


#component-01-mdc-menu {
  .br-sample-content {
    height: 300px;
  }
}

/* Link styling nav
   ========================================================================== */

.br-bordered-list li a {
  color: #333;
  padding: 8px;
}


/* Expose columns in grid documentation
   ========================================================================== */

#component-01-mdc-layout-grid [class*=mdc-layout-grid__cell] {
  color: #FFF;
  background: rgba($mdc-theme-primary,.1);
  margin-bottom: 1.6rem;
  padding: 1rem;
  text-align: center;
}
