---
title: Colors
category: Overviews
order: 2
---

h2.br-documentation-header Colors

include ../../../core/templates/mixins/color-overview

p Colors are documented in <code>_colors.scss</code>.

+colorOverview
