---
title: Icons
category: Overviews
order: 3
---

include ../../../core/templates/mixins/icon-overview

.c-content

    h2 Icons

    p The icon font contains a selection of icons. We provide a custom icon font because it is a lighter approach, and would like to limit the amount of icons used across applications.

    h4 Q: How to add an icon to the font?

    p Add an .svg file the <code>content/icon-font-source</code> folder in the application styleguide project and rebuild the CSS.

    +iconsOverview
