---
title: Introduction
category: Basics
order: 1
---

.u-spacer-bottom-l
    .c-content
        h2 Welcome to the Jungle Design System.
        p The Jungle design system is a BEM/ITSCSS framework. This styleguide documents a set of shared and integrated patterns and principles that define the overall design of a product. It exists out of well-defined, reusable and cross-platform components.

        h3 Installing Jungle started
        
        p The preferred way to install Jungle is through <code>npm</code>.

        pre
            code npm install jungle --save

        p Jungle is open source and has an MIT License.
        a.c-button.c-button--link(href="https://github.com/mono-company/jungle")
            .c-button__label View Jungle on Github
            +icon('arrows/arrow-right')

        //
            h4 CDN
            pre
                code https//jungle.mono.company/jungledesignsystem.css

