include ../../../../core/templates/mixins/icon

.u-spacer
    .c-button-toolbar
        button.c-button.c-button--default
            .c-button__content
                .c-button__label Regular button
        button.c-button.c-button--primary
            .c-button__content
                .c-button__label Primary button
        button.c-button.c-button--default.c-button--icon(aria-label="Add")
            .c-button__content
                +icon('add')
        button.c-button.c-button--default
            .c-button__content
                +icon('add')
                .c-button__label Label
        button.c-button.c-button--default
            .c-button__content
                +icon('add')
                .c-button__label Label
                +icon('arrows/caret-down')
        button.c-button.c-button--default
            .c-button__content
                .c-button__label Label
                +icon('arrows/caret-down')

.u-spacer
    .c-button-toolbar
        a.c-button.c-button--default(href="#")
            .c-button__label Regular button (anchor)
        a.c-button.c-button--primary(href="#")
            .c-button__label Primary button (anchor)
        a.c-button.c-button--default.c-button--icon(href="#")
            +icon('add')
        a.c-button.c-button--default(href="#")
            +icon('add')
            .c-button__label Label (anchor)
        a.c-button.c-button--default(href="#")
            +icon('add')
            .c-button__label Label (anchor)
            +icon('arrows/caret-down')
        a.c-button.c-button--default(href="#")
            .c-button__label Label (anchor)
            +icon('arrows/caret-down')
