.custom-controls-stacked
    .custom-control.custom-radio
        input#customRadio1.custom-control-input(type='radio', name='customRadio' checked)
        label.custom-control-label(for='customRadio1') Radio option 1
    .custom-control.custom-radio
        input#customRadio2.custom-control-input(type='radio', name='customRadio')
        label.custom-control-label(for='customRadio2') Radio option 2
