.custom-controls-stacked
    label.custom-control.custom-radio
        input.custom-control-input(name="radio" type="radio" checked)
        span.custom-control-indicator
        span.custom-control-description Radio option 1
    label.custom-control.custom-radio
        input.custom-control-input(name="radio" type="radio")
        span.custom-control-indicator
        span.custom-control-description Radio option 2
