.custom-controls-stacked
    label.custom-control.custom-checkbox
        input.custom-control-input(name="checkbox" type="checkbox" checked)
        span.custom-control-indicator
        span.custom-control-description Checkbox option 1
    label.custom-control.custom-checkbox
        input.custom-control-input(name="checkbox" type="checkbox" checked)
        span.custom-control-indicator
        span.custom-control-description Checkbox option 2
    label.custom-control.custom-checkbox
        input.custom-control-input(name="checkbox" type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Checkbox option 3
