.custom-controls-stacked
    .custom-control.custom-checkbox
        input.custom-control-input#customCheck1(type='checkbox' checked)
        label.custom-control-label(for='customCheck1') Custom checkbox 1
    .custom-control.custom-checkbox
        input.custom-control-input#customCheck2(type='checkbox')
        label.custom-control-label(for='customCheck2') Custom checkbox 2
    .custom-control.custom-checkbox
        input.custom-control-input#customCheck3(type='checkbox')
        label.custom-control-label(for='customCheck3') Custom checkbox 3
