ul.mdc-list.mdc-list--two-line.mdc-list--avatar-list.demo-list.demo-list--with-avatars(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        span.mdc-list-item__graphic(role='presentation')
            i.material-icons(aria-hidden='true')
                | folder
        span.mdc-list-item__text
            | Photos
            span.mdc-list-item__secondary-text Jan 9, 2014
        a.mdc-list-item__meta.material-icons(href='#', aria-label='View more information', title='More info', onclick='event.preventDefault();')
            | info
    li.mdc-list-item
        span.mdc-list-item__graphic(role='presentation')
            i.material-icons(aria-hidden='true')
                | folder
        span.mdc-list-item__text
            | Recipes
            span.mdc-list-item__secondary-text Jan 17, 2014
        a.mdc-list-item__meta.material-icons(href='#', aria-label='View more information', title='More info', onclick='event.preventDefault();')
            | info
    li.mdc-list-item
        span.mdc-list-item__graphic(role='presentation')
            i.material-icons(aria-hidden='true')
                | folder
        span.mdc-list-item__text
            | Work
            span.mdc-list-item__secondary-text Jan 28, 2014
        a.mdc-list-item__meta.material-icons(href='#', aria-label='View more information', title='More info', onclick='event.preventDefault();')
            | info
