ul.mdc-list.mdc-list--avatar-list.demo-list.demo-list--with-avatars.demo-list--icon-placeholders(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        span.mdc-list-item__graphic
        | Single-line item
        span.mdc-list-item__meta $10.00
    li.mdc-list-item
        span.mdc-list-item__graphic
        | Single-line item
        span.mdc-list-item__meta $20.00
    li.mdc-list-item
        span.mdc-list-item__graphic
        | Single-line item
        span.mdc-list-item__meta $30.00
