ul.mdc-list.mdc-list--two-line.demo-list(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        span.mdc-list-item__text
            | Two-line item
            span.mdc-list-item__secondary-text Secondary text
    li.mdc-list-item
        span.mdc-list-item__text
            | Two-line item
            span.mdc-list-item__secondary-text Secondary text
    li.mdc-list-item
        span.mdc-list-item__text
            | Two-line item
            span.mdc-list-item__secondary-text Secondary text
