table.min-w-full.divide-y.divide-gray-200
  thead.bg-gray-50
    tr
      th.t-table-heading(scope='col') Table heading
      th.t-table-heading(scope='col') Table heading
  tbody
    tr.bg-white
      td.t-table-heading-in-body Heading in body
      td.t-table-cell Value
    tr.bg-gray-50
      td.t-table-heading-in-body Heading in body
      td.t-table-cell Value
