.form-group
    label.col-form-label Label
    input.form-control(type="text")

.form-group
    label.col-form-label Label
    input.form-control(type="text")

.form-group
    label.col-form-label Label
    select.custom-select.w-100
        option Option 1
        option Option 2
        option Option 3
