.row
    .col-sm-6
        .form-group
            label.col-form-label Label value
            input.form-control(type="text")
    .col-sm-6
        .form-group
            label.col-form-label Label value
            input.form-control(type="text")
.row
    .col-sm-6
        .form-group
            label.col-form-label Select
            select.custom-select.w-100
                option Option
                option Option
    .col-sm-6
        .form-group
            label.col-form-label Radio
            .form-group
                .custom-controls-stacked
                    .custom-control.custom-radio
                        input#customRadio1.custom-control-input(type='radio', name='customRadio' checked)
                        label.custom-control-label(for='customRadio1') Radio option 1
                    .custom-control.custom-radio
                        input#customRadio2.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio2') Radio option 2
                