.row
    .col-sm-8
        .form-group
            label.col-form-label Label value
            input.form-control(type="text")
    .col-sm-8
        .form-group
            label.col-form-label Label value
            input.form-control(type="text")
.row
    .col-sm-8
        .form-group
            label.col-form-label Select
            select.custom-select.w-100
                option Option
                option Option
    .col-sm-8
        .form-group
            label.col-form-label Radio
            .form-group
                label.custom-control.custom-radio
                    input.custom-control-input(name="radio" type="radio" checked)
                    span.custom-control-indicator
                    span.custom-control-description Radio option 1
                label.custom-control.custom-radio
                    input.custom-control-input(name="radio" type="radio")
                    span.custom-control-indicator
                    span.custom-control-description Radio option 2