.form-row.pb-2
    label.col-sm-6.col-form-label Label
    .col-sm-10
        input.form-control(type='text')
.form-row.pb-2
    label.col-sm-6.col-form-label Label
    .col-sm-10
        input.form-control(type='text')
.form-row.pb-2
    label.col-sm-6.col-form-label Label
    .col-sm-10
        select.custom-select
            option Item A
            option Item B
            option Item C
