#discrete-mdc-slider.mdc-slider.mdc-slider--discrete(tabindex='0', role='slider', aria-valuemin='0', aria-valuemax='50', aria-valuenow='20', aria-label='Select Value')
    .mdc-slider__track-container
        .mdc-slider__track
    .mdc-slider__thumb-container
        .mdc-slider__pin
            span.mdc-slider__pin-value-marker 20
        svg.mdc-slider__thumb(width='21', height='21')
            circle(cx='10.5', cy='10.5', r='7.875')
        .mdc-slider__focus-ring
