p
    | Tight pants next level
    a(href="#", data-toggle="tooltip", data-original-title="This is a tooltip with more info.") keffiyeh (hover over me)
    |  you probably haven't heard of them. Photo booth beard raw denim letterpress vegan messenger
    | bag stumptown.
