.c-table-view
    each val in ['Item', 'Item 2', 'Item 3']
        a.c-table-view__item.c-table-view__item--type-link(href="#")
            .c-table-view__item__left-accessory
                h3.c-table-view__item__heading #{val}
            .c-table-view__item__right-accessory
                .u-opacity-50
                    +icon('arrows/chevron-right')