.c-quote
    blockquote.c-quote__text Nostrud dolor cupidatat duis dolore sint tempor aliquip aliquip esse nisi. Non consequat eiusmod qui laboris laborum officia amet voluptate sunt in. Id proident incididunt commodo minim sit fugiat esse irure in eu deserunt.
    cite.c-quote__author
        img.c-quote__avatar(src='http://placehold.it/40x40')
        span Lawrence Hicks