/* ==========================================================================
  c-brand
 ========================================================================== */

.c-brand {
  padding: 0;
  margin-right: .8rem;
  display: block;
  height: 3.6rem;
}

.c-brand-mono {
  text-align: center;
  margin: 0 auto;
  padding: 6.4rem 0;
}