/* ==========================================================================
  o-container
   ========================================================================== */

.o-container {
  margin: 0 auto;
  max-width: 105rem;
  width: calc(100% - 6.4rem);
  }

.o-container--small {
  margin: 0 auto;
  max-width: 62rem;
  width: calc(100% - 6.4rem);
}


/* ==========================================================================
  o-container-vertical
   ========================================================================== */

.o-container-vertical {
   padding: 3.6rem 0;
}