/* ==========================================================================
  u-spacer
 ========================================================================== */

.u-spacer {
  margin: 1.6rem;
}

.u-spacer-left {
  margin-left: 1.6rem;
}

.u-spacer-right {
  margin-right: 1.6rem;
}

.u-spacer-top {
  margin-top: 1.6rem;
}

.u-spacer-bottom {
  margin-bottom: 1.6rem;
}