extends /templates/_layouts/default

block content

    main.c-main
        section.o-container-vertical
            .o-container
                .c-blog
                    h2.c-h2 On the blog
                    .c-blog-overview
                        a.c-blog-preview(href="../templates/blog-single-post.html")
                            article
                                .o-flex.o-flex--justify-between
                                    .u-text-uppercase.u-text-primary Johan Ronsse
                                    .u-text-uppercase.u-text-secondary July 27, 2019
                                .c-blog__content
                                    .c-content
                                        h4 Time for a new quality CSS framework
                                        p
                                            | There are two main schools of thought in CSS frameworks. There is the old guard (Foundation..
                        a.c-blog-preview(href="../templates/blog-single-post.html")
                            article
                                .o-flex.o-flex--justify-between
                                    .u-text-uppercase.u-text-primary Johan Ronsse
                                    .u-text-uppercase.u-text-secondary July 27, 2019
                                .c-blog__content
                                    .c-content
                                        h4 Time for a new quality CSS framework
                                        p
                                            | There are two main schools of thought in CSS frameworks. There is the old guard (Foundation..

