.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="textFieldId") Label
        .o-form-group__controls
            input.c-input(type="text" value="Default Input" id="textFieldId")
    .o-form-group
        label.o-form-group__label(for="textFieldId") Label
        .o-form-group__controls
            input.c-input(type="text" disabled value="Default Input" id="textFieldId")