.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="textareaId") Label
        .o-form-group__controls
            textarea.c-input(rows="5" id="textareaId") 
    .o-form-group
        label.o-form-group__label(for="textareaId2") Label
        .o-form-group__controls
            textarea.c-input(rows="5" disabled id="textareaId2")
