.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="selectId") Label
        .o-form-group__controls
            .c-select-holder
                select.c-select(id="selectId")
                    option Option A
                    option Option B
                    option Option C
