.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-checkbox-group.c-checkbox-group--inline
                .c-checkbox
                    label
                        input(type="checkbox")
                        | Inline Value 1
                .c-checkbox
                    label
                        input(type="checkbox")
                        | Inline Value 2
                .c-checkbox
                    label
                        input(type="checkbox" checked)
                        | Inline Value 3
