.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-checkbox-group
                .c-checkbox
                    label
                        input(type="checkbox")
                        | Value 1
                .c-checkbox
                    label
                        input(type="checkbox")
                        | Value 2
                    .c-checkbox-subgroup
                        .c-checkbox
                            label
                                input(type="checkbox", checked)
                                | Subvalue 1
                        .c-checkbox
                            label
                                input(type="checkbox", checked)
                                | Subvalue 2
                .c-checkbox
                    label
                        input(type="checkbox", checked)
                        | Value 3
