.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-radio-group.c-radio-group--inline
                .c-radio
                    label
                        input(type="radio" name="radio12")
                        | Inline Value 1
                .c-radio
                    label
                        input(type="radio" name="radio12")
                        | Inline Value 2
                .c-radio
                    label
                        input(type="radio" name="radio12" checked)
                        | Inline Value 3
