.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Bijlage
        button.c-button.c-button--default.c-button--file
            .c-button__content
                .c-button__label Kies bestand...
                input(type="file")