.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Message
        .o-form-group__controls
            .c-wysiwyg
                .c-wysiwyg-toolbar
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/bold')
                            .u-sr-accessible Bold
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/italic')
                            .u-sr-accessible Italic
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/align-left')
                            .u-sr-accessible Tekst links uitlijnen
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/align-center')
                            .u-sr-accessible Tekst midden uitlijnen
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/align-right')
                            .u-sr-accessible Tekst rechts uitlijnen
                    button.c-button.c-button--small.c-button--borderless.c-button--icon
                        .c-button__content
                            +icon('wysiwyg/align-justify')
                            .u-sr-accessible Tekst uitlijnen

                textarea.c-input.c-input--h-large
                    | I am content
