// Div just for demonstration purposes
div(style="width: 240px;")
    .o-form-group-layout.o-form-group-layout--standard
        .o-form-group
            label.o-form-group__label Time
            .o-form-group__controls
                .o-flex.o-flex--spaced.o-flex--vertical-center
                    .c-input-with-icon
                        input.c-input(type="text" value="12")
                        +icon('clock')
                    div :
                    input.c-input(type="text" value="05")
