.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="nameId") Tags
        .o-form-group__controls
            input.c-input(name='hashtags' type='tags' value="Tag 1, Tag 2" pattern='^,')
