.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-toggle
                input(type="checkbox" disabled)
                .c-toggle__back
                .c-toggle__knob

    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-toggle
                input(type="checkbox")
                .c-toggle__back
                .c-toggle__knob

    .o-form-group
        label.o-form-group__label Value
        .o-form-group__controls
            .c-toggle
                input(type="checkbox" checked)
                .c-toggle__back
                .c-toggle__knob
