nav.c-tabs
    a.c-tabs__item(href="#") Item
    a.c-tabs__item.c-tabs__item--active(href="#") Item
    a.c-tabs__item(href="#") Item
    a.c-tabs__item(href="#") Item
    a.c-tabs__item(href="#") Item
