.grid(data-tabs="" data-tabs-responsive-label="Navigatie")
    .col--1-1
        .tabs__wrapper
            ul.tabs(data-tabs-list="")
                li.tab
                    a#tab-2-nummer-1.tab__link(href="#" data-tab="") Trein
                li.tab
                    a#tab-2-nummer-2.tab__link(href="#" data-tab="") Metro, tram en bus
                li.tab
                    a#tab-2-nummer-3.tab__link(href="#" data-tab="") Fiets
    section.col--1-1.tab__pane(data-tab-pane="")
        h1.h3 Trein
        .typography
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos suscipit nam sequi pariatur soluta. Pariatur enim quo consectetur earum hic dolore ad sit, tempore fuga libero quos aspernatur, minus aperiam temporibus! Blanditiis laudantium eveniet ea repellat et commodi minima voluptatibus rem, tempore! Numquam ut explicabo, sequi quae minima consequuntur ea eligendi voluptatibus. Libero exercitationem odio quam laborum vel error, aperiam, eligendi illo deleniti amet cum praesentium sapiente perferendis nihil possimus laboriosam consequatur blanditiis. Cumque sequi maiores voluptatibus impedit assumenda quo, dolorum sed eos vitae provident neque error id suscipit facilis ipsa quasi ut soluta laudantium quam beatae. Quam, deleniti, possimus.
    section.col--1-1.tab__pane(data-tab-pane="")
        h1.h3 Metro, tram en bus
        .typography
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, dolor molestias mollitia. Nesciunt nostrum, cumque libero aspernatur, deleniti ad quae culpa, sunt optio placeat vitae ipsum minus, quis reiciendis? Itaque aspernatur, voluptate natus, asperiores eaque illo quas excepturi at quo tempora repellendus, accusantium distinctio corporis eligendi. Illo porro deserunt eius reiciendis iusto laudantium ipsam quis, hic fuga numquam commodi nobis, assumenda praesentium, esse ullam saepe repellendus aperiam. Ullam non aspernatur earum rem corporis porro error nulla cum perspiciatis accusantium hic sequi sed tenetur repellat fugiat ab repellendus laudantium sapiente aut omnis inventore vel explicabo, alias incidunt. Debitis reiciendis architecto soluta.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt commodi facere dolorem corrupti ad ea unde ipsa ut blanditiis repellendus officiis, numquam odio voluptatibus asperiores laborum iure aliquid nihil quos reprehenderit pariatur. Libero perspiciatis, saepe voluptas minus pariatur? Nostrum nulla, similique exercitationem placeat ipsa, suscipit aliquid fugit cum necessitatibus quam modi perspiciatis. Iure, quod culpa aut beatae tempore delectus atque excepturi inventore placeat nostrum unde ab omnis illum iste, distinctio esse temporibus amet fugiat tempora aliquid eius. Maiores quo iure officiis sequi animi aspernatur ea repellat ullam voluptate at corporis dolores, accusantium fugiat obcaecati id dignissimos deserunt fuga aperiam.
    section.col--1-1.tab__pane(data-tab-pane="")
        h1.h3 Fiets
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta suscipit exercitationem, eligendi quia eum doloribus ab sint consequatur amet nesciunt impedit perferendis iure aliquam odit nihil error illo dolore eaque, eius quam officiis ipsa nobis, quaerat! Praesentium fuga, reprehenderit voluptatem fugit quae. Earum autem, accusantium eveniet rem voluptates tenetur atque facere veniam, ipsum odio totam quo distinctio aut inventore sequi reprehenderit natus dolores mollitia! Molestias fuga illo laboriosam vero aspernatur fugit animi sint nisi, tempore deleniti quisquam, impedit, ab voluptates iure odit sapiente dicta! Officiis dolorem perspiciatis ut consequatur! Dolores et a esse aspernatur ipsum necessitatibus, eligendi cupiditate iusto, error omnis impedit illum unde quo repellat. Dolores quidem, recusandae aspernatur fugiat vitae, nihil esse voluptates, molestiae non, id quos quam facere. Ratione esse facere natus sequi harum fuga non sed deserunt minus enim, nulla voluptatum fugit animi optio cupiditate reiciendis officia perspiciatis sint corporis necessitatibus aliquam repellendus minima distinctio recusandae! Corrupti possimus dolorum nulla ad nobis eius ducimus dolor molestias repellendus repudiandae. Quo animi officiis architecto illum totam at aliquid commodi nihil, veritatis tempora aut quod voluptates dolore maxime minus, eius natus tempore in nesciunt laboriosam atque sint, deleniti! Perspiciatis earum minima reprehenderit facilis sunt dolor repudiandae distinctio alias dolorum eum harum mollitia recusandae autem quo, nemo laboriosam fugit, nulla vel delectus, vero assumenda ratione. Ab fugiat saepe praesentium tempora aliquam doloremque cupiditate rem amet alias quaerat cum aliquid odio, quam, temporibus quis accusamus beatae error adipisci minus optio quos ut pariatur. In eum, magnam cum. Culpa earum commodi dicta esse minima atque, asperiores rem mollitia tenetur eum dolorum ex cumque repudiandae, sapiente officiis! Est aperiam odio laboriosam ab commodi hic laborum accusantium, voluptatem nihil qui ratione earum possimus ea debitis, nisi modi recusandae dolorum animi nostrum eos voluptatibus labore a beatae? Optio, amet quo odio. Repudiandae quae quia, rerum.
