/* This is a test if imports work */
@import "./component/test.css";

html, body {
  margin: 0;
  padding: 0;
}

/* This is a test if vendor prefixes work */
.x-button {
  appearance: none;
}

/* Add your custom HTML/CSS here... */