.mdc-menu.mdc-menu--open
    ul.mdc-menu__items.mdc-list
        li.mdc-list-item(role='menuitem') Back
        li.mdc-list-item(role='menuitem') Forward
        li.mdc-list-item(role='menuitem') Reload
        li.mdc-list-divider(role='separator')
        li.mdc-list-item(role='menuitem') Help &amp; Feedback
        li.mdc-list-item(role='menuitem') Settings
