.dropdown
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | Dropdown button
    .dropdown-menu
        a.dropdown-item(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
