.dropdown
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | Dropdown button
    .dropdown-menu
        a.dropdown-item(href="#") Item 1
        a.dropdown-item(href="#") Item 2
        .dropdown-divider
        a.dropdown-item(href="#") Item 3
        a.dropdown-item(href="#") Item 4
