.c-card
    .c-card__header
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    h2.c-toolbar__title I am a toolbar title
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--default
                            .c-button__content
                                .c-button__label I am an action
                        button.c-button.c-button--primary
                            .c-button__content
                                .c-button__label Primary action

    .c-card__body
        p Card content
