.c-card
    .c-card__header
        h3.c-card__title Title of the card
    table.c-table.c-table--styled
        tbody
            tr
                td Data
                td Data
                td Data
            tr
                td Data
                td Data
                td Data
            tr
                td Data
                td Data
                td Data