.progress-bar.progress-bar--numeric
    .progress-bar__step
        a.progress-bar__bullet(href="#" data-toggle="tooltip" data-content="Algemene gegevens" data-placement="top")
    .progress-bar__step.progress-bar__step--active
        .progress-bar__bullet.progress-bar__bullet--current
            .tooltip.tooltip--top.tooltip--static
                .tooltip__content Contactgegevens
                .tooltip__arrow
    .progress-bar__step
        a.progress-bar__bullet(href="#" data-toggle="tooltip" data-content="Bedrijfsgegevens" data-placement="top")
    .progress-bar__step
        a.progress-bar__bullet(href="#" data-toggle="tooltip" data-content="Factuurgegevens" data-placement="top")
    .progress-bar__step
        a.progress-bar__bullet(href="#" data-toggle="tooltip" data-content="Bevestigen" data-placement="top")
