script.
  (function() {

    window.onload = function() {
      var wizard = document.getElementById('test-wizard');
      vl.wizard.dress(wizard, {
        callbackFn: customCallbackFunction
      });

      function customCallbackFunction(curStep, toStep, returnFn) {
        // Current step is the step you're on at this point
        // To step is the step the user wants to navigate to

        // return true if the carousel can proceed to the indicated step
        returnFn(true);
      }
    };
  })();

section#test-wizard.wizard(data-wizard="")
    header.wizard__heading
        hgroup
            h1.wizard__title Wizard titel
            h2.wizard__subtitle "You're a wizard, Harry!"
    .progress-bar(role="progressbar")
        .progress-bar__step.progress-bar__step--active
            a.progress-bar__bullet(href="#" data-toggle="popover" aria-label="Stap 1: Gegevens" data-content="Gegevens" data-placement="top" data-wizard-step="")
        .progress-bar__step
            a.progress-bar__bullet(href="#" data-toggle="popover" aria-label="Stap 2: Meer gegevens" data-content="Meer gegevens" data-placement="top" data-wizard-step="")
        .progress-bar__step
            a.progress-bar__bullet(href="#" data-toggle="popover" aria-label="Stap 3: Nog meer gegevens" data-content="Nog meer gegevens" data-placement="top" data-wizard-step="")
        .progress-bar__step
            a.progress-bar__bullet(href="#" data-toggle="popover" aria-label="Stap 4: En nog meer gegevens" data-content="En nog meer ggevens" data-placement="top" data-wizard-step="")
    .wizard__panes.u-spacer
        .wizard__pane
            h3.h3 Uw gegevens
            .form__row
                .form__label
                    label.label(for="") Naam
                input.input-field.input-field--block(type="text")
            .form__row
                .form__label
                    label.label(for="") Adres
                input.input-field.input-field--block(type="text")
            .form__row
                .form__label
                    label.label(for="") Telefoon
                input.input-field.input-field--block(type="text")
            .wizard__cta-wrapper
                button.button.wizard__cta(type="button" data-wizard-next="") Volgende
        .wizard__pane
            h3.h3 Meer gegevens
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius velit tempore officia, doloremque qui voluptatibus dolor enim non, minima saepe reiciendis ex ratione natus accusantium nesciunt neque, cum veniam voluptatum deserunt ipsam.
                | Est, nesciunt tenetur sit asperiores temporibus, deleniti, molestias distinctio vel suscipit maiores illum expedita at. Sapiente quam, suscipit. Nam natus nostrum repellat debitis rerum reprehenderit error odio quam asperiores numquam
                | eaque accusamus, quaerat, obcaecati, harum doloribus quasi dolores molestiae explicabo earum ad quo facilis ab. Vero natus, eveniet. Quas ad tempora, quibusdam quisquam! Error iusto veritatis quod perspiciatis quisquam, porro deleniti,
                | voluptatem culpa cum esse nobis mollitia. Autem.
            .wizard__cta-wrapper
                button.button.wizard__cta(type="button" data-wizard-next="") Volgende
                br
                br
                a.link.link--icon.link--icon--caret.link--icon--caret--back.wizard__cta(href="" data-wizard-prev="") vorige
        .wizard__pane
            h3.h3 Nog meer gegevens
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis, incidunt, mollitia rem officia facere non tempora architecto rerum sapiente ratione, in magnam iste perspiciatis officiis assumenda neque ullam. Quos quasi
                | dolore quibusdam qui enim, reprehenderit quo accusantium, asperiores ad neque magnam ab consequatur. Nemo, eos ut itaque iste quod culpa earum ab ipsa magni hic sunt. Magni placeat, fuga quas, repellendus repudiandae vel totam blanditiis
                | cupiditate dolore ea debitis dolor. Facilis explicabo enim nobis quod perferendis reiciendis cupiditate adipisci. Odio aut, incidunt eligendi voluptas necessitatibus cumque quae maiores cum ut facere excepturi asperiores debitis iure
                | maxime culpa fugiat corrupti!
            .wizard__cta-wrapper
                button.button.wizard__cta(type="button" data-wizard-next="") Volgende
                br
                br
                a.link.link--icon.link--icon--caret.link--icon--caret--back.wizard__cta(href="" data-wizard-prev="") vorige
        .wizard__pane
            h3.h3 En nog meer gegevens
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis, incidunt, mollitia rem officia facere non tempora architecto rerum sapiente ratione, in magnam iste perspiciatis officiis assumenda neque ullam. Quos quasi
                | dolore quibusdam qui enim, reprehenderit quo accusantium, asperiores ad neque magnam ab consequatur. Nemo, eos ut itaque iste quod culpa earum ab ipsa magni hic sunt. Magni placeat, fuga quas, repellendus repudiandae vel totam blanditiis
                | cupiditate dolore ea debitis dolor. Facilis explicabo enim nobis quod perferendis reiciendis cupiditate adipisci. Odio aut, incidunt eligendi voluptas necessitatibus cumque quae maiores cum ut facere excepturi asperiores debitis iure
                | maxime culpa fugiat corrupti!
            .wizard__cta-wrapper
                a.button.wizard__cta(href="") Voltooien
                br
                a.link.link--icon.link--icon--caret.link--icon--caret--back.wizard__cta(href="" data-wizard-prev="") vorige
