nav.col--1-1(role="navigation")
    .drilldown(data-drilldown="" data-search="false")
        .drilldown__wrapper
            // START column 1
            .drilldown__column(data-drilldown-depth="1")
                .drilldown__list-wrapper
                    ul.drilldown__list
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url" data-drilldown-cta="") * Vlaamse overheid
                            // START subcolumn 2
                            section.drilldown__subcolumn(data-drilldown-depth="2")
                                .drilldown__subcolumn__header
                                    h1.drilldown__subcolumn__title
                                        a.drilldown__subcolumn__title__cta(href="#" itemprop="url")
                                            span Vlaamse overheid
                                .drilldown__list-wrapper
                                    ul.drilldown__list
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Kanselarij en Bestuur
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Financiën en Begroting
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url" data-drilldown-cta="") * Beleidsdomein internationaal Vlaanderen
                                            // START subcolumn 3
                                            section.drilldown__subcolumn(data-drilldown-depth="3")
                                                .drilldown__subcolumn__header
                                                    h1.drilldown__subcolumn__title
                                                        a.drilldown__subcolumn__title__cta(href="#" itemprop="url")
                                                            span Beleidsdomein internationaal Vlaanderen
                                                .drilldown__list-wrapper
                                                    ul.drilldown__list
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url" data-drilldown-cta="") * Beleidsdomein Kanselarij en Bestuur
                                                            // START subcolumn 4
                                                            section.drilldown__subcolumn(data-drilldown-depth="4")
                                                                .drilldown__subcolumn__header
                                                                    h1.drilldown__subcolumn__title
                                                                        a.drilldown__subcolumn__title__cta(href="#" itemprop="url")
                                                                            span Beleidsdomein Kanselarij en Bestuur
                                                                .drilldown__list-wrapper
                                                                    ul.drilldown__list
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url" data-drilldown-cta="") * Beleidsdomein Kanselarij en Bestuur
                                                                            // START subcolumn 5
                                                                            section.drilldown__subcolumn(data-drilldown-depth="5")
                                                                                .drilldown__subcolumn__header
                                                                                    h1.drilldown__subcolumn__title
                                                                                        a.drilldown__subcolumn__title__cta(href="#" itemprop="url")
                                                                                            span Beleidsdomein Kanselarij en Bestuur
                                                                                .drilldown__list-wrapper
                                                                                    ul.drilldown__list
                                                                                        li.drilldown__item
                                                                                            a.drilldown__item__cta(href="#" itemprop="url" data-drilldown-cta="") * Beleidsdomein Kanselarij en Bestuur
                                                                                            // START subcolumn 4
                                                                                            section.drilldown__subcolumn(data-drilldown-depth="6")
                                                                                                .drilldown__subcolumn__header
                                                                                                    h1.drilldown__subcolumn__title
                                                                                                        a.drilldown__subcolumn__title__cta(href="#" itemprop="url")
                                                                                                            span Beleidsdomein Kanselarij en Bestuur
                                                                                                .drilldown__list-wrapper
                                                                                                    ul.drilldown__list
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Kanselarij en Bestuur
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Financiën en Begroting
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein internationaal Vlaanderen
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Werk en Sociale Economie
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Landbouw en Visserij
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Leefmilieu, Natuur en Energie
                                                                                                        li.drilldown__item
                                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                                                            // END subcolumn 4
                                                                                        li.drilldown__item
                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Financiën en Begroting
                                                                                        li.drilldown__item
                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein internationaal Vlaanderen
                                                                                        li.drilldown__item
                                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                                            // END subcolumn 5
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Financiën en Begroting
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein internationaal Vlaanderen
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Onderwijs en Vorming
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Welzijn, Volksgezondheid en Gezin
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Cultuur, Jeugd, Sport en Media
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Werk en Sociale Economie
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Landbouw en Visserij
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Leefmilieu, Natuur en Energie
                                                                        li.drilldown__item
                                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                            // END subcolumn 4
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Financiën en Begroting
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein internationaal Vlaanderen
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Onderwijs en Vorming
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Welzijn, Volksgezondheid en Gezin
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Cultuur, Jeugd, Sport en Media
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Werk en Sociale Economie
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Landbouw en Visserij
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Leefmilieu, Natuur en Energie
                                                        li.drilldown__item
                                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                            // END subcolumn 3
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Onderwijs en Vorming
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Welzijn, Volksgezondheid en Gezin
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Cultuur, Jeugd, Sport en Media
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Werk en Sociale Economie
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Landbouw en Visserij
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Leefmilieu, Natuur en Energie
                                        li.drilldown__item
                                            a.drilldown__item__cta(href="#" itemprop="url") Beleidsdomein Economie, Wetenschap en Innovatie
                            // END subcolumn 4
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url") Vlaamse milieumaatschappij
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url") Vlaamse watermaatschappij
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url") Wegen en verkeer
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url") Agentschap Ondernemen
                        li.drilldown__item
                            a.drilldown__item__cta(href="#" itemprop="url") Facilitair bedrijf
