extends ../_layouts/master

block body

    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6

                .mdc-card(style="padding: 40px;")

                    h2.mdc-typography--headline5 Form name
                    
                    .mdc-text-field.mdc-text-field--outlined(data-mdc-auto-init="MDCTextField")
                        input#tf-outlined1.mdc-text-field__input(type='text')
                        label.mdc-floating-label(for='tf-outlined1') Your Name
                        .mdc-notched-outline
                            svg
                                path.mdc-notched-outline__path
                        .mdc-notched-outline__idle

                    .mdc-text-field.mdc-text-field--outlined(data-mdc-auto-init="MDCTextField")
                        input#tf-outlined2.mdc-text-field__input(type='text')
                        label.mdc-floating-label(for='tf-outlined2') Your E-mail
                        .mdc-notched-outline
                            svg
                                path.mdc-notched-outline__path
                        .mdc-notched-outline__idle

                    br

                    .mdc-select.mdc-select--outlined
                        select.mdc-select__native-control
                            option(value='', disabled='', selected='')
                            option Option
                            option Option
                            option Option
                            option Option
                            option Option
                        label.mdc-floating-label Options
                        .mdc-notched-outline
                            svg
                                path.mdc-notched-outline__path
                        .mdc-notched-outline__idle

                    br
                    br

                    .mdc-text-field.mdc-text-field--textarea
                        textarea.mdc-text-field__input(rows="8" cols="40")
                        label.mdc-floating-label Enter your message

                    .mdc-form-field
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="checkbox1")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                        label(for="checkbox1") I would like to subscribe to the newsletter

                    // What is the class to put buttons next to each other?
                    style.
                        .mdc-toolbar-demo {
                            display: flex;
                        }
                        .mdc-toolbar-demo button {
                            margin-right: 10px;
                        }
                    .mdc-toolbar-demo
                        button.mdc-button.mdc-button--raised(data-mdc-auto-init="MDCRipple") Cancel
                        button.mdc-button.mdc-button--raised(data-mdc-auto-init="MDCRipple") Save
