extends /templates/_layouts/master

block append headerStyles
    style.
        .br-image-example {
            max-width: 500px;
            margin: 40px auto;
        }

block body

    .br-image-example

        h1 Image example

        p This example shows where to put assets (<code>content/images</code>) and how to handle paths.

        img(src="/images/avatar.svg" width="200")
