extends ../_layouts/master

mixin checkbox
    .mdc-checkbox(data-mdc-auto-init='MDCCheckbox')
        input.mdc-checkbox__native-control(type='checkbox', value='false')
        .mdc-checkbox__background
            svg.mdc-checkbox__checkmark(viewbox='0 0 24 24')
                path.mdc-checkbox__checkmark-path(fill='none', stroke='white', d='M1.73,12.91 8.1,19.28 22.79,4.59')
            .mdc-checkbox__mixedmark

block body

    header.mdc-top-app-bar
        .mdc-top-app-bar__row
            section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                a.material-icons.mdc-top-app-bar__navigation-icon(href='#') menu
                span.mdc-top-app-bar__title Movies

    if empty
        p There is no info yet.

    else
        
        // Ugly but what's a web dev to do if there are no framework-provided spacing utilities?
        br
        br
        br
        br
        .mdc-data-table.mdc-data-table--select-multiple
            table.mdc-data-table__content
                thead
                    tr.mdc-data-table__row
                        th.mdc-data-table__header.mdc-data-table__header--select
                            +checkbox
                        th.mdc-data-table__header Name
                        th.mdc-data-table__header Rating
                        th.mdc-data-table__header Director
                        th.mdc-data-table__header Release date
                tbody
                    each item in contentData.movies
                        tr.mdc-data-table__row
                            td.mdc-data-table__cell.mdc-data-table__cell--select
                                +checkbox
                            td.mdc-data-table__cell #{item.name}
                            td.mdc-data-table__cell #{item.rating}
                            td.mdc-data-table__cell #{item.director}
                            td.mdc-data-table__cell #{item.releaseDate}
