form.form(action='')
    // switch component
    .checkbox--switch__wrapper
        input#toggle-1.checkbox--switch(type='checkbox', name='toggle', value='')
        label.checkbox--switch__label(for='toggle-1')
        |  iOS toggle switch (Checkbox)
    // end component
    .u-spacer
    // switch component met value
    .checkbox--switch__wrapper
        input#toggle-2.checkbox--switch.checkbox--show-value(type='checkbox', name='toggle', value='')
        label.checkbox--switch__label(for='toggle-2')
        |  iOS toggle switch (Checkbox)
    // end component
