form.form(action='')
    // checkbox
    label.checkbox
        input.checkbox__toggle(type='checkbox', name='checkbox', checked='', value='1')
        span
        | Dit is de eerste checkbox
    // checkbox
    label.checkbox
        input.checkbox__toggle(type='checkbox', name='checkbox', value='2')
        span
        | Dit is de tweede checkbox
    // checkbox
    label.checkbox
        input.checkbox__toggle(type='checkbox', name='checkbox', value='3')
        span
        |  Dit is de derde checkbox
