form.form.col--4-6.col--1-1--s(action='')
  .form__group.form__group--mobile-full-width
     .double-input.js-double-input
        .double-input__top-labels
           .double-input__top-label(data-double-input-label='1')
              | Ik
           .double-input__top-label(data-double-input-label='2')
              | Mijn partner
        label.double-input__label(for='di-1') Lorem ipsum dolor sit amet.
        .double-input__inputs
           .double-input__input
              input#di-1.input-field.input-field--block(type='text' name='di-1' data-double-input-label-highlight='1' title='Lorem ipsum dolor sit amet. Ik')
           .double-input__input
              input#di-2.input-field.input-field--block(type='text' name='di-2' data-double-input-label-highlight='2' title='Lorem ipsum dolor sit amet. Mijn partner')
        label.double-input__label(for='di-3') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .double-input__inputs
           .double-input__input
              input#di-3.input-field.input-field--block(type='text' name='di-1' data-double-input-label-highlight='1' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ik')
           .double-input__input
              input#di-4.input-field.input-field--block(type='text' name='di-2' data-double-input-label-highlight='2' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mijn partner')
        label.double-input__label(for='di-3') Adipisicing elit.
        .double-input__inputs
           .double-input__input
              input#di-5.input-field.input-field--block(type='text' name='di-1' data-double-input-label-highlight='1' title='Adipisicing elit. ik')
           .double-input__input
              input#di-6.input-field.input-field--block(type='text' name='di-2' data-double-input-label-highlight='2' title='Adipisicing elit. Mijn partner')
// end component
