#carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='holder.js/800x400?auto=yes&bg=777&fg=555&text=First slide', alt='First slide')
        .carousel-item
            img.d-block.w-100(src='holder.js/800x400?auto=yes&bg=666&fg=444&text=Second slide', alt='Second slide')
        .carousel-item
            img.d-block.w-100(src='holder.js/800x400?auto=yes&bg=555&fg=333&text=Third slide', alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
