ul.mdc-list.demo-list(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        i.material-icons.mdc-list-item__graphic(aria-hidden='true')
            | network_wifi
        | Wi-Fi
    |
    li.mdc-list-item
        i.material-icons.mdc-list-item__graphic(aria-hidden='true')
            | bluetooth
        | Bluetooth
    |
    li.mdc-list-item
        i.material-icons.mdc-list-item__graphic(aria-hidden='true')
            | data_usage
        | Data Usage
