h3 Example - Avatar with Text
ul.mdc-list.mdc-list--avatar-list.demo-list.demo-list--with-avatars(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        img.mdc-list-item__graphic(src='https://randomuser.me/api/portraits/women/65.jpg', width='56', height='56', alt='Woman 1')
        | Yvonne Mccoy
    li.mdc-list-item
        img.mdc-list-item__graphic(src='https://randomuser.me/api/portraits/women/89.jpg', width='56', height='56', alt='Woman 2')
        | Joanne Horton
    li.mdc-list-item
        img.mdc-list-item__graphic(src='https://randomuser.me/api/portraits/women/6.jpg', width='56', height='56', alt='Woman 3')
        | Hannah Reyes
