ul.mdc-list.demo-list(aria-orientation='vertical')
    li.mdc-list-item(tabindex='0')
        | Single-line item
        span.mdc-list-item__meta $10.00
    li.mdc-list-item
        | Single-line item
        span.mdc-list-item__meta $20.00
    li.mdc-list-item
        | Single-line item
        span.mdc-list-item__meta $30.00
