table.table
    thead
        tr
            th Name(s)
            th Scope
            th Description
    tbody
        tr
            td Land plants, also known as Embryophyta or Metaphyta.
            td Plantae sensu strictissimo
            td
                | This group includes the liverworts, hornworts, mosses, and vascular plants, as well...
        tr
            td Green plants - also known as Viridiplantae, Viridiphyta or Chlorobionta
            td Plantae sensu stricto
            td
                | This group includes the land plants plus various groups of green algae, including stoneworts.
        tr
            td Archaeplastida, Plastida or Primoplantae
            td Plantae sensu lato
            td
                | This group comprises the green plants above plus Rhodophyta (red algae) and Glaucophyta...

