.mdc-text-field
    input#pw.mdc-text-field__input(required='', pattern='.{8,}', type='password', aria-controls='pw-validation-msg', aria-describedby='pw-validation-msg', autocomplete='current-password')
    label.mdc-floating-label(for='pw') Choose password
    .mdc-line-ripple
p#pw-validation-msg.mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.mdc-text-field-helper-text--validation-msg
    | Must be at least 8 characters long
