#demo-tf-box-wrapper
    #tf-box-example.mdc-text-field.mdc-text-field--box(data-demo-no-auto-js='')
        input#tf-box.mdc-text-field__input(type='text', aria-controls='box-name-validation-message', aria-describedby='box-name-validation-message')
        label.mdc-floating-label(for='tf-box') Your Name
        .mdc-line-ripple
    p#box-name-validation-message.mdc-text-field-helper-text(style='display: none;')
        | Helper Text (possibly validation message)
