#demo-tf-box-leading-wrapper
    #tf-box-leading-example.mdc-text-field.mdc-text-field--box.mdc-text-field--with-leading-icon(data-demo-no-auto-js='')
        i.material-icons.mdc-text-field__icon(tabindex='0', role='button') event
        input#tf-box-leading.mdc-text-field__input(type='text')
        label.mdc-floating-label(for='tf-box-leading') Your name
        .mdc-line-ripple
#demo-tf-box-trailing-wrapper
    #tf-box-trailing-example.mdc-text-field.mdc-text-field--box.mdc-text-field--with-trailing-icon(data-demo-no-auto-js='')
        input#tf-box-trailing.mdc-text-field__input(type='text')
        label.mdc-floating-label(for='tf-box-trailing') Your other name
        i.material-icons.mdc-text-field__icon(tabindex='0', role='button') delete
        .mdc-line-ripple
#demo-tf-outlined-leading-wrapper
    #tf-outlined-leading-example.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon(data-demo-no-auto-js='')
        i.material-icons.mdc-text-field__icon(tabindex='0', role='button') event
        input#tf-outlined-leading.mdc-text-field__input(type='text')
        label.mdc-floating-label(for='tf-outlined-leading') Your other name
        .mdc-notched-outline
            svg
                path.mdc-notched-outline__path
        .mdc-notched-outline__idle
#demo-tf-outlined-trailing-wrapper
    #tf-outlined-trailing-example.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-trailing-icon(data-demo-no-auto-js='')
        input#tf-outlined-trailing.mdc-text-field__input(type='text')
        label.mdc-floating-label(for='tf-outlined-trailing') Your other name
        i.material-icons.mdc-text-field__icon(tabindex='0', role='button') delete
        .mdc-notched-outline
            svg
                path.mdc-notched-outline__path
        .mdc-notched-outline__idle
