.o-form-group-layout.o-form-group-layout--standard
    .u-spacer-bottom
        .o-grid
            .o-grid-col-6
                .o-form-group
                    label.o-form-group__label(for="nameId") Name
                    .o-form-group__controls
                        input.c-input(type="email" value="John Doe" id="nameId")

                .o-form-group
                    label.o-form-group__label(for="emailId") Email address
                    .o-form-group__controls
                        input.c-input(type="email" value="user@name.com" id="emailId")

            .o-grid-col-6
                .o-form-group
                    label.o-form-group__label(for="passwordId") Password
                    .o-form-group__controls
                        input.c-input(type="password" value="password" id="passwordId")

                .o-form-group
                    label.o-form-group__label(for="selectId") Preference
                    .c-select-holder
                        select.c-select(id="selectId")
                            option Option A
                            option Option B
                            option Option C

    .c-toolbar
        .c-toolbar__right
            .c-toolbar__item
                button.c-button.c-button--borderless Cancel
                input.c-button.c-button--primary(type="submit" value="Save")