.o-form-group-layout.o-form-group-layout--inline

    .o-form-group
        label.o-form-group__label(for="emailId") Email address
        .o-form-group__controls
            input.c-input(type="email" value="user@name.com" id="emailId")

    .o-form-group
        label.o-form-group__label(for="passwordId") Password
        .o-form-group__controls
            input.c-input(type="password" value="password" id="passwordId")

    .o-form-group
        input.c-button.c-button--primary(type="submit" value="Save")
