.input-group.input-group-sm.mb-3
    .input-group-prepend
        span.input-group-text#inputGroup-sizing-sm Small
    input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')
.input-group.mb-3
    .input-group-prepend
        span.input-group-text#inputGroup-sizing-default Default
    input.form-control(type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
.input-group.input-group-lg
    .input-group-prepend
        span.input-group-text#inputGroup-sizing-lg Large
    input.form-control(type='text', aria-label='Large', aria-describedby='inputGroup-sizing-sm')
