.input-group.mb-3
    .input-group-prepend
        .input-group-text
            input(type='checkbox', aria-label='Checkbox for following text input')
    input.form-control(type='text', aria-label='Text input with checkbox')
.input-group
    .input-group-prepend
        .input-group-text
            input(type='radio', aria-label='Radio button for following text input')
    input.form-control(type='text', aria-label='Text input with radio button')
