#hero-js-select.mdc-select
    select#my-select.mdc-select__native-control
        option(value='grains', selected='')
            | Bread, Cereal, Rice, and Pasta
        option(value='vegetables', disabled='')
            | Vegetables
        option(value='fruit')
            | Fruit
        option(value='dairy')
            | Milk, Yogurt, and Cheese
        option(value='meat')
            | Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
        option(value='fats')
            | Fats, Oils, and Sweets
    label.mdc-floating-label.mdc-floating-label--float-above(for='my-select') Pick a Food Group
    .mdc-line-ripple
