#hero-js-select.mdc-select
    select#my-select.mdc-select__native-control
        option Option
        option Option
        option Option
        option Option
    label.mdc-floating-label.mdc-floating-label--float-above(for='my-select') Options
    .mdc-line-ripple
