section#box-demo-wrapper
    #box-js-select.mdc-select.mdc-select--box
        select#select-box.mdc-select__native-control
            option(value='', disabled='', selected='')
            option(value='fruit-roll-ups')
                | Fruit Roll Ups
            option(value='cotton-candy')
                | Candy (cotton)&lrm;
            option(value='vegetables', disabled='')
                | Vegetables
            option(value='noodles')
                | Noodles
        label.mdc-floating-label(for='select-box') Food Group
        .mdc-line-ripple
