#outline-js-select.mdc-select.mdc-select--outlined
    select#outlined-select.mdc-select__native-control
        option(value='', disabled='', selected='')
        option(value='grains')
            | Bread, Cereal, Rice, and Pasta
        option(value='vegetables', disabled='')
            | Vegetables
        option(value='fruit')
            | Fruit
        option(value='dairy')
            | Milk, Yogurt, and Cheese
        option(value='meat')
            | Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
        option(value='fats')
            | Fats, Oils, and Sweets
    label.mdc-floating-label(for='outlined-select') Food Group
    .mdc-notched-outline
        svg
            path.mdc-notched-outline__path
    .mdc-notched-outline__idle
