#js-pre-selected.mdc-select
    select#select-preselected.mdc-select__native-control
        option(value='fruit-roll-ups', selected='')
            | Fruit Roll Ups
        option(value='cotton-candy')
            | Candy (cotton)
        option(value='vegetables', disabled='')
            | Vegetables
        option(value='noodles')
            | Noodles
    label.mdc-floating-label.mdc-floating-label--float-above(for='select-preselected') Food Group
    .mdc-line-ripple
