#optgroup-js-select.mdc-select
    select#select-optgroups.mdc-select__native-control
        optgroup(label='Meats')
            option(value='steak') Steak
            option(value='hamburger') Hamburger
        optgroup(label='Vegetables')
            option(value='beet') Beet
            option(value='carrot') Carrot
    label.mdc-floating-label(for='select-optgroups') Choose Food
    .mdc-line-ripple
