section#demo-wrapper
    #js-select.mdc-select
        select#full-func-js-select.mdc-select__native-control
            option(value='', disabled='', selected='')
            option(value='grains')
                | Bread, Cereal, Rice, and Pasta
            option(value='vegetables', disabled='')
                | Vegetables
            option(value='fruit')
                | Fruit
            option(value='dairy')
                | Milk, Yogurt, and Cheese
            option(value='meat')
                | Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
            option(value='fats')
                | Fats, Oils, and Sweets
        label.mdc-floating-label(for='full-func-js-select') Food Group
        .mdc-line-ripple
p
    | Currently selected:
    span#currently-selected (none)
div
    input#rtl(type='checkbox')
    label(for='rtl') RTL
div
    input#alternate-colors(type='checkbox')
    label(for='alternate-colors') Alternate Colors
div
    input#disabled(type='checkbox')
    label(for='disabled') Disabled
.button-container
    button#set-selected-index-zero-button.mdc-button.mdc-button--raised
        | Set Selected Index (0)
.button-container
    button#set-value-meat-button.mdc-button.mdc-button--raised
        | Set Value to Meat
