.alert.alert-warning.alert-dismissible.fade.show(role='alert')
    strong Holy guacamole! 
    | You should check in on some of those fields below.
    button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
