.mdc-form-field
    .mdc-radio
        input#ex0-radio1.mdc-radio__native-control(type='radio', checked='', name='hero')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label(for='ex0-radio1') Radio 1
    .mdc-radio
        input#ex0-radio2.mdc-radio__native-control(type='radio', checked='', name='hero')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label(for='ex0-radio2') Radio 2
