.mdc-form-field
    .mdc-radio
        input.mdc-radio__native-control(type='radio', checked='', name='hero')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    .mdc-radio
        input.mdc-radio__native-control(type='radio', checked='', name='hero')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
