.mdc-form-field
    .mdc-radio.mdc-radio--disabled
        input#ex4a-radio1.mdc-radio__native-control(type='radio', checked='', disabled='', name='ex4a')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label#ex4a-radio1-label(for='ex4a-radio1') Disabled Radio 1
.mdc-form-field
    .mdc-radio.mdc-radio--disabled
        input#ex4a-radio2.mdc-radio__native-control(type='radio', disabled='', name='ex4a')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label#ex4a-radio2-label(for='ex4a-radio2') Disabled Radio 2
