.mdc-form-field
    .mdc-radio.demo-radio--custom
        input#ex0-custom-radio1.mdc-radio__native-control(type='radio', checked='', name='ex0-custom')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label#ex0-custom-radio1-label(for='ex0-custom-radio1') Custom Radio 1
.mdc-form-field
    .mdc-radio.demo-radio--custom
        input#ex0-custom-radio2.mdc-radio__native-control(type='radio', name='ex0-custom')
        .mdc-radio__background
            .mdc-radio__outer-circle
            .mdc-radio__inner-circle
    label#ex0-custom-radio2-label(for='ex0-custom-radio2') Custom Radio 2
