.mdc-text-field(style="width: 100%;")
    input#styleguideSearch.mdc-text-field__input(type='text')
    label.mdc-floating-label(for='my-text-field')=styleguideSearchPlaceholderString
    .mdc-line-ripple
