.c-alert
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-info')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, <a href="#">a link to another page</a>.
    +icon('close', 'o-svg-icon--subtle')
