.c-alert
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-warning')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    +icon('close', 'o-svg-icon--subtle')
