.c-alert
    .c-alert__body
        .u-spacer-right-s
            .c-spinner
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                | Loading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    +icon('close', 'o-svg-icon--subtle')
