.c-alert.c-alert--dark
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-info')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, <a href="#">a link to another page</a>.
    +icon('close', 'o-svg-icon--subtle')

br

.c-alert.c-alert--dark
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-warning')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    +icon('close', 'o-svg-icon--subtle')

br

.c-alert.c-alert--dark
    .c-alert__body
        .u-spacer-right-s
            +icon('multicolor/circle-check')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    +icon('close', 'o-svg-icon--subtle')

br

.c-alert.c-alert--dark
    .c-alert__body
        .u-spacer-right-s
            .c-spinner.c-spinner--white
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                .c-spinner__bar
                | Loading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    +icon('close', 'o-svg-icon--subtle')
