ul.mdc-image-list.mdc-image-list--masonry.mdc-image-list--with-text-protection(style='column-count: 5; column-gap: 16px; max-width: 1000px;')
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/1.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/2x3/1.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/4.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/5.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/2x3/5.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/6.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/2x3/2.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/8.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/11.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/13.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/14.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/2x3/6.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/15.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/2x3/7.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
    li.mdc-image-list__item(style='margin-bottom: 16px;')
        img.mdc-image-list__image(src='https://material-components-web.appspot.com/images/photos/3x2/16.jpg')
        .mdc-image-list__supporting
            .mdc-image-list__label Text label
