.card(style='width: 18rem;')
    img.card-img-top(src='holder.js/100px180/?text=Image cap' alt='Card image cap')
    .card-body
        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
