.card(style='width: 18rem;')
    ul.list-group.list-group-flush
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Vestibulum at eros
