.card
    h4.card-header Featured
    .card-body
        h5.card-title Special title treatment
        p.card-text With supporting text below as a natural lead-in to additional content.
        a.btn.btn-primary(href='#') Go somewhere
