.card.text-center
    .card-header
        ul.nav.nav-tabs.card-header-tabs
            li.nav-item
                a.nav-link.active(href='#') Active
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item
                a.nav-link.disabled(href='#') Disabled
    .card-body
        h5.card-title Special title treatment
        p.card-text With supporting text below as a natural lead-in to additional content.
        a.btn.btn-primary(href='#') Go somewhere
