.card-group
    .card
        img.card-img-top(src='holder.js/100px180/' alt='Card image cap')
        .card-body
            h5.card-title Card title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
                small.text-muted Last updated 3 mins ago
    .card
        img.card-img-top(src='holder.js/100px180/' alt='Card image cap')
        .card-body
            h5.card-title Card title
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            p.card-text
                small.text-muted Last updated 3 mins ago
    .card
        img.card-img-top(src='holder.js/100px180/' alt='Card image cap')
        .card-body
            h5.card-title Card title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            p.card-text
                small.text-muted Last updated 3 mins ago
