.card-columns
    .card
        img.card-img-top(src='holder.js/100px160/', alt='Card image cap')
        .card-body
            h5.card-title Card title that wraps to a new line
            p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    .card.p-3
        blockquote.blockquote.mb-0.card-body
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer.blockquote-footer
                small.text-muted
                    | Someone famous in
                    cite(title='Source Title') Source Title
    .card
        img.card-img-top(src='holder.js/100px160/', alt='Card image cap')
        .card-body
            h5.card-title Card title
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            p.card-text
                small.text-muted Last updated 3 mins ago
    .card.bg-primary.text-white.text-center.p-3
        blockquote.blockquote.mb-0
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
            footer.blockquote-footer
                small
                    | Someone famous in
                    cite(title='Source Title') Source Title
    .card.text-center
        .card-body
            h5.card-title Card title
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            p.card-text
                small.text-muted Last updated 3 mins ago
    .card
        img.card-img(src='holder.js/100px260/', alt='Card image')
    .card.p-3.text-right
        blockquote.blockquote.mb-0
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer.blockquote-footer
                small.text-muted
                    | Someone famous in
                    cite(title='Source Title') Source Title
    .card
        .card-body
            h5.card-title Card title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            p.card-text
                small.text-muted Last updated 3 mins ago
