.mdc-switch
    input#basic-switch.mdc-switch__native-control(type='checkbox' checked role='switch')
    .mdc-switch__background
        .mdc-switch__knob
label.mdc-switch-label(for='basic-switch') off/on
