.mdc-switch(style="display: flex;")
    .mdc-switch__track
    .mdc-switch__thumb-underlay
      .mdc-switch__thumb
        input#hero-switch.mdc-switch__native-control(type="checkbox" role="switch" checked="")
    label(for="hero-switch") off/on
