.demo-switch-wrapper
    .mdc-switch.demo-switch--custom
        input#basic-switch-custom.mdc-switch__native-control(type='checkbox', role='switch', checked='')
        .mdc-switch__background
            .mdc-switch__knob
    label.mdc-switch-label(for='basic-switch-custom') custom color
