.mdc-switch
    input#basic-switch--disabled.mdc-switch__native-control(type='checkbox', role='switch', disabled='')
    .mdc-switch__background
        .mdc-switch__knob
label.mdc-switch-label(for='basic-switch--disabled') off/on