// alert with warning modifier
.alert.alert--warning
    .alert__icon(aria-hidden="true")
    .alert__content
        .alert__title Alert met waarschuwings indicatie
        .alert__message
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut earum perspiciatis voluptatem in labore repudiandae!.
