.alert.alert--cta
    .alert__content
        .alert__title Alert met call to action
        .alert__message
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .alert__actions
            a.button(href="#") Call to action
