.js-dynamic-drawers
    .grid.grid--is-stacked
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-1') Show the drawer component 1
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea consequatur at iusto perferendis fugiat, laudantium odit aspernatur numquam exercitationem, asperiores optio a consectetur sequi similique suscipit ipsam, et deserunt quasi accusantium modi architecto illo! Consequuntur voluptas deleniti natus explicabo aperiam accusantium, voluptate dolore, quasi minus aliquam sunt rem inventore sint reiciendis repudiandae architecto quidem, eum ipsam optio animi itaque possimus adipisci, earum corrupti. Aliquam quod sint ab unde sit quas sapiente, perferendis atque, tempore corporis ratione voluptatibus voluptas tempora vitae fuga at tenetur quasi repellendus officiis harum temporibus, adipisci suscipit nihil. Labore ex temporibus nemo similique tenetur rerum sapiente quas.
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-2') Show the drawer component 2
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 2
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-3') Show the drawer component 3
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 3
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-4') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-5') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-6') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-7') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-8') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
        .col--3-12.col--6-12--m.col--1-1--s.js-dynamic-drawer
            a.toggle--arrow-down.js-dynamic-drawer__toggle(href='#dynamic-drawer-9') Show the drawer component 4
            .col--1-1.js-dynamic-drawer__content(tabindex='-1')
                .dynamic-drawer
                    button.link.link--icon--close.dynamic-drawer__close.js-dynamic-drawer__close(title='sluiten')
                        span.u-visually-hidden Venster sluiten
                    p Content to show in drawer 4
