div(style="height: 150px;")
    button.c-button.c-button--default(data-dropdown="dropdownMenu" data-dropdown-autosize="true")
        .c-button__content
            .c-button__label Open dropdown
            +icon('arrows/caret-down')

.c-menu(id="dropdownMenu")
    a.c-menu__item(href="#")
        .c-menu__label Item A
    a.c-menu__item(href="#")
        .c-menu__label Item B
    a.c-menu__item(href="#")
        .c-menu__label Item C
    .c-menu__divider
    a.c-menu__item(href="#")
        .c-menu__label Extra Item
