.grid.grid--is-stacked
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--s.badge--initials
            span ED
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--m.badge--initials
            span AR
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--l.badge--initials
            span FD
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--xl.badge--initials
            span FD
