h2.h3 Badge (block)
.grid.grid--is-stacked
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--alt.badge--block.badge--m.badge--initials
            span ED
        .badge.badge--alt.badge--inline-block.badge--m.badge--initials
            span ED
// end component
