.grid.grid--is-stacked
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--s
            img.badge__img(src="https://placehold.it/150x150" alt="badge example")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--m
            img.badge__img(src="https://placehold.it/150x150" alt="badge example")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--l
            img.badge__img(src="https://placehold.it/150x150" alt="badge example")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--xl
            img.badge__img(src="https://placehold.it/150x150" alt="badge example")
