.grid.grid--is-stacked
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--s.badge--icon
            i.badge__icon.vi.vi-calendar(aria-hidden="true")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--m.badge--icon.badge--icon--highlighted
            i.badge__icon.vi.vi-calendar(aria-hidden="true")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--l.badge--icon
            i.badge__icon.vi.vi-plus(aria-hidden="true")
    .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
        .badge.badge--border.badge--xl.badge--icon
            i.badge__icon.vi.vi-minus(aria-hidden="true")
