.c-menu.c-menu--visible.js-no-action
    a.c-menu__item(href="#")
        .c-menu__label Item 1
    a.c-menu__item(href="#")
        .c-menu__label Item 2
    a.c-menu__item(href="#")
        .c-menu__label Item 3