.c-menu.c-menu--visible.js-no-action
    a.c-menu__item(href="#")
        .c-menu__label
            +icon('more-horizontal')
            | Item A
    a.c-menu__item(href="#")
        .c-menu__label
            +icon('more-horizontal')
            | Item B
    a.c-menu__item(href="#")
        .c-menu__label
            +icon('more-horizontal')
            | Item C
    .c-menu__divider
    a.c-menu__item(href="#")
        .c-menu__label
            +icon('more-horizontal')
            | Extra item
