extends /templates/_layouts/master

block body

    header.c-header
        .c-navbar
            a.c-brand(href='/')
                img(src='../images/jungle-logo.svg', alt='Jungle design system logo')
                .u-sr-accessible Jungle Design System
            nav.c-nav
                ul
                    li.c-nav__item(class=isHome ? "c-nav__item--active" : "")
                        a(href="/") Home
                    li.c-nav__item(class=pathname.match(/blog/) ? "c-nav__item--active" : "")
                        a(href="/blog/overview.html") Blog
                    li.c-nav__item
                        a(href='/styleguide' target="_blank")
                            | Documentation
                            svg(style="margin-left: 0.4rem; position: relative; top: 0.4rem; opacity: 0.5;" width="18" height="18" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M16 22H5C3.346 22 2 20.654 2 19V8C2 6.346 3.346 5 5 5H11C11.552 5 12 5.448 12 6C12 6.552 11.552 7 11 7H5C4.449 7 4 7.449 4 8V19C4 19.552 4.449 20 5 20H16C16.552 20 17 19.552 17 19V13C17 12.448 17.447 12 18 12C18.553 12 19 12.448 19 13V19C19 20.654 17.654 22 16 22Z" fill="black")
                              path(d="M21 10C20.447 10 20 9.552 20 9V4H15C14.447 4 14 3.552 14 3C14 2.448 14.447 2 15 2H21C21.553 2 22 2.448 22 3V9C22 9.552 21.553 10 21 10Z" fill="black")
                              path(d="M10 14.9998C9.74401 14.9998 9.48801 14.9018 9.29301 14.7068C8.90201 14.3158 8.90201 13.6838 9.29301 13.2928L20.293 2.29276C20.684 1.90176 21.316 1.90176 21.707 2.29276C22.098 2.68376 22.098 3.31576 21.707 3.70676L10.707 14.7068C10.512 14.9018 10.256 14.9998 10 14.9998Z" fill="black")

            nav.c-social
                ul
                    li.c-social__item
                        a(href='https://github.com/mono-company/jungle-css')
                            .o-svg-icon
                                svg(width='24', height='24', viewBox='0 0 24 24')
                                    path(d=' M15.5714 21C15.0703 21 14.7363 20.6705 14.7363 20.1762V16.9633C14.8198 16.3043 14.5692 15.81 14.1516 15.3981C13.9011 15.151 13.8176 14.8214 13.9846 14.5743C14.0681 14.2448 14.4022 14.08 14.6527 13.9976C17.0747 13.7505 19.3297 12.9267 19.3297 9.05478C19.3297 8.14859 18.9956 7.2424 18.3275 6.50097C18.0769 6.25383 18.0769 5.92431 18.1604 5.67717C18.411 5.01812 18.411 4.35907 18.244 3.70002C17.8264 3.78241 17.1582 4.02955 16.0725 4.77098C15.9055 4.93574 15.6549 4.93574 15.4044 4.85336C13.6505 4.35907 11.7297 4.35907 9.97581 4.85336C9.72526 4.93574 9.47471 4.93574 9.22416 4.77098C8.22196 4.11193 7.47031 3.86479 7.05272 3.78241C6.88569 4.35907 6.88569 5.1005 7.13624 5.67717C7.21976 6.00669 7.21976 6.33621 6.96921 6.50097C6.30107 7.2424 5.96701 8.14859 5.96701 9.13716C5.96701 13.0091 8.22196 13.8329 10.6439 14.08C10.978 14.08 11.2286 14.3272 11.3121 14.6567C11.3956 14.9862 11.3121 15.3157 11.145 15.4805C10.7275 15.8924 10.5604 16.3867 10.5604 16.9633V17.7048V17.7871V20.1762C10.5604 20.6705 10.2264 21 9.72526 21C9.22416 21 8.89009 20.6705 8.89009 20.1762V18.7757C6.38459 19.1876 5.29888 17.7871 4.54723 16.881C4.21316 16.4691 3.96261 16.1395 3.62854 16.0571C3.21096 15.9748 2.87689 15.4805 3.04393 15.0686C3.12744 14.6567 3.62854 14.3272 4.04613 14.4919C4.88129 14.7391 5.38239 15.3157 5.88349 15.8924C6.55163 16.7986 7.13624 17.4576 8.89009 17.1281V17.0457C8.89009 16.5514 8.97361 15.9748 9.14064 15.5629C6.80217 15.0686 4.29668 13.5857 4.29668 9.21954C4.29668 7.98383 4.71426 6.8305 5.46591 5.92431C5.13184 4.77098 5.21536 3.61764 5.71646 2.54669C5.79998 2.29955 5.96701 2.13479 6.21756 2.05241C6.55162 2.05241 7.63734 1.88765 9.89229 3.20574C11.7297 2.79384 13.6505 2.79384 15.4044 3.20574C17.5758 1.80527 18.7451 1.97003 19.0791 2.05241C19.3297 2.13479 19.4967 2.29955 19.5802 2.54669C19.9978 3.61764 20.0813 4.6886 19.8308 5.75955C20.5824 6.66573 21 7.81907 21 9.05478C21 13.7505 18.1604 14.9862 16.156 15.4805C16.3231 15.9748 16.4066 16.5514 16.4066 17.0457V20.1762C16.4066 20.6705 16.0725 21 15.5714 21Z')
                    li.c-social__item
                        a(href='https://twitter.com/junglecss')
                            .o-svg-icon
                                svg(width='24', height='24', viewBox='0 0 24 24')
                                    path(d=' M9.19797 19C7.2488 19 5.25162 18.4798 3.38569 17.441C3.08195 17.2719 2.93421 16.9164 3.02795 16.5811C3.1217 16.2451 3.44869 16.0031 3.77943 16.0332C5.05813 16.085 6.29933 15.8347 7.43704 15.3063C4.65014 13.5835 3.92867 11.1473 3.84467 9.30122C3.74418 7.08229 4.53165 5.27904 4.56465 5.20312C4.67414 4.95657 4.90813 4.78745 5.17737 4.76114C5.44511 4.73408 5.70835 4.8551 5.8636 5.07684C7.1213 6.87107 9.09673 7.98429 11.2499 8.14515C11.2394 6.94774 11.7531 5.80145 12.6628 5.00919C14.2408 3.63288 16.5792 3.68249 18.1001 5.04677C18.7091 4.82277 19.2843 4.51985 19.8176 4.14327C20.0733 3.96286 20.4131 3.95986 20.6718 4.1365C20.9305 4.31314 21.0528 4.6311 20.9785 4.93552C20.7213 5.99312 20.2076 6.96729 19.4823 7.77232C19.4936 7.89334 19.4988 8.01511 19.4996 8.13763C19.4996 12.2598 17.6787 15.6964 14.504 17.5688C12.8848 18.5234 11.0632 19 9.19797 19ZM6.71932 17.1757C9.15673 17.8041 11.6519 17.5064 13.7436 16.2729C16.4487 14.6772 17.9996 11.7133 17.9996 8.13989C17.9989 7.97828 17.9839 7.81592 17.9531 7.65807C17.9059 7.41077 17.9839 7.15671 18.1624 6.98082C18.3296 6.81545 18.4849 6.63956 18.6259 6.4539C18.4556 6.51628 18.2846 6.57416 18.1099 6.62678C17.8302 6.71247 17.5219 6.62377 17.3277 6.40053C16.3842 5.31211 14.732 5.19635 13.6461 6.14346C13.0663 6.64933 12.7393 7.38145 12.7498 8.15267V8.91411C12.7498 9.32151 12.4259 9.6545 12.0194 9.66578C9.56021 9.73794 7.2323 8.76603 5.54711 7.0402C5.10013 8.95921 4.92313 12.6424 9.30447 14.5937C9.55346 14.7042 9.72295 14.9425 9.74695 15.2138C9.77095 15.4852 9.64646 15.749 9.42072 15.9024C8.5815 16.4736 7.67178 16.9006 6.71932 17.1757Z')
            .c-nav-toggle
                svg.c-nav-open.c-nav-open--active(width='24', height='24', viewBox='0 0 24 24', fill='none')
                    path(d='M21 13H3C2.4 13 2 12.6 2 12C2 11.4 2.4 11 3 11H21C21.6 11 22 11.4 22 12C22 12.6 21.6 13 21 13Z', fill='black')
                    path(d='M21 7H3C2.4 7 2 6.6 2 6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6C22 6.6 21.6 7 21 7Z', fill='black')
                    path(d='M21 19H3C2.4 19 2 18.6 2 18C2 17.4 2.4 17 3 17H21C21.6 17 22 17.4 22 18C22 18.6 21.6 19 21 19Z', fill='black')
                svg.c-nav-close(width='24', height='24', viewBox='0 0 24 24', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    line(x1='18', y1='6', x2='6', y2='18')
                    line(x1='6', y1='6', x2='18', y2='18')
    nav.c-nav-mobile
        ul
            li.c-nav-mobile__item.c-nav-mobile__item--active
                a(href='/') Home
            li.c-nav-mobile__item
                a(href='/styleguide') Documentation
            li.c-nav-mobile__item
                a(href='/blog') Blog
        ul.c-social-mobile
            li.c-social__item
                a(href='#')
                    .o-svg-icon
                        svg(width='24', height='24', viewBox='0 0 24 24')
                            path(d=' M15.5714 21C15.0703 21 14.7363 20.6705 14.7363 20.1762V16.9633C14.8198 16.3043 14.5692 15.81 14.1516 15.3981C13.9011 15.151 13.8176 14.8214 13.9846 14.5743C14.0681 14.2448 14.4022 14.08 14.6527 13.9976C17.0747 13.7505 19.3297 12.9267 19.3297 9.05478C19.3297 8.14859 18.9956 7.2424 18.3275 6.50097C18.0769 6.25383 18.0769 5.92431 18.1604 5.67717C18.411 5.01812 18.411 4.35907 18.244 3.70002C17.8264 3.78241 17.1582 4.02955 16.0725 4.77098C15.9055 4.93574 15.6549 4.93574 15.4044 4.85336C13.6505 4.35907 11.7297 4.35907 9.97581 4.85336C9.72526 4.93574 9.47471 4.93574 9.22416 4.77098C8.22196 4.11193 7.47031 3.86479 7.05272 3.78241C6.88569 4.35907 6.88569 5.1005 7.13624 5.67717C7.21976 6.00669 7.21976 6.33621 6.96921 6.50097C6.30107 7.2424 5.96701 8.14859 5.96701 9.13716C5.96701 13.0091 8.22196 13.8329 10.6439 14.08C10.978 14.08 11.2286 14.3272 11.3121 14.6567C11.3956 14.9862 11.3121 15.3157 11.145 15.4805C10.7275 15.8924 10.5604 16.3867 10.5604 16.9633V17.7048V17.7871V20.1762C10.5604 20.6705 10.2264 21 9.72526 21C9.22416 21 8.89009 20.6705 8.89009 20.1762V18.7757C6.38459 19.1876 5.29888 17.7871 4.54723 16.881C4.21316 16.4691 3.96261 16.1395 3.62854 16.0571C3.21096 15.9748 2.87689 15.4805 3.04393 15.0686C3.12744 14.6567 3.62854 14.3272 4.04613 14.4919C4.88129 14.7391 5.38239 15.3157 5.88349 15.8924C6.55163 16.7986 7.13624 17.4576 8.89009 17.1281V17.0457C8.89009 16.5514 8.97361 15.9748 9.14064 15.5629C6.80217 15.0686 4.29668 13.5857 4.29668 9.21954C4.29668 7.98383 4.71426 6.8305 5.46591 5.92431C5.13184 4.77098 5.21536 3.61764 5.71646 2.54669C5.79998 2.29955 5.96701 2.13479 6.21756 2.05241C6.55162 2.05241 7.63734 1.88765 9.89229 3.20574C11.7297 2.79384 13.6505 2.79384 15.4044 3.20574C17.5758 1.80527 18.7451 1.97003 19.0791 2.05241C19.3297 2.13479 19.4967 2.29955 19.5802 2.54669C19.9978 3.61764 20.0813 4.6886 19.8308 5.75955C20.5824 6.66573 21 7.81907 21 9.05478C21 13.7505 18.1604 14.9862 16.156 15.4805C16.3231 15.9748 16.4066 16.5514 16.4066 17.0457V20.1762C16.4066 20.6705 16.0725 21 15.5714 21Z')
            li.c-social__item
                a(href='#')
                    .o-svg-icon
                        svg(width='24', height='24', viewBox='0 0 24 24')
                            path(d=' M9.19797 19C7.2488 19 5.25162 18.4798 3.38569 17.441C3.08195 17.2719 2.93421 16.9164 3.02795 16.5811C3.1217 16.2451 3.44869 16.0031 3.77943 16.0332C5.05813 16.085 6.29933 15.8347 7.43704 15.3063C4.65014 13.5835 3.92867 11.1473 3.84467 9.30122C3.74418 7.08229 4.53165 5.27904 4.56465 5.20312C4.67414 4.95657 4.90813 4.78745 5.17737 4.76114C5.44511 4.73408 5.70835 4.8551 5.8636 5.07684C7.1213 6.87107 9.09673 7.98429 11.2499 8.14515C11.2394 6.94774 11.7531 5.80145 12.6628 5.00919C14.2408 3.63288 16.5792 3.68249 18.1001 5.04677C18.7091 4.82277 19.2843 4.51985 19.8176 4.14327C20.0733 3.96286 20.4131 3.95986 20.6718 4.1365C20.9305 4.31314 21.0528 4.6311 20.9785 4.93552C20.7213 5.99312 20.2076 6.96729 19.4823 7.77232C19.4936 7.89334 19.4988 8.01511 19.4996 8.13763C19.4996 12.2598 17.6787 15.6964 14.504 17.5688C12.8848 18.5234 11.0632 19 9.19797 19ZM6.71932 17.1757C9.15673 17.8041 11.6519 17.5064 13.7436 16.2729C16.4487 14.6772 17.9996 11.7133 17.9996 8.13989C17.9989 7.97828 17.9839 7.81592 17.9531 7.65807C17.9059 7.41077 17.9839 7.15671 18.1624 6.98082C18.3296 6.81545 18.4849 6.63956 18.6259 6.4539C18.4556 6.51628 18.2846 6.57416 18.1099 6.62678C17.8302 6.71247 17.5219 6.62377 17.3277 6.40053C16.3842 5.31211 14.732 5.19635 13.6461 6.14346C13.0663 6.64933 12.7393 7.38145 12.7498 8.15267V8.91411C12.7498 9.32151 12.4259 9.6545 12.0194 9.66578C9.56021 9.73794 7.2323 8.76603 5.54711 7.0402C5.10013 8.95921 4.92313 12.6424 9.30447 14.5937C9.55346 14.7042 9.72295 14.9425 9.74695 15.2138C9.77095 15.4852 9.64646 15.749 9.42072 15.9024C8.5815 16.4736 7.67178 16.9006 6.71932 17.1757Z')
    main.c-main
        section.o-container-vertical
            block content
                // Content here
