- var shortContent = 'Lorem ipsum dolor sit amet';
- var longContent = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '.repeat(5).trim()
- var samples = [];
- samples.push({name: 'Content heading 1', code: '<h1>' + shortContent + '</h1>'})
- samples.push({name: 'Content heading 2',code: '<h2>' + shortContent + '</h2>'})
- samples.push({name: 'Content heading 3', code: '<h3>' + shortContent + '</h3>'})
- samples.push({name: 'Content heading 4', code: '<h4>' + shortContent + '</h4>'})
- samples.push({name: 'Content heading text', code: '<p>' + longContent + '</p>'})
- samples.push({name: 'Blockquote', code: '<blockquote>' + longContent + '</blockquote>'})

table
    each sample in samples
        tr
            td
                = sample.name
                br
                span.br-typography-sample-size= sample.size
            td
                .br-typography-sample-content!= sample.code
                pre= sample.code
