.u-text-center
    .c-spinner
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        .c-spinner__bar
        | Loading
