.c-spinner.c-spinner--large
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    .c-spinner__bar
    | Loading
