span.badge.badge-primary Primary
span.badge.badge-secondary Secondary
span.badge.badge-success Success
span.badge.badge-danger Danger
span.badge.badge-warning Warning
span.badge.badge-info Info
span.badge.badge-light Light
span.badge.badge-dark Dark
