a.badge.badge-primary(href='#') Primary
a.badge.badge-secondary(href='#') Secondary
a.badge.badge-success(href='#') Success
a.badge.badge-danger(href='#') Danger
a.badge.badge-warning(href='#') Warning
a.badge.badge-info(href='#') Info
a.badge.badge-light(href='#') Light
a.badge.badge-dark(href='#') Dark
