h1
  | Example heading
  span.badge.badge-secondary New
h2
  | Example heading
  span.badge.badge-secondary New
h3
  | Example heading
  span.badge.badge-secondary New
h4
  | Example heading
  span.badge.badge-secondary New
h5
  | Example heading
  span.badge.badge-secondary New
h6
  | Example heading
  span.badge.badge-secondary New

