/* ==========================================================================
  Colors
  Only define colors here.
    * Try to describe your color, for example soft-yellow, mid-blue
    * Don't use sass color functions, stick to hex values, or the colors
      component in styleguide won't regenerate automatically anymore
 ========================================================================== */

/* Category 1
 ========================================================================== */

$black: #000;
$gray-darker: #666;

/* Category 2
 ========================================================================== */

$red: #F00;
$soft-yellow: #FFC;