.mdc-form-field
    each item, index in ["Item 1", "Item 2", "Item 3"]
        .mdc-checkbox
            input.mdc-checkbox__native-control(type="checkbox",id="checkbox-"+index)
            .mdc-checkbox__background
                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                    path.mdc-checkbox__checkmark-path(fill="none",stroke="white",d="M1.73,12.91 8.1,19.28 22.79,4.59")
                .mdc-checkbox__mixedmark
        label(for="checkbox-"+index) #{item}
